<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Vertrauen Sie Ihrem Bauchgefühl und gehen Sie allen Hinweisen nach. 
    <br/>

  <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/97DEFF.svg"/>
        </ion-col>
        <ion-col col-9>
            Dokumentieren Sie die Informationen so genau wie möglich in Ihren eigenen Unterlagen. 
        </ion-col>
      </ion-row>
    </ion-grid> 
    <br/>
    Dazu gehört: 
    <ul>
      <li>Was konkret haben Sie beobachtet?</li>
      <li>Wie lange oder über welchen Zeitraum haben Sie es beobachtet?</li>
      <li>Wer kann Ihre Beobachtungen ggf. bestätigen /teilen?</li>
      <li>Wie gewichtig ist die Gefährdung im Verhältnis zum Alter des Kindes / der*des Jugendlichen? </li>
    </ul>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>