<!--
  Generated template for the Advice0104Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
      <img src="assets/imgs/97DEFF.svg"/>
      </ion-col>
      <ion-col col-9>
          Dokumentieren Sie die konkreten Beobachtungen, Fakten und Entscheidungen so genau wie möglich. 
        </ion-col>
    </ion-row>
    </ion-grid><br/><br/>
    Dazu gehört auch: <br/>
      <br/>
      <ul>
        <li>Was genau haben Sie beobachtet und worin befürchten Sie die Gefährdung?</li>                          
        <li>Wie lange oder über welchen Zeitraum haben Sie dies beobachtet?</li>
        <li>Wer kann Ihre Beobachtungen bestätigen?</li>
        <li>Sind Sie aufgrund der Beobachtungen tätig geworden / haben Entscheidungen getroffen? </li>
      </ul>

        <button ion-button class="botton" (click)="closeAdvice()">Ok</button>
</ion-content>
