<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SGB VIII</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    § 8a SGB VIII<br/>
    (1) Werden dem Jugendamt gewichtige Anhaltspunkte für die Gefährdung des Wohls eines Kindes oder Jugendlichen bekannt, so hat es das Gefährdungsrisiko im Zusammenwirken mehrerer Fachkräfte einzuschätzen. Soweit der wirksame Schutz dieses Kindes oder dieses Jugendlichen nicht in Frage gestellt wird, hat das Jugendamt die Erziehungsberechtigten sowie das Kind oder den Jugendlichen in die Gefährdungseinschätzung einzubeziehen und, sofern dies nach fachlicher Einschätzung erforderlich ist, sich dabei einen unmittelbaren Eindruck von dem Kind und von seiner persönlichen Umgebung zu verschaffen. Hält das Jugendamt zur Abwendung der Gefährdung die Gewährung von Hilfen für geeignet und notwendig, so hat es diese den Erziehungsberechtigten anzubieten.
    <br/><br/>
    (2) Hält das Jugendamt das Tätigwerden des Familiengerichts für erforderlich, so hat es das Gericht anzurufen; dies gilt auch, wenn die Erziehungsberechtigten nicht bereit oder in der Lage sind, bei der Abschätzung des Gefährdungsrisikos mitzuwirken. Besteht eine dringende Gefahr und kann die Entscheidung des Gerichts nicht abgewartet werden, so ist das Jugendamt verpflichtet, das Kind oder den Jugendlichen in Obhut zu nehmen.
  <br/><br/>
    (3) Soweit zur Abwendung der Gefährdung das Tätigwerden anderer Leistungsträger, der Einrichtungen der Gesundheitshilfe oder der Polizei notwendig ist, hat das Jugendamt auf die Inanspruchnahme durch die Erziehungsberechtigten hinzuwirken. Ist ein sofortiges Tätigwerden erforderlich und wirken die Personensorgeberechtigten oder die Erziehungsberechtigten nicht mit, so schaltet das Jugendamt die anderen zur Abwendung der Gefährdung zuständigen Stellen selbst ein.
  <br/><br/>
    (4) In Vereinbarungen mit den Trägern von Einrichtungen und Diensten, die Leistungen nach diesem Buch erbringen, ist sicherzustellen, dass
    <ol>
        <li>deren Fachkräfte bei Bekanntwerden gewichtiger Anhaltspunkte für die Gefährdung eines von ihnen betreuten Kindes oder Jugendlichen eine Gefährdungseinschätzung vornehmen,</li>
        <li>bei der Gefährdungseinschätzung eine insoweit erfahrene Fachkraft beratend hinzugezogen wird sowie</li>
        <li>die Erziehungsberechtigten sowie das Kind oder der Jugendliche in die Gefährdungseinschätzung einbezogen werden, soweit hierdurch der wirksame Schutz des Kindes oder Jugendlichen nicht in Frage gestellt wird.</li>
      </ol>
    <br/>
    In die Vereinbarung ist neben den Kriterien für die Qualifikation der beratend hinzuzuziehenden insoweit erfahrenen Fachkraft insbesondere die Verpflichtung aufzunehmen, dass die Fachkräfte der Träger bei den Erziehungsberechtigten auf die Inanspruchnahme von Hilfen hinwirken, wenn sie diese für erforderlich halten, und das Jugendamt informieren, falls die Gefährdung nicht anders abgewendet werden kann.
    <br/><br/>
    (5) Werden einem örtlichen Träger gewichtige Anhaltspunkte für die Gefährdung des Wohls eines Kindes oder eines Jugendlichen bekannt, so sind dem für die Gewährung von Leistungen zuständigen örtlichen Träger die Daten mitzuteilen, deren Kenntnis zur Wahrnehmung des Schutzauftrags bei Kindeswohlgefährdung nach § 8a erforderlich ist. Die Mitteilung soll im Rahmen eines Gespräches zwischen den Fachkräften der beiden örtlichen Träger erfolgen, an dem die Personensorgeberechtigten sowie das Kind oder der Jugendliche beteiligt werden sollen, soweit hierdurch der wirksame Schutz des Kindes oder des Jugendlichen nicht in Frage gestellt wird.
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

