<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Die Anruf-Funktion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Sie können in der Kinderschutz-App Ihre Ansprechpartner*innen mit den jeweiligen Kontaktdaten und Kompetenzprofilen speichern, bearbeiten und anrufen.
<br/><br/>
    Gehen Sie hierzu im Menü auf „Kontakte“ und geben Sie die entsprechenden Daten ein.
    <br/><br/>
    Im Sinne des Datenschutzes ist folgender Hinweis wichtig: Speichern Sie nur öffentlich zugängliche Kontaktinformationen oder bitten Sie den*die Ansprechpartner*in um die Erlaubnis, die Kontaktdaten zu speichern.  
  <br/>
  <br/>


  <br/>
  <br/>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>