<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Häusliche Gewalt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Häusliche Gewalt ist jegliche Art körperlicher, seelischer, sexueller, sozialer oder finanzieller Gewalt zwischen Erwachsenen in einer (zum Teil auch ehemaligen) Paarbeziehung. 
<br/><br/>
    Diese Gewalt wird von den im Haushalt lebenden Kindern oder Jugendlichen unmittelbar oder indirekt wahrgenommen, auch wenn sie augenscheinlich nicht selbst direkt betroffen sind.
    <br/><br/>
    Häusliche Gewalt kann sehr massive und nachhaltige negative Auswirkungen auf die Entwicklung und Gesundheit der Kinder haben.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>