<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gesetze</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuFiContentA')">Grundgesetz</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFiContentB')">Bürgerliches Gesetzbuch</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFiContentC')">SGB VIII</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFiContentD')">KKG</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFiContentE')">Strafgesetzbuch</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFiContentF')">Schutz von Sozialdaten</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>