<!--
  Generated template for the MnuNcContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Datensicherheit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
    Ihre gespeicherten Daten sind passwortgeschützt und verschlüsselt. <br/><br/>

    Um die Datensicherheit zu gewährleisten sollten Sie Passwörter nutzen, die mindestens 8 Zeichen unterschiedlicher Art enthalten (Zahlen, Buchstaben und Sonderzeichen).<br/><br/>

    Wenn Sie Links in der Kinderschutz-App öffnen, werden Sie nicht automatisch ausgeloggt. Die Kinderschutz-App bleibt geöffnet.
<br/><br/>
Lassen Sie Ihr Smartphone nicht unbeaufsichtigt. Vermeiden Sie Zugriffe Dritter auf Ihr Smartphone und nutzen Sie aktuelle Antivirenprogramme.


    <br/><br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>
