<!--
  Generated template for the Advice0125Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/F9A42D.svg"/>
    </ion-col>
    <ion-col col-9>
      In bestimmten Fällen oder in besonderen Fallkonstellationen ist es unter Umständen nicht ratsam, das Kind direkt anzusprechen.
      </ion-col>
  </ion-row>
  </ion-grid>
  Dies gilt zum Beispiel für Fälle, in denen:<br/>
  <ul>
    <li>starke Loyalitätskonflikte möglich sind,</li>
    <li>Retraumatisierungen drohen oder </li>
    <li>das Kind, sofern es jemandem von den Gesprächen berichtet, unter Druck gesetzt oder zusätzliche Gewalt erfahren kann.
    </li>
  </ul>
  <br/>
  <ion-grid>
    <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png"/>
  </ion-col>
  <ion-col col-9>
    Besprechen Sie Ihren Verdacht mit der insoweit erfahrenen Fachkraft.

    </ion-col>
</ion-row>
</ion-grid>
<br/>
Sollten Sie zu dem Schluss kommen, dass ein Gespräch das Risiko für das Kind erhöht, sollten Sie diesen Schritt nicht ausführen und überlegen, wie Sie stattdessen vorgehen könnten.
<br/><br/>
Hinweis: Die Beteiligung eines Kindes/eine*r Jugendliche*n muss nicht immer über ein direktes Gespräch erfolgen. Auch andere Formen der Beteiligung sind möglich (z.B. Beobachtung oder andere Formen der Interaktion). Lassen Sie sich auch hierzu von der insoweit erfahrenen Fachkraft beraten.
 <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
