<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ihre Notizen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Sie können zu allen Fragen eigene Notizen hinterlegen, die dazu dienen, Ihr Verfahren abzusichern oder Ihre Arbeit weiter zu entwickeln.
  <br/><br/>
  Ob Sie Gedankenstützen zum Handlungsschritt, Querverweise auf Ihre Dokumentation oder Niederschriften dazu wie Sie diesen Handlungsschritt gut absolviert haben, hinterlegen, ist Ihnen überlassen.
  <br/><br/>
  Bitte beachten Sie dabei Folgendes: Sie können <b>Notizen nur in beantworteten Fragen speichern.</b> Wird die Antwort auf eine Frage verändert, wird das Notizfeld automatisch geleert.
<br/>

  <br/> Im Sinne des Datenschutzes ist jedoch folgender Hinweis wichtig: Speichern Sie niemals inhaltliche Daten oder personenbezogene Daten zum Einzelfall in der Kinderschutz-App.
  <br/>
  <br/> Um Notizen einzugeben, gehen Sie in der jeweiligen Frage auf „Notizen“ und betätigen nach der Texteinabe den Button „Speichern“, um Ihre Eingaben dauerhaft zu sichern.
  <br/>
  <br/>


  <br/>
  <br/>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>