<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>3/5 Hilfen anbieten</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 16 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja16()" checked="{{checked16a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein16()" checked="{{checked16b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Mein Verdacht bleibt bestehen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0316')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(215)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 17 -->
    <ion-list [hidden]=hideMe17>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja17()" checked="{{checked17a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein17()" checked="{{checked17b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Eltern sind bereit und in der Lage ihr Kind selbst zu schützen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0317')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(216)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!--Frage 18-->
    <ion-list [hidden]=hideMe18>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja18()" checked="{{checked18a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein18()" checked="{{checked18b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich überlege Hilfen anzubieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0318')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(217)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 19-->
    <ion-list [hidden]=hideMe19>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja19()" checked="{{checked19a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein19()" checked="{{checked19b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Eltern Hilfen anzubieten oder auf die Inanspruchnahme von Hilfen hinzuwirken erhöht das Risiko der Gefährdung für das Kind/den*die Jugendliche*n weiter
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0319')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(218)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 19b-->
        <ion-list [hidden]=hideMe19b>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja19b()" checked="{{checked19ba}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein19b()" checked="{{checked19bb}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Dem Kind/dem*der Jugendlichen Hilfen anzubieten oder auf die Inanspruchnahme von Hilfen hinzuwirken erhöht das Risiko der Gefährdung weiter
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0319b')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(219)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    
    <!--Frage 20a (formerly deleted 20)-->
    <ion-list [hidden]=hideMe20>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja20()" checked="{{checked20a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein20()" checked="{{checked20b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Eltern sind bereit und in der Lage Hilfen anzunehmen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0320')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(220)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 21-->
    <ion-list [hidden]=hideMe21>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja21()" checked="{{checked21a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein21()" checked="{{checked21b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich als Fach-/Lehrkraft kann eigene Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0321')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(221)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 22-->
    <ion-list [hidden]=hideMe22>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja22()" checked="{{checked22a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein22()" checked="{{checked22b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Mein*e Kolleg*in kann Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0322')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(222)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 23-->
    <ion-list [hidden]=hideMe23>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja23()" checked="{{checked23a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein23()" checked="{{checked23b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Meine Schule/mein Schulamt kann Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0323')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(223)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 24-->
    <ion-list [hidden]=hideMe24>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja24()" checked="{{checked24a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein24()" checked="{{checked24b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich kann an Hilfen anderer Träger vermitteln
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0324')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(224)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 25-->
    <ion-list [hidden]=hideMe25>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja25()" checked="{{checked25a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein25()" checked="{{checked25b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich habe alle denkbaren Hilfeoptionen geprüft
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0325')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(225)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 25b-->
    <ion-list [hidden]=hideMe25b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja25b()" checked="{{checked25ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein25b()" checked="{{checked25bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bin mir sicher, dass die Hilfen, die ich anbieten kann, oder auf die ich verweisen kann, ausreichend sind
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0325b')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(226)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 25c-->
    <ion-list [hidden]=hideMe25c>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja25c()" checked="{{checked25ca}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein25c()" checked="{{checked25cb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich habe den Eltern Hilfen zur Abwendung der Kindeswohlgefährdung angeboten bzw. an sie vermittelt
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0325c')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(227)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 25d-->
    <ion-list [hidden]=hideMe25d>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja25d()" checked="{{checked25da}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein25d()" checked="{{checked25db}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich bin mir sicher, dass die Hilfen, die ich anbieten oder auf die ich verweisen kann, ausreichend sind. 
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0325d')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(2271)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
      <!--Frage 25e-->
      <ion-list [hidden]=hideMe25e>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja25e()" checked="{{checked25ea}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein25e()" checked="{{checked25eb}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Meiner Einschätzung nach ist die Kindeswohlgefährdung damit abgewendet
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0325e')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(2272)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
      
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>