<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Die Entscheidung darüber, ob der Verdacht einer Gefährdung bestehen bleibt, liegt bei Ihnen.
<br/><br/>
      Die insoweit erfahrene Fachkraft hat eine reine Beratungsfunktion.
      <br/><br/>
      Sollten Sie dabei zu unterschiedlichen Einschätzungen kommen, ist es sinnvoll, den Beratungsprozess erneut zu durchlaufen oder anpassen.        
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>