<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>An- und Abmelden</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Um Ihre Daten und Eingaben dauerhaft auf dem Smartphone zu speichern, müssen Sie sich:
  <br/>
  <br/>
  <ol>
    <li>Einmalig als Nutzer*in registrieren.</li>
    <li>Sich vor Gebrauch der Checklisten anmelden.</li>
    <li>Sich nach Gebrauch der Checklisten abmelden.</li>
  </ol>
  <br/> Berühren Sie hierzu die jeweiligen Buttons in der oberen Menüzeile und folgen Sie den Anweisungen.<br/><br/>

  Hinweis: Wenn Sie Ihr Passwort 10-mal falsch eingeben, werden zur Sicherheit alle Datensätze automatisch gelöscht.



  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>