<ion-header>
    <ion-navbar hideBackButton="true">

        <ion-title>3/5 Kind ansprechen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 24 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja24()" checked="{{checked24a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein24()" checked="{{checked24b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Es haben bereits ungeplante Gespräche mit dem Kind/dem*der Jugendlichen stattgefunden
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0124')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(25)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 25 -->
    <ion-list [hidden]=hideMe25>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja25()" checked="{{checked25a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein25()" checked="{{checked25b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Ansprache des Kindes / der*des Jugendlichen erhöht das Risiko einer Gefährdung
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0125')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(26)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 26-->
    <ion-list [hidden]=hideMe26>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja26()" checked="{{checked26a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein26()" checked="{{checked26b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich spreche das Kind/den*die Jugendliche*n an
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0126')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(27)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 27-->
    <ion-list [hidden]=hideMe27>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja27()" checked="{{checked27a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein27()" checked="{{checked27b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich wähle eine angemessene Gesprächssituation
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0127')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(28)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 28-->
    <ion-list [hidden]=hideMe28>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja28()" checked="{{checked28a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein28()" checked="{{checked28b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bin auf das Gespräch vorbereitet
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0128')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(29)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 29-->
    <ion-list [hidden]=hideMe29>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja29()" checked="{{checked29a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein29()" checked="{{checked29b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich lasse mich von eine*r Kolleg*in / meiner Leitungskraft zu dem Gespräch beraten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0129')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(30)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 30-->
    <ion-list [hidden]=hideMe30>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja30()" checked="{{checked30a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein30()" checked="{{checked30b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich lasse mich durch die insoweit erfahrene Fachkraft beraten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0130')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(31)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 30b-->
        <ion-list [hidden]=hideMe30b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja30b()" checked="{{checked30ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein30b()" checked="{{checked30bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                Ich beteilige eine*n Kolleg*in, zu der*dem das Kind / der*die Jugendliche Vertrauen hat, an dem Gespräch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0134a')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(35)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        
    <!--Frage 31-->
    <ion-list [hidden]=hideMe31>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja31()" checked="{{checked31a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein31()" checked="{{checked31b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich übe das Gespräch
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0131')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(32)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 32-->
    <ion-list [hidden]=hideMe32>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja32()" checked="{{checked32a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein32()" checked="{{checked32b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich vermeide Suggestivfragen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0132')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(33)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 33-->
    <ion-list [hidden]=hideMe33>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja33()" checked="{{checked33a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein33()" checked="{{checked33b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich gebe dem Kind / dem*der Jugendliche*n Raum und bedränge es nicht
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0133')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(34)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 34b-->
    <ion-list [hidden]=hideMe34b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja34b()" checked="{{checked34ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein34b()" checked="{{checked34bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Mein Verdacht bleibt bestehen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0134b')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(36)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>