<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Wenn die Eltern Hilfen annehmen oder selbst Maßnahmen ergreifen, die die Gefährdung des Kindeswohls wirkungsvoll abwenden, so endet ihr Verfahren hier.
<br/><br/>
Bitte bleiben Sie jedoch auch weiterhin aufmerksam, denn Gefährdungen können manchmal auch in Phasen oder veränderten Konstellationen wieder eintreten.
    <br/><br/>    
Falls andere Hilfen denkbar sind oder Ihnen weitere Möglichkeiten der Hilfe und Unterstützung sinnvoll erscheinen, so:

    <ul>
      <li>beginnen Sie diese und die vorherige Seite der Checkliste von Neuem und</li>
      <li>löschen Sie dazu ihre bisherigen Angaben.</li>
    </ul>
    Sollten Ihnen keine weiteren Hilfsmöglichkeiten sinnvoll erscheinen oder wird die Kindeswohlgefährdung trotz angebotener Hilfen nicht abgewendet, so wechseln Sie zur nächsten Seite der Checkliste.

    <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
        Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
        Dokumentieren Sie Ihre Entscheidungen und Informationen und archivieren Sie diese (geschützt vor dem Zugriff Dritter), wenn Sie sich dazu entscheiden den Fall zu beenden.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>