 <!--
  Generated template for the Advice0121Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Elterngespräche haben unter anderem den Zweck, Informationen zu teilen, die wichtig für die Einschätzung der Gefährdungssituation sind. Daher müssen Eltern in die Lage versetzt werden, ihre Situation beschreiben zu können..
    <br/><br/>
   
Dementsprechend ist es wichtig, den Eltern das Gefühl zu geben, dass ihnen aufmerksam zugehört wird.

<br/><br/>
Fragen Sie aktiv nach, stellen Sie offene Fragen und geben Sie den Eltern ausreichend Raum, um zu antworten oder zu berichten.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
