<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>An- und Abmelden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Um Ihre Daten und Eingaben dauerhaft auf dem Smartphone zu speichern, müssen Sie sich:
<br/>
  1.	Einmalig Nutzer*in registrieren.<br/>
  2.	Sich vor Gebrauch der Checklisten anmelden.<br/>
  3.	Sich nach Gebrauch der Checklisten abmelden.<br/>
<br/>
  Berühren Sie hierzu die jeweiligen Buttons in der obigen Menüzeile und folgen Sie den Anweisungen.


</ion-content>
