<ion-header primary>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Willkommen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="masters">
<!-- for versionierung 
    <ion-list>
        <button ion-item *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
          {{ film.title }}
        </button>
        </ion-list>
-->

  <br/>
  <div allign="center">
  <img src="assets/imgs/Logo-Kind-klein.png" width="15%"/>
</div>
    <br/><br/>
    <ion-input placeholder="Benutzername" class="eingabe" [(ngModel)]="user"></ion-input><br/><br/>
    <ion-input type="password" placeholder="Passwort" class="eingabe" [(ngModel)]="pw"></ion-input>
    <br/><br/><br/><br/>
    <p>{{errormessage}}</p>
    <button ion-button class="bottons" (click)="login()">Login</button>
    <br/>
    <button ion-button class="bottons" (click)="goHome()">Ohne Login fortfahren</button>
    <br/>
    <button ion-button class="bottons" (click)="goRegistration()">Registrieren</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="exitApp()">App beenden</button>
</ion-content>
