<!--
  Generated template for the Advice0144Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    Manche Träger haben eine große Angebotsvielfalt möglicher Hilfen.
  <br/>
  <br/>


  Kann Ihr Träger Unterstützung anbieten?
  <br/> 
  Gibt es Angebote wie zum Beispiel:


  <ul>
    <li>Beratungsstellen,</li>
    <li>Gruppen für Eltern,</li>
    <li>Selbsthilfegruppen, oder ähnliches?</li>
  </ul>
  <br/>
  <br/> 
  Bitte prüfen Sie, unter Einbezug Ihrer Leitung, die Möglichkeiten Ihres Trägers.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>