<!--
  Generated template for the Advice0108Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Bestimmen Sie insbesondere folgende Punkte:<br/><br/>
      <ul>
        <li>Wer macht was mit wem und bis wann?</li>                          
        <li>Wer ist wofür verantwortlich?</li>
        <li>Ab wann glauben Sie handeln zu müssen?</li>
      </ul>
      <br/><br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/telefon.png"/>
        </ion-col>
        <ion-col col-9>
            Die insoweit erfahrene Fachkraft kann Sie auch zu dieser Frage beraten.   
          </ion-col>
      </ion-row>
      </ion-grid><br/><br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg"/>
        </ion-col>
        <ion-col col-9>
            Dokumentieren Sie anschließend  die vereinbarten Schritte, Terminketten und Verantwortlichkeiten in Ihren eigenen Unterlagen so genau wie möglich.
          </ion-col>
      </ion-row>
      </ion-grid><br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
