<!--
  Generated template for the Advice0158Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  Grundsätzlich sollten Sie das betroffene Kind / den*die Jugendliche*n über die bevorstehende oder bereits durchgeführte Meldung an das Jugendamt informieren.  
  <br/>
  <br/>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/F9A42D.svg" />
      </ion-col>
      <ion-col col-9>
        Es kann jedoch auch Fälle geben, in denen die Information der Betroffenen das Risiko der Gefährdung erhöht oder den Schutz des Kindes /des*der Jugendlichen in Frage stellt.

      </ion-col>
    </ion-row>
  </ion-grid>
  Dies gilt zum Beispiel für Fälle, in denen es hohe Verschleierungstendenzen gibt.
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
        Bitte wägen Sie die Situation ab. Wenn Sie sich nicht sicher sind, können Sie sich zunächst auch an das Jugendamt wenden, ohne personenbezogene Daten mit Angaben zur Familie preiszugeben. Bitten Sie in einem ersten Schritt anonym um eine Einschätzung, ob es ratsam ist, das Kind zu informieren.  
      </ion-col>
    </ion-row>
  </ion-grid>
  Ebenso können sich aber auch durch Ihre insoweit erfahrene Fachkraft beraten lassen.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>