<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hilfen anbieten</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuFicContentA')">Gesprächsführung</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFicContentB')">eigene Hilfen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFicContentC')">Jugendhilfe</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFicContentD')">andere Hilfen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>