<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Verantwortlich für den Schutz der Kinder sind zunächst die Eltern. <br/><br/>

    Manchmal genügt ein Gespräch, der Hinweis auf Gefährdungsmomente oder ein Ratschlag, um Eltern in die Lage zu versetzen, ihr Kind selbst zu schützen.<br/><br/>
    
    Stellen Sie sich folgende Fragen: <br/>
    <ul>
        <li>Haben die Eltern Möglichkeiten, ihr Kind selbst zu schützen?</li>
        <li>Können die Eltern eigene Ressourcen aktivieren?</li>
        <li>Sind die Eltern bereit, ihr Kind selbst zu schützen?</li>
    </ul>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Wenn Sie die Fragen mit "Ja" beantworten können, so sind weitere Hilfen zum Schutz des Kindes nicht unbedingt notwendig.
    Dokumentieren Sie Ihre Entscheidungen und die dazugehörigen Informationen.
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
          Im Zweifel können Sie sich zu dieser Frage auch durch Ihre insoweit erfahrene Fachkraft beraten lassen. 
      </ion-col>
    </ion-row>
  </ion-grid>

  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>