<!--
  Generated template for the Advice0107aPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
      <img src="assets/imgs/97DEFF.svg"/>
      </ion-col>
      <ion-col col-9>
          Die Dokumentation soll ein möglichst vollständiges Ergebnisprotokoll darstellen, das deutlich zwischen Fakten, Schlussfolgerungen, Wertungen und ausgelösten Gefühlen unterscheidet.
        </ion-col>
    </ion-row>
    </ion-grid><br/><br/>
    Orientieren Sie sich an folgenden Fragen:
    <br/><br/>
      <ul>
        <li>Was konnten Sie wann, wo und wie oft beobachten?</li>                          
        <li>Welche Hypothesen haben Sie generiert?</li>
        <li>Welche Schlussfolgerungen ziehen Sie daraus?</li>
        <li>Welche Maßnahmen leiten Sie davon ab?</li>
      </ul>
      <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
