<!--
  Generated template for the Advice0123aPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Kindererziehung und Elternschaft sind nicht nur harte Arbeit, sondern werden auch beeinflusst von den individuellen
  <br/>
  <br/>
  <ul>
    <li>Vorerfahrungen</li>
    <li>Lebensumständen</li>
    <li>Stärken und Schwächen sowie</li>
    <li>Perspektiven und Wünschen der Eltern</li>
  </ul>
  Wichtig ist es, deren Lebenslage und die Mühen zu verstehen, anstatt zu urteilen.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>