<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kontakte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list  [hidden]=listSee>
    <button menuClose ion-item *ngFor="let p of contacts" (click)="openContact(p)">
      {{p.name}}<br/>
      <p style="color: grey">{{p.function}}</p>
    </button>
    </ion-list>
<!--
    <ion-list  [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Name</b>
        </p>
        <p>{{name}}</p>
      </ion-item>
    </ion-list>
  
    <ion-list  [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Funktion</b>
        </p>
        <p>{{function}}</p>
      </ion-item>
    </ion-list>
  
    <ion-list  [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Telefon</b>
        </p>
        <p>{{phone}}</p>
      </ion-item>
    </ion-list>
  
    <ion-list  [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Mail</b>
        </p>
        <p>{{mail}}</p>
      </ion-item>
    </ion-list>
    <ion-list   [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Fax</b>
        </p>
        <p>{{fax}}</p>
      </ion-item>
    </ion-list>
    <ion-list   [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Träger</b>
        </p>
        <p>{{traeger}}</p>
      </ion-item>
    </ion-list>
    <ion-list   [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Profil</b>
        </p>
        <p>{{profile}}</p>
      </ion-item>
    </ion-list>
    <ion-list   [hidden]=contactSee>
      <ion-item>
        <p>
          <b>Kompetenzen</b>
        </p>
          {{kompetenzen}}
      </ion-item>
    </ion-list>



  -->
    <p [hidden]="contactSee"><b>Name</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="2" value="{{name}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Funktion</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="2" value="{{function}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Telefon</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="1" value="{{phone}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Internet</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="1" value="{{web}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Mail</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="1" value="{{mail}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Fax</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="1" value="{{fax}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Träger</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="2" value="{{traeger}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Profil</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="5" value="{{profile}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Kompetenzen</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="8" value="{{kompetenzen}}">
    </ion-textarea>
    <p [hidden]="contactSee"><b>Erreichbarkeit</b></p>
    <ion-textarea [readonly]="isReadonly()" [hidden]=contactSee rows="2" value="{{availability}}">
    </ion-textarea>
    <ion-list   [hidden]=contactSee>
      <ion-item>
        <h1>
        <a href="tel:{{phone}}" style="text-decoration: none"><b>Kontakt anrufen</b></a><br/>
      </h1>
        <button ion-button class="bottons" (click)="close()">zurück</button>
      </ion-item>
    </ion-list>




<!--
  <ion-list>
    <ion-item>
      <p>
        <b>Name</b>
      </p>
      <p>{{name}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <p>
        <b>Funktion</b>
      </p>
      <p>{{function}}</p>
    </ion-item>
  </ion-list>

  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Telefon</b>
      </p>
      <p>{{phone}}</p>
    </ion-item>
  </ion-list>

  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Mail</b>
      </p>
      <p>{{mail}}</p>
    </ion-item>
  </ion-list>
  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Fax</b>
      </p>
      <p>{{fax}}</p>
    </ion-item>
  </ion-list>
  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Trägers</b>
      </p>
      <p>{{traeger}}</p>
    </ion-item>
  </ion-list>
  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Profil</b>
      </p>
      <p>{{profile}}</p>
    </ion-item>
  </ion-list>
  <ion-item item-text-wrap [hidden]=seeAll>
    test:
    {{kompetenzen}}
  </ion-item>
  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Kompetenzen</b>
      </p>
      <p width=100 height = 200>
      {{kompetenzen}}
      </p>
    </ion-item>
    <i>tst</i>
    <ion-textarea readonly="true">
      {{kompetenzen}}
    </ion-textarea>
  </ion-list>
  <ion-list [hidden]=seeAll>
    <ion-item>
      <p>
        <b>Erreichbarkeit</b>
      </p>
      <p>{{availability}}</p>
      <a href="tel:{{phone}}"><b>Kontakt anrufen</b></a>
      <button ion-button class="bottons" (click)="prev()">zurück</button>
    </ion-item>
  </ion-list>


      <a href="tel:{{phone}}"><b>Kontakt anrufen</b></a>
  <button ion-button class="bottons" (click)="seeall()">mehr / weniger</button>
  <button ion-button class="bottons" (click)="prev()">vorheriger</button>
  <button ion-button class="bottons" (click)="next()">nächster</button>
  -->
  <!--
  <button ion-button class="bottons" (click)="call()">anrufen</button>
    -->
  <br/>
  <br/>
</ion-content>