<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Schutz vor Sozialdaten</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <b>§§ 61 – 65 SGB VIII<br/> § 61 Anwendungsbereich</b><br/> (1) Für den Schutz von Sozialdaten bei ihrer Erhebung und Verwendung
  in der Jugendhilfe gelten § 35 des Ersten Buches, §§ 67 bis 85a des Zehnten Buches sowie die nachfolgenden Vorschriften.
  Sie gelten für alle Stellen des Trägers der öffentlichen Jugendhilfe, soweit sie Aufgaben nach diesem Buch wahrnehmen.
  Für die Wahrnehmung von Aufgaben nach diesem Buch durch kreisangehörige Gemeinden und Gemeindeverbände, die nicht örtliche
  Träger sind, gelten die Sätze 1 und 2 entsprechend.
  <br/><br/> (2) Für den Schutz von Sozialdaten bei ihrer Erhebung und Verwendung im Rahmen der Tätigkeit des Jugendamts
  als Amtspfleger, Amtsvormund, Beistand und Gegenvormund gilt nur § 68.
  <br/><br/> (3) Werden Einrichtungen und Dienste der Träger der freien Jugendhilfe in Anspruch genommen, so ist sicherzustellen,
  dass der Schutz der personenbezogenen Daten bei der Erhebung und Verwendung in entsprechender Weise gewährleistet ist.
  <br/><br/>
  <b>§ 62 Datenerhebung</b><br/> (1) Sozialdaten dürfen nur erhoben werden, soweit ihre Kenntnis zur Erfüllung der jeweiligen
  Aufgabe erforderlich ist.
  <br/><br/> (2) Sozialdaten sind beim Betroffenen zu erheben. Er ist über die Rechtsgrundlage der Erhebung sowie die Zweckbestimmungen
  der Erhebung und Verwendung aufzuklären, soweit diese nicht offenkundig sind.
  <br/><br/> (3) Ohne Mitwirkung des Betroffenen dürfen Sozialdaten nur erhoben werden, wenn<br/><br/>
    1. eine gesetzliche Bestimmung dies vorschreibt oder erlaubt oder<br/><br/>
    2. ihre Erhebung beim Betroffenen nicht möglich ist oder die jeweilige Aufgabe ihrer Art nach eine Erhebung bei anderen
      erfordert, die Kenntnis der Daten aber erforderlich ist für<br/>
    a) die Feststellung der Voraussetzungen oder für die Erfüllung einer Leistung nach diesem Buch oder<br/>
    b)   die Feststellung der Voraussetzungen für die Erstattung einer Leistung nach § 50 des Zehnten Buches oder<br/>
    c)   die Wahrnehmung einer Aufgabe nach den §§ 42 bis 48a und nach § 52 oder <br/>
    d)   die Erfüllung des Schutzauftrags bei Kindeswohlgefährdung nach § 8a oder<br/><br/>
   3. die Erhebung beim Betroffenen einen unverhältnismäßigen Aufwand erfordern würde und keine Anhaltspunkte dafür
      bestehen, dass schutzwürdige Interessen des Betroffenen beeinträchtigt werden oder<br/><br/>
  
  4. die Erhebung bei dem Betroffenen den Zugang zur Hilfe ernsthaft gefährden würde.
  <br/><br/> (4) Ist der Betroffene nicht zugleich Leistungsberechtigter oder sonst an der Leistung beteiligt, so dürfen
  die Daten auch beim Leistungsberechtigten oder einer anderen Person, die sonst an der Leistung beteiligt ist, erhoben werden,
  wenn die Kenntnis der Daten für die Gewährung einer Leistung nach diesem Buch notwendig ist. Satz 1 gilt bei der Erfüllung
  anderer Aufgaben im Sinne des § 2 Absatz 3 entsprechend.
  <br/><br/>
  <b>§ 63 Datenspeicherung </b><br/>
  <ol>
    <li>Sozialdaten dürfen gespeichert werden, soweit dies für die Erfüllung der jeweiligen Aufgabe erforderlich ist. </li>
    <li>Daten, die zur Erfüllung unterschiedlicher Aufgaben der öffentlichen Jugendhilfe erhoben worden sind, dürfen nur
      zusammengeführt werden, wenn und solange dies wegen eines unmittelbaren Sachzusammenhangs erforderlich ist. Daten,
      die zu Leistungszwecken im Sinne des § 2 Absatz 2 und Daten, die für andere Aufgaben im Sinne des § 2 Absatz 3 erhoben
      worden sind, dürfen nur zusammengeführt werden, soweit dies zur Erfüllung der jeweiligen Aufgabe erforderlich ist.
    </li>
  </ol>
  <br/><br/>
  <b>§ 64 Datenübermittlung und -nutzung </b><br/>
    (1) Sozialdaten dürfen zu dem Zweck übermittelt oder genutzt werden, zu dem sie erhoben worden sind.<br/><br/>
    (2) Eine Übermittlung für die Erfüllung von Aufgaben nach § 69 des Zehnten Buches ist abweichend von Absatz 1 nur
      zulässig, soweit dadurch der Erfolg einer zu gewährenden Leistung nicht in Frage gestellt wird.<br/><br/>
    (2a) Vor einer Übermittlung an eine Fachkraft, die der verantwortlichen Stelle nicht angehört, sind die Sozialdaten
      zu anonymisieren oder zu pseudonymisieren, soweit die Aufgabenerfüllung dies zulässt.<br/><br/>
    (3) Sozialdaten dürfen beim Träger der öffentlichen Jugendhilfe zum Zwecke der Planung im Sinne des § 80 gespeichert
      oder genutzt werden; sie sind unverzüglich zu anonymisieren.
    
  <br/><br/>

  <b>§ 65 Besonderer Vertrauensschutz in der persönlichen und erzieherischen Hilfe </b><br/> (1) Sozialdaten, die dem Mitarbeiter
  eines Trägers der öffentlichen Jugendhilfe zum Zwecke persönlicher und erzieherischer Hilfe anvertraut worden sind, dürfen
  von diesem nur weitergegeben werden
  <ol>
    <li>mit der Einwilligung dessen, der die Daten anvertraut hat, oder</li>
    <li>dem Familiengericht zur Erfüllung der Aufgaben nach § 8a Absatz 2, wenn angesichts einer Gefährdung des Wohls eines
      Kindes oder eines Jugendlichen ohne diese Mitteilung eine für die Gewährung von Leistungen notwendige gerichtliche
      Entscheidung nicht ermöglicht werden könnte, oder
    </li>
    <li>dem Mitarbeiter, der auf Grund eines Wechsels der Fallzuständigkeit im Jugendamt oder eines Wechsels der örtlichen
      Zuständigkeit für die Gewährung oder Erbringung der Leistung verantwortlich ist, wenn Anhaltspunkte für eine Gefährdung
      des Kindeswohls gegeben sind und die Daten für eine Abschätzung des Gefährdungsrisikos notwendig sind, oder
    </li>
    <li>an die Fachkräfte, die zum Zwecke der Abschätzung des Gefährdungsrisikos nach § 8a hinzugezogen werden; § 64 Absatz
      2a bleibt unberührt, oder </li>
    <li>unter den Voraussetzungen, unter denen eine der in § 203 Absatz 1 oder 4 des Strafgesetzbuchs genannten Personen
      dazu befugt wäre. Gibt der Mitarbeiter anvertraute Sozialdaten weiter, so dürfen sie vom Empfänger nur zu dem Zweck
      weitergegeben werden, zu dem er diese befugt erhalten hat.
    </li>

  </ol>
  <br/> (2) § 35 Absatz 3 des Ersten Buches gilt auch, soweit ein behördeninternes Weitergabeverbot nach Absatz 1 besteht.
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>