<!--
  Generated template for the Advice0133Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Kinder können sich schnell unter Druck gesetzt fühlen und reagieren darauf häufig mit einem Verhalten, von dem sie annehmen, es sei erwünscht, erwartet oder gefordert.<br/><br/>

  Daraus resultierende Antworten dienen eher der Entlastung der Situation, als dass sie die Wirklichkeit widerspiegeln.<br/><br/>

  Achten Sie daher besonders darauf, das Kind/der*dem Jugendlichen weder bewusst noch unbewusst unter Druck zu setzen.<br/><br/>
<br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
