<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>insoweit erfahrene Fachkraft</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Eine insoweit erfahrene Fachkraft ist eine in der Risikoabschätzung erfahrene, häufig auch geschulte Fachkraft, die durch ihre fachliche und persönliche Eignung sowie Berufserfahrung ausreichende Kompetenzen im Umgang mit riskanten Lebenssituationen für Kinder und Jugendliche verfügen. 
    Die insoweit erfahrene Fachkraft berät Sie im Einzelfall. übernimmt dabei aber keine Fallverantwortung.
    <br/><br/>
    Sie können sich bei Ihrem Jugendamt oder innerhalb ihres Trägers informieren, wer Ihre zuständige insoweit erfahrene Fachkraft ist. 
    <br/><br/>
    In bestimmten Fallkonstellationen (z.B. bei Verdacht auf sexuelle Gewalt) ist es ratsam, spezialisierte insoweit erfahrene Fachkräfte (z.B. aus Beratungsstellen gegen sexuelle Gewalt) zu Rate zu ziehen.
    <br/><br/>
    Bitte ermitteln Sie im Vorfeld die für Sie zuständigen insoweit erfahrenen Fachkräfte. Sie sparen sich dadurch im Einzelfall viel Zeit.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>