<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Bei der Pseudonymisierung ersetzen Sie Namen oder andere Merkmale durch ein Pseudonym (z.B. eine Zahlenkombination oder ein
  fiktiver Name).
  <br/>
  <br/> 
  Bei der Anonymisierung ändern Sie personenbezogene Daten derart, dass diese nicht mehr einer Person zugeordnet werden können.
  <br/><br/>
  Entscheidend ist hierbei, dass nur Sie selbst die Bezüge wieder herstellen können und anderen Personen die Feststellung
  der Identität der Personen nicht möglich ist.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>