<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Checklisten" tabIcon="ai-icon-checklist_schwarzxxhdpi"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="zurück" tabIcon="ai-icon-Beratung_schwarzxxhdpi"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="weiter" tabIcon="arrow-dropright"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Senden" tabIcon="cloud-upload"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Speichern" tabIcon="recording"></ion-tab>
</ion-tabs>
