<!--
  Generated template for the Advice0153Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    Ist Ihre Leitung über die Gefährdungseinschätzung und Ihre eingeleiteten Handlungsschritte informiert? 
<br/><br/>
Bitte sprechen Sie mit der Leitung konkret ab, in welcher Weise diese weiter einbezogen /informiert werden soll und an welcher Stelle Sie ggf. weitere Unterstützung benötigen.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>