<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kontakt hinzufügen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Funktion</ion-label>
      <ion-input type="text" [(ngModel)]="function"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Telefon</ion-label>
      <ion-input type="text" [(ngModel)]="phone"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="text" [(ngModel)]="mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Internet</ion-label>
      <ion-input type="text" [(ngModel)]="web"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Fax</ion-label>
      <ion-input type="text" [(ngModel)]="fax"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Träger</ion-label>
      <ion-input type="text" [(ngModel)]="traeger"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Angebotsprofil</ion-label>
      <ion-textarea placeholder="hier eingeben" rows="3" [(ngModel)]="profile"></ion-textarea>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Kompetenzen</ion-label>
      <ion-textarea placeholder="Geben Sie hier Ihre Notizen ein." rows="3" [(ngModel)]="kompetenzen"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Erreichbarkeit</ion-label>
      <ion-textarea placeholder="Geben Sie hier Ihre Notizen ein." rows="3" [(ngModel)]="availability"></ion-textarea>
    </ion-item>
    
  </ion-list>
  <br/>{{erfolgsmeldung}}<br/>

<br/>
    <button ion-button (click)="speichern()">Speichern</button>
   
</ion-content>
