<!--
  Generated template for the ContentsChecklist01Mldg02Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Letzte Handlungsschritte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p>Was waren ihre letzten Handlungsschritte?</p><br/>
  <p>Ich war dabei…</p>
  <button ion-button class="bottons" (click)="Start()">Anhaltspunkten nachzugehen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start2()">Eltern anzusprechen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start3()">das Kind anzusprechen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start4()">Hilfen anzubieten</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start5()">eine Meldung abzugeben</button>
  <br/><br/>

  <button ion-button class="bottons" (click)="closeAdvice()">Abbrechen</button>
</ion-content>
