<ion-header>
    <ion-navbar hideBackButton="true">

        <ion-title>4/5 Hilfe anbieten</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 36 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja36()" checked="{{checked36a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein36()" checked="{{checked36b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Eltern sind bereit und in der Lage, ihr Kind ohne Hilfe selbst zu schützen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0136')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(37)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!--Frage 37-->
    <ion-list [hidden]=hideMe37>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja37()" checked="{{checked37a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein37()" checked="{{checked37b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich überlege, Hilfen anzubieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0137')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(38)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 38-->
    <ion-list [hidden]=hideMe38>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja38()" checked="{{checked38a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein38()" checked="{{checked38b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Eltern anzusprechen oder Hilfen anzubieten erhöht das Risiko der Gefährdung für das Kind / den*die Jugendliche*n
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0138')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(39)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 38b-->
    <ion-list [hidden]=hideMe38b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja38b()" checked="{{checked38ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein38b()" checked="{{checked38bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Das Kind  / den*die Jugendliche*n anzusprechen oder Hilfen anzubieten erhöht das Risiko der Gefährdung für das Kind / den*die Jugendliche*n
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0138')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(40)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 39-->
    <ion-list [hidden]=hideMe39>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja39()" checked="{{checked39a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein39()" checked="{{checked39b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Das Kind  / den*die Jugendliche*n anzusprechen oder Hilfen anzubieten erhöht das Risiko der Gefährdung  für das Kind / den*die Jugendliche*n
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0139')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(41)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 39a-->
        <ion-list [hidden]=hideMe39a>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja39a()" checked="{{checked39aa}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein39a()" checked="{{checked39ab}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern sind bereit und in der Lage, Hilfen anzunehmen
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0139a')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(65)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 40-->
    <ion-list [hidden]=hideMe40>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja40()" checked="{{checked40a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein40()" checked="{{checked40b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich als Fachkraft kann der Familie eigene Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0140')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(42)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 40b-->
        <ion-list [hidden]=hideMe40b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja40b()" checked="{{checked40ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein40b()" checked="{{checked40bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern oder das Kind/der*die Jugendliche nehmen die Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0140b')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(66)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 41-->
    <ion-list [hidden]=hideMe41>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja41()" checked="{{checked41a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein41()" checked="{{checked41b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich beobachte danach weiter, ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0141')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(43)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 42-->
    <ion-list [hidden]=hideMe42>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja42()" checked="{{checked42a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein42()" checked="{{checked42b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Mein*e Kolleg*in kann Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0142')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(44)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 42b-->
        <ion-list [hidden]=hideMe42b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja42b()" checked="{{checked42ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein42b()" checked="{{checked42bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern oder das Kind/der*die Jugendliche nehmen die Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0142b')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(67)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 43-->
    <ion-list [hidden]=hideMe43>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja43()" checked="{{checked43a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein43()" checked="{{checked43b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich beobachte danach weiter, ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0143')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(45)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 44-->
    <ion-list [hidden]=hideMe44>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja44()" checked="{{checked44a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein44()" checked="{{checked44b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Mein Träger kann Hilfen anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0144')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(46)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
   <!--Frage 44b-->
   <ion-list [hidden]=hideMe44b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja44b()" checked="{{checked44ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein44b()" checked="{{checked44bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Eltern oder das Kind/der*die Jugendliche nehmen die Hilfen in Anspruch
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0144b')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(68)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 45-->
    <ion-list [hidden]=hideMe45>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja45()" checked="{{checked45a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein45()" checked="{{checked45b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich beobachte danach weiter, ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0145')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(47)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 46-->
    <ion-list [hidden]=hideMe46>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja46()" checked="{{checked46a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein46()" checked="{{checked46b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich kann an Hilfen anderer Träger vermitteln
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0146')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(48)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 46b-->
        <ion-list [hidden]=hideMe46b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja46b()" checked="{{checked46ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein46b()" checked="{{checked46bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                Die Eltern oder das Kind/der*die Jugendliche nehmen die Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0146b')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(48)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 47-->
    <ion-list [hidden]=hideMe47>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja47()" checked="{{checked47a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein47()" checked="{{checked47b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich beobachte danach weiter, ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0147')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(49)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 48-->
    <ion-list [hidden]=hideMe48>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja48()" checked="{{checked48a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein48()" checked="{{checked48b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich lasse mir von den Eltern eine Schweigepflichtsentbindung geben, um mir Rückmeldungen einzuholen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0148')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(50)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 49a-->
    <ion-list [hidden]=hideMe49a>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja49a()" checked="{{checked49aa}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein49a()" checked="{{checked49ab}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich habe alle denkbaren Hilfeoptionen geprüft
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0149a')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(51)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
       <!--Frage 49-->
       <!--Frage existiert seit 18.4. nicht mehr
       <ion-list [hidden]=hideMe49>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja49()" checked="{{checked49a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein49()" checked="{{checked49b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Hilfen, die ich anbieten oder auf die ich 
                            <br/>verweisen kann reichen nicht aus oder 
                            <br/>oder ich bin unsicher ob sie ausreichen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0149')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen()">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    -->
    <!--Frage50-->
    <ion-list [hidden]=hideMe50>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja50()" checked="{{checked50a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein50()" checked="{{checked50b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe weiterhin in Kontakt mit dem Kind / der*dem Jugendlichen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0150')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(53)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
       <!--Frage 51-->
       <ion-list [hidden]=hideMe51>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja51()" checked="{{checked51a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein51()" checked="{{checked51b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe weiterhin in Kontakt mit den Eltern
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0151')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(54)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 52-->
    <ion-list [hidden]=hideMe52>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja52()" checked="{{checked52a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein52()" checked="{{checked52b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich vereinbare weitere Gesprächstermine mit den Eltern
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0152')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(55)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
       <!--Frage 53-->
       <ion-list [hidden]=hideMe53>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja53()" checked="{{checked53a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein53()" checked="{{checked53b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe in Bezug auf diesen Fall weiterhin in Kontakt mit meiner Leitungskraft / meine*r Kolleg*in
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0153')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(56)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 54-->
    <ion-list [hidden]=hideMe54>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja54()" checked="{{checked54a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein54()" checked="{{checked54b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Meiner Einschätzung nach ist die Kindeswohlgefährdung damit abgewendet
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0154')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(57)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>