<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
Es ist immer hilfreich, sich mit einem*r Kolleg*in über diese Beobachtungen auszutauschen.  <br/><br/>
Folgende Fragen sollten Sie zuvor beachten:<br/>
  <br/>
  <ul>
    <li>Was kann der*die Kolleg*in zur Einschätzung der Gefährdung beitragen?</li>                          
    <li>Welche Beobachtungen haben Sie konkret gemacht?</li>
    <li>Welche weiteren Fragen stellen sich Ihnen dabei? </li>
    <li>Ist es möglich, die Daten für die Beratung zu pseudonymisieren?</li>
  </ul>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
    <img src="assets/imgs/97DEFF.svg"/>
    </ion-col>
    <ion-col col-9>
        Gehen Sie möglichst systematisch in das Gespräch und dokumentieren Sie die Faktenlage, die Ergebnisse und auch mögliche Meinungsverschiedenheiten.
      </ion-col>
  </ion-row>
  </ion-grid>
    <button ion-button class="botton" (click)="closeAdvice()">Ok</button>
</ion-content>
