<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Vernachlässigung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Werden die Grundbedürfnisse eines Kindes oder Jugendlichen (u.a. nach Versorgung, Nähe, Schutz, Kleidung, Förderung) bewusst oder aus Unkenntnis durch die Eltern oder durch andere Personensorgeberechtigte bzw. Betreuer*innen nicht oder nicht ausreichend befriedigt, spricht man von Vernachlässigung.
<br/><br/>
  Dazu gehören unter anderem:<br/>
  <ul>
    <li>Mangel- / Fehlversorgung,</li>
    <li>Verwehrung der Gesundheitsfürsorge,</li>
    <li>kognitive oder erzieherische Vernachlässigung oder auch</li>
    <li>mangelnde Aufsicht.</li>
  </ul>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

