<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mischformen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Häufig treffen Gewaltformen nicht einzeln, sondern in Kombination auf. So können z.B. seelische Misshandlungen mit körperlicher Gewalt einhergehen.
    <br/>
    <br/>
    Dies kann das Erkennen von Gewalt gegen Kinder und Jugendliche erschweren. 
    <br/>
    <br/>
    Lassen Sie sich hierzu im Einzelfall gezielt beraten und gehen Sie allen Anhaltspunkten für eine Gefährdung nach.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>