<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die Druckfunktion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    Die einzelnen Arbeitsschritte im Kinderschutz können Fachkräfte vor verschiedene Herausforderungen stellen.
<br/><br/>
    Um Sie in Ihrer Arbeit zu unterstützen, haben wir jeder Frage in der Checkliste Hinweise in Form von Fachinformationen, Ratschlägen oder weiterführenden Fragestellungen zugeordnet.
    <br/><br/>
    
    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
    <br/>
    Wischen Sie unterhalb der einzelnen Frage von links nach rechts über das Symbol und tippen Sie dann auf „Hinweise“, um sich zu den einzelnen Fragen zu informieren.
    <br/><br/>
    Weitere Informationen zum Thema Kindeswohlgefährdung finden Sie auf <a href="http://www.buendnis-kinderschutz-mv.de">www.buendnis-kinderschutz-mv.de</a>


</ion-content>
