<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/telefon.png" />
            </ion-col>
            <ion-col col-9>
                Falls Sie vorläufig zu dem Schluss kommen, dass der Verdacht auf eine Kindeswohlgefährdung vorliegt oder nicht ausgeräumt werden kann, können Sie sich durch eine insoweit erfahrene Fachkraft beraten lassen.
            </ion-col>
          </ion-row>
        </ion-grid>
  
        Bei der insoweit erfahrenen Fachkraft handelt es sich in der Regel um erfahrene und qualifizierte Fachkräfte, die im Rahmen der Risikoabschätzung hinzugezogen werden können. 
<br/><br/>
Die insoweit erfahrene Fachkraft wird Ihnen über das Jugendamt zur Verfügung gestellt, soweit es keine anderen Vereinbarungen gibt.
        <br/><br/>
        Die insoweit erfahrene Fachkraft kann Sie sowohl zur Frage, ob eine Kindeswohlgefährdung vorliegt, beraten als auch Hilfestellung in der Planung, Vorbereitung und Durchführung evtl. nötiger weiterer Handlungsschritte geben.
        <br/><br/>
        Bereiten Sie Ihre Fragen, Beobachtungen und bisherigen Entscheidungen für das Gespräch strukturiert vor.

        <br/><br/>
        Bitte beachten:
        <ol>
          <li>Die Beratung soll pseudonymisiert erfolgen.</li>
          <li>Die Fallverantwortung bleibt bei Ihnen. Die insoweit erfahrene Fachkraft berät Sie lediglich.</li>
      </ol>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/97DEFF.svg" />
        </ion-col>
        <ion-col col-9>
            Dokumentieren Sie die Beratungsinhalte und Entscheidungen.
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>