<!--
  Generated template for the Advice0105Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
      <img src="assets/imgs/telefon.png"/>
      </ion-col>
      <ion-col col-9>
        Bei der insoweit erfahrenen Fachkraft handelt es sich in der Regel um erfahrene und qualifizierte Fachkräfte, die im Rahmen der Risikoabschätzung hinzugezogen werden.

        </ion-col>
    </ion-row>
    </ion-grid><br/><br/>
    
Diese können Sie sowohl zur Frage, ob eine Kindeswohlgefährdung vorliegt, beraten als auch Hilfestellung in der Planung, Vorbereitung und Durchführung evtl. nötiger weiterer Handlungsschritte geben.

    <br/><br/>
    Bereiten Sie Ihre Fragen, Beobachtungen und bisherigen Entscheidungen für das Gespräch strukturiert vor.<br/><br/>
    Bitte beachten Sie: <br/>
      <ol>
        <li>Die Beratung soll pseudonymisiert/anonymisiert erfolgen.
        </li>                          
        <li>Die Fallverantwortung bleibt bei Ihnen. Die insoweit erfahrene Fachkraft berät Sie lediglich.</li>
      </ol>
      <br/><br/>
      Ziehen Sie Ihre insoweit erfahrene Fachkraft hinzu. <br/>
Wer Ihre insoweit erfahrene Fachkraft ist, erfahren Sie durch Ihre Leitungskraft oder das zuständige Jugendamt.        
        <button ion-button class="botton" (click)="closeAdvice()">Ok</button>
</ion-content>
