<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Eigene Hilfen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Nicht immer sind umfangreiche und hochschwellige Hilfen notwendig. Manchmal genügt schon <br/>
  <ul>
    <li>das einfache Ansprechen,</li>
    <li>ein offenes Ohr oder hinsehendes Auge,</li>
    <li>ein Hausbesuch oder ein Elterngespräch um als Hilfe wahrgenommen zu werden.</li>
  </ul>
  <br/><br/>
  Vielleicht gibt es auch in Ihrer Profession Hilfsangebote, die Sie unterbreiten können. 
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>