<!--
  Generated template for the GoInChecklist03Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Schule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p>Bitte wählen Sie aus, ob Sie eine Checkliste neu beginnen oder eine bereits gespeicherte Checkliste  laden wollen.</p><br/>
  <button ion-button class="bottons" (click)="GoContent()">Neu</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="GoExisting()">Fortsetzen</button>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="GoSpeicher()">Laden</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Abbrechen</button>
</ion-content>
