<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>KKG</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    § 4 KKG<br/>
    (1) Werden<br/><br/>
    1. Ärztinnen oder Ärzten, Hebammen oder Entbindungspflegern oder Angehörigen eines anderen Heilberufes, der für die Berufsausübung oder die Führung der Berufsbezeichnung eine staatlich geregelte Ausbildung erfordert,
    <br/><br/>
    2. Berufspsychologinnen oder -psychologen mit staatlich anerkannter wissenschaftlicher Abschlussprüfung,
    <br/><br/>
    3. Ehe-, Familien-, Erziehungs- oder Jugendberaterinnen oder -beratern sowie
    <br/><br/>
    4. Beraterinnen oder Beratern für Suchtfragen in einer Beratungsstelle, die von einer Behörde oder Körperschaft, Anstalt oder Stiftung des öffentlichen Rechts anerkannt ist,
    <br/><br/>
    5. Mitgliedern oder Beauftragten einer anerkannten Beratungsstelle nach den §§ 3 und 8 des Schwangerschaftskonfliktgesetzes,
    <br/><br/>
    6. staatlich anerkannten Sozialarbeiterinnen oder -arbeitern oder staatlich anerkannten Sozialpädagoginnen oder -pädagogen oder
    <br/><br/>
    7. Lehrerinnen oder Lehrern an öffentlichen und an staatlich anerkannten privaten Schulen
    <br/><br/>
    in Ausübung ihrer beruflichen Tätigkeit gewichtige Anhaltspunkte für die Gefährdung des Wohls eines Kindes oder eines Jugendlichen bekannt, so sollen sie mit dem Kind oder Jugendlichen und den Personensorgeberechtigten die Situation erörtern und, soweit erforderlich, bei den Personensorgeberechtigten auf die Inanspruchnahme von Hilfen hinwirken, soweit hierdurch der wirksame Schutz des Kindes oder des Jugendlichen nicht in Frage gestellt wird.
    <br/><br/>
    (2) Die Personen nach Absatz 1 haben zur Einschätzung der Kindeswohlgefährdung gegenüber dem Träger der öffentlichen Jugendhilfe Anspruch auf Beratung durch eine insoweit erfahrene Fachkraft. Sie sind zu diesem Zweck befugt, dieser Person die dafür erforderlichen Daten zu übermitteln; vor einer Übermittlung der Daten sind diese zu pseudonymisieren.
    <br/><br/>
    (3) Scheidet eine Abwendung der Gefährdung nach Absatz 1 aus oder ist ein Vorgehen nach Absatz 1 erfolglos und halten die in Absatz 1 genannten Personen ein Tätigwerden des Jugendamtes für erforderlich, um eine Gefährdung des Wohls eines Kindes oder eines Jugendlichen abzuwenden, so sind sie befugt, das Jugendamt zu informieren; hierauf sind die Betroffenen vorab hinzuweisen, es sei denn, dass damit der wirksame Schutz des Kindes oder des Jugendlichen in Frage gestellt wird. Zu diesem Zweck sind die Personen nach Satz 1 befugt, dem Jugendamt die erforderlichen Daten mitzuteilen.
    
  
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

