<!--
  Generated template for the AdviceNextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="masters">
<p>Wechseln Sie zur nächsten Checkliste, um fortzusetzen!<br><br/>Klicken Sie hierzu auf dieses Symbol in Ihrer Checkliste.</p>
<br/>
<p align="center">
<ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi"></ion-icon>
</p>
<br/>
<button ion-button class="bottons" (click)="closeFinish()">zurück</button>
</ion-content>