<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Jeder kommt irgendwann an seine Grenzen.

  <br/>
  <br/>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
        Wenn Sie beispielsweise:
      </ion-col>
    </ion-row>
  </ion-grid>
  <ul>
    <li>nicht mehr weiter wissen,</li>
    <li>das Gefühl haben, schon viel versucht zu haben ohne eine Wirkung zu erzielen,</li>
    <li>keine ausreichenden Hilfsangebote in Ihrem Umfeld haben, oder</li>
    <li>die Eltern angebotene Hilfen nicht annehmen wollen bzw. können, </li>
  </ul>
  sollten Sie sich durch eine insoweit erfahrene Fachkraft beraten lassen.<br/><br/>
  Falls andere Hilfen denkbar sind oder Ihnen weitere Möglichkeiten der Hilfe und Unterstützung sinnvoll erscheinen, so:
<ul>
  <li>beginnen Sie diese Seite der Checkliste von Neuem und</li>
  <li>löschen Sie dazu ihre bisherigen Angaben.</li>
</ul>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/F93B2D.svg" />
      </ion-col>
      <ion-col col-9>
          Kommen Sie zu dem Schluss, dass Sie keine Hilfen anbieten können, der Verdacht bestehen bleibt und ein weiteres Beobachten des Falls nicht ratsam ist, dann endet ihr Verfahren hier.

      </ion-col>
    </ion-row>
  </ion-grid>
  Melden Sie es dem Jugendamt.
  <br/>
  <br/>Informieren Sie vorab die Betroffenen über diesen Handlungsschritt, sofern der Schutz des Kindes / des*der Jugendlichen dadurch nicht in Frage gestellt wird.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>