<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Bereiten Sie sich gut strukturiert auf die Darstellung des Falls vor.
  <br/>
  <br/>Folgende Fragen sind hilfreich:

  <br/>
  <ul>
    <li>Welche Fakten müssen Sie dringend zum Fallverständnis mitteilen? Welche gehen zu sehr ins Private und sind nicht zwingend zu veröffentlichen?
      </li>
    <li>Können die Daten für die Beratung pseudonymisiert werden?</li>
    <li>Mit welchem konkreten Ziel bzw. Idee zur Problemlösung gehen Sie in die Fallkonferenz? </li>
  </ul>
  <br/>
  Bleiben Sie dennoch offen dafür, dass auch andere Lösungen möglich sind.
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Treffen Sie, wenn möglich, konkrete Vereinbarungen und dokumentieren Sie diese für alle Betroffenen. 
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>