<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>KiSchuApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Checkliste wählen</h3>

    <button ion-button secondary menuToggle>Checkliste 1</button>
    <button ion-button secondary menuToggle>Checkliste 2</button>
    <button ion-button secondary menuToggle>Checkliste 3</button>

</ion-content>
