<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Durch das Jugendamt sollte eine Empfangsbestätigung zu Kinderschutzmeldungen versandt werden. Falls Sie diese nicht erhalten, fragen Sie beim Jugendamt nach, um sicher zu gehen, dass Ihre Meldung an der richtigen Stelle eingegangen ist. 
  <br/>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Legen Sie diese zu Ihrer Dokumentation.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>