<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Bitte prüfen Sie, ob es an Ihrer Schule Kooperationsvereinbarungen zum Kinderschutz mit dem zuständigen Jugendamt gibt. Darin könnte die Meldung und Dokumentation mit Formblättern untersetzt sein, die Sie in diesem Fall verwenden sollten. 
<br/><br/>
    Bitte sprechen Sie die Meldung an das Jugendamt mit der Schulleitung ab. 
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>