<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Fachinformationen</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
    <button ion-button class="bottons" (click)="Go('MnuFia')">Gesetze</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuFib')">Kindeswohlgefährdung</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuFic')">Hilfen anbieten</button>
    <br/><br/>
    <br/><br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>
  