<!--
  Generated template for the Advice0103Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Je nach interner Verfahrensvorgabe kann es notwendig und/oder sinnvoll sein, Ihre Leitungskraft zu informieren. Beachten Sie hierzu Ihre internen Verfahrensstandards.<br/><br/>
    Folgende Fragen sollten Sie zuvor beachten<br/>
      <br/>
      <ul>
        <li>Was ist Ihr Anliegen an die Leitung?</li>                          
        <li>Was sollte Ihre Leitungskraft dringend wissen (auch zu Ihrer eigenen Absicherung)? </li>
        <li>Was kann die Leitungskraft zur Einschätzung beitragen?</li>
        <li>Ist es möglich, die Daten für die Beratung zu pseudonymisieren?</li>
      </ul>
      <br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg"/>
        </ion-col>
        <ion-col col-9>
            Gehen Sie möglichst systematisch in das Gespräch, geben Sie die Ergebnisse Ihrer vorherigen kollegialen Beratung weiter und dokumentieren Sie das Gespräch mit Ihrer Leitung.<br/><br/>
            </ion-col>
      </ion-row>
      </ion-grid>
      Sollte es innerhalb des Gespräches zu einer Übergabe der Fallverantwortung an Ihre Leitungskraft kommen, müssen Sie diese Entscheidung genau dokumentieren. In diesem Fall endet Ihre Verantwortung hier.
          <br/><br/>
        <button ion-button class="botton" (click)="closeAdvice()">Ok</button>
</ion-content>
