<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die Anruf-Funktion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Bei ausgewählten Fragen erscheint ein Telefon-Symbol, das auf die Möglichkeit der Beratung durch eine insoweit erfahrene Fachkraft verweist.
<br/>
  Diese können Sie auch direkt aus der App heraus anrufen.
<br/>
  Hinterlegen Sie dazu XXXXX

</ion-content>
