<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die Foto-Funktion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Die App erlaubt es Ihnen Fotos mit Ihrem Smartphone aufzunehmen und zu speichern. Diese Funktion ist für das Fotografieren von Dokumenten gedacht (z.B. eine handschriftliche Schweigepflichtentbindung).
<br/><br/>
  <b>
  Fotografieren Sie keine Verletzungen oder Personen.
    </b>
  <br/><br/>
  Falls Sie dennoch eine Verletzung (z.B. blauer Fleck) fotografieren müssen, so darf die Person nicht zu erkennen/zu identifizieren sein. Achten Sie diesbezüglich auch auf besondere Körpermerkmale (z.B. Muttermale), die Rückschlüsse auf den/die Fotografierte(n) zulassen.
  <br/>
  Um ein Foto zu erstellen und zu speichern berühren Sie den Button "Foto-Funktion". und Schließen Sie nach erfolgreicher Aufnahme das Feld.
  <br/>
  Betätigen Sie vor dem Schließen der App den Button "Speichern", um Ihre Daten dauerhaft zu sichern.


</ion-content>
