<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
 
      Es gibt Grenzbereiche, in denen die akute Sicherung des Kindeswohls im Vordergrund steht und keinen Aufschub duldet.
In solchen Fällen ist es ratsam, direkt die Polizei zu informieren (z.B. bei akut drohenden Gewaltverbrechen).  
      <br/><br/>
      Bei der Polizei beginnt damit in der Regel auch ein Verfahren zur Ermittlung möglicher Straftaten.
      <br/><br/>
      Stellen Sie sich bitte folgende Fragen:<br/>
      <ol>
        <li>Sind verfügbare Leistungen der Jugendhilfe – insbesondere des Jugendamtes – tatsächlich nicht ausreichend, um die Gefährdung abzuwenden?</li>
        <li>Ist die Information an die Polizei ausreichend, um das Kindeswohl zu sichern oder bedarf es zusätzlich der Information an das Jugendamt?/li>
      </ol>
      <br/>
Sollte die Situation es zulassen, können Sie sich von einer insoweit erfahrenen Fachkraft, dem Jugendamt oder der Kinderschutzhotline beraten lassen.
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>