<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Definition</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Kindeswohlgefährdung ist „eine gegenwärtig in einem solchen Maße vorhandene Gefahr, dass sich bei einer weiteren Entwicklung eine erhebliche Schädigung (des Kindes) mit ziemlicher Sicherheit voraussehen lässt“. (BGH FamRZ 1956, S. 350 = NJW 1956, S.1434)
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

