<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Grundsätzlich sollten Sie die Eltern über die bevorstehende oder bereits durchgeführte Meldung an das Jugendamt informieren. 
    <br/>
    <br/>

    <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/F9A42D.svg"/>
          </ion-col>
          <ion-col col-9>
              Es kann jedoch auch Fälle geben, bei denen die Information der Betroffenen das Risiko der Gefährdung erhöht oder den Schutz des Kindes / der*des Jugendlichen in Frage stellt.

          </ion-col>
        </ion-row>
      </ion-grid> 
      Dies gilt zum Beispiel für Fälle, in denen es hohe Verschleierungstendenzen gibt.
      <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/telefon.png"/>
            </ion-col>
            <ion-col col-9>
                Bitte wägen Sie die Situation ab. Wenn Sie sich nicht sicher sind, können Sie sich zunächst auch an das Jugendamt wenden, ohne personenbezogene Daten mit Angaben zur Familie preiszugeben. Bitten Sie in einem ersten Schritt anonym um eine Einschätzung, ob es ratsam ist, die Eltern zu informieren. 
            </ion-col>
          </ion-row>
        </ion-grid> 
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>