<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>1/4 Erkennen und besprechen</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <!-- Frage 01 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox value="test" (click)="ja01()" checked="{{checked}}" ng-model="jes"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox value="no" (click)="nein01()" checked="{{checked2}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich habe Anhaltspunkte für eine Kindeswohlgefährdung wahrgenommen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0201')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>

                <button ion-button color="secondarySlide" (click)="Notizen(100)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- Frage 02 -->
    <ion-list [hidden]=hideMe02>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox value="test" (click)="ja02()" checked="{{checked02a}}" ng-model="jes"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox value="no" (click)="nein02()" checked="{{checked02b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich berate mich im Team / Kinderschutzgruppe dazu.
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0202')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(101)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 03 -->
    <ion-list [hidden]=hideMe03>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox value="test" (click)="ja03()" checked="{{checked03a}}" ng-model="jes"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox value="no" (click)="nein03()" checked="{{checked03b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich mache von meinem Anspruch auf Beratung durch eine insoweit erfahrene Fachkraft Gebrauch
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0203')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(102)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04 -->
    <ion-list [hidden]=hideMe04>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04()" checked="{{checked04a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04()" checked="{{checked04b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich pseudonymisiere/anonymisiere die Daten für die Beratung
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(103)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04b -->
    <ion-list [hidden]=hideMe04b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04b()" checked="{{checked04ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04b()" checked="{{checked04bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich fertige ein Protokoll zur Beratung an
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204b')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(104)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04c -->
    <ion-list [hidden]=hideMe04c>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04c()" checked="{{checked04ca}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04c()" checked="{{checked04cb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Mein Verdacht bleibt bestehen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204c')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(105)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04d -->
    <ion-list [hidden]=hideMe04d>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04d()" checked="{{checked04da}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04d()" checked="{{checked04db}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Es sind weitere Handlungsschritte vereinbart
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204d')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(106)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04e -->
    <ion-list [hidden]=hideMe04e>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04e()" checked="{{checked04ea}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04e()" checked="{{checked04eb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Es sind weitere Beratungen vereinbart
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204e')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(107)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Frage 04f -->
    <ion-list [hidden]=hideMe04f>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja04f()" checked="{{checked04fa}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein04f()" checked="{{checked04fb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Mein Verdacht bleibt bestehen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0204f')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(1071)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- wech
        <table width="100%">
            <tr>
                <td width="20%">
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </td>
                <td width="20%">
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </td>
                <td width="20%">
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </td>
                <td width="20%">
                    <ion-icon name="ai-icon-checkliste-als-pdf-versenden_schwarzxxhdpi" (click)="ff"></ion-icon>
                </td>
                <td width="20%">
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="ff"></ion-icon>
                </td>
            </tr>
        </table>
        -->
    </ion-toolbar>
</ion-footer>