<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Nicht immer ist die erste Idee oder der erste Rat wirkungsvoll.
      <br/>
      <br/>
      Unter Umständen zeigt sich frühzeitig, manchmal auch erst später, dass die vorgeschlagene Hilfe nicht ausreichend ist oder nicht angenommen wurde.
      <br/>
      <br/>
      Gibt es alternative Angebote, die Sie unterbreiten oder auf die Sie hinwirken können?
    <br/>
  
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png" />
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich dazu durch die insoweit erfahrene Fachkraft beraten.
        </ion-col>
      </ion-row>
    </ion-grid>
 
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>