<!--
  Generated template for the Advice0123bPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Hinweise</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
        Falls der Verdacht einer Gefährdung im Gespräch nicht ausgeräumt werden kann oder Eltern nicht zum Gespräch erscheinen und Sie auch weiterhin eine Kindeswohlgefährdung vermuten oder als gegeben ansehen, sollten Sie:
    <br/>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <br/>
                <img src="assets/imgs/97DEFF.svg" />
            </ion-col>
            <ion-col col-9>
                <ul>
                    <li>Ihre Entscheidungen und Informationen gut dokumentieren</li>
                    <li>Ihre weiteren Handlungsschritte planen.</li>
                </ul>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br/>
    <br/>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <img src="assets/imgs/telefon.png" />
            </ion-col>
            <ion-col col-9>
                    Lassen Sie sich auf hierzu von der insoweit erfahrenen Fachkraft beraten.
            </ion-col>
        </ion-row>
    </ion-grid>
    <br/>
    <br/>

    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>