<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bürgerliches Gesetzbuch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  BGB	§ 1631 BGB<br/><br/>
  (1) Die Personensorge umfasst insbesondere die Pflicht und das Recht, das Kind zu pflegen, zu erziehen, zu beaufsichtigen und seinen Aufenthalt zu bestimmen.
  <br/><br/>
  (2) Kinder haben ein Recht auf gewaltfreie Erziehung. Körperliche Bestrafungen, seelische Verletzungen und andere entwürdigende Maßnahmen sind unzulässig.
  <br/><br/>
  §1666 BGB<br/><br/>
  (1) Wird das körperliche, geistige oder seelische Wohl des Kindes oder sein Vermögen gefährdet und sind die Eltern nicht gewillt oder nicht in der Lage, die Gefahr abzuwenden, so hat das Familiengericht die Maßnahmen zu treffen, die zur Abwendung der Gefahr erforderlich sind.
…
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

