<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Bedienung der App</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
    <button ion-button class="bottons" (click)="Go('MnuNbContentA')">Die Fragen</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentB')">Ihre Notizen</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentF')">Hinweise</button>
    <br/><br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentC')">Anruf-Funktion</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentD')">An- und Abmelden</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentE')">Speichern und Laden</button>
    <br/><br/>
    <button ion-button class="bottons" (click)="Go('MnuNbContentG')">Symbole</button>
    <br/><br/>
  <!--
    <button ion-button class="bottons" (click)="Go('MnuNbContentF')">Druck-Funktion</button>
    -->
    <br/><br/>
    <br/><br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>