<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    Eltern und Familien Hilfen anzubieten kann eine wirkungsvolle Möglichkeit sein, um Gefahren für das Wohl eines Kindes/eines*einer Jugendlichen abzuwenden.<br/><br/>

    Überlegen Sie vorab, wie Sie sicher gehen können, dass die Hilfen von den Eltern/ der Familie angenommen werden bzw. Wirksamkeit entfalten.<br/>
      <ul>
        <li>Können Sie regelmäßige Gesprächstermine vereinbaren?</li>
        <li>Ist ein gemeinsames Gespräch mit dem Hilfeanbieter möglich?</li>
        <li>Sind die Betroffenen einverstanden, dass Sie sich mit dem Hilfeanbieter regelmäßig austauschen (Schweigepflichtsentbindung)? </li>
        <li>Treffen Sie mit den Eltern / der Familie konkrete Vereinbarungen, z.B. in Form eines Schutzplanes.</li>
      </ul>
    <br/>

  
    <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/97DEFF.svg" />
          </ion-col>
          <ion-col col-9>
              Dokumentieren Sie die getroffenen Entscheidungen und vereinbarten Hilfen. Dies beinhaltet auch mögliche Schweigepflichtsentbindungen und/oder weitere Absprachen.
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/telefon.png" />
            </ion-col>
            <ion-col col-9>
                Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten.
    <br/><br/>
    Falls andere Hilfen denkbar sind, oder Ihnen weitere Möglichkeiten der Hilfe und Unterstützung sinnvoll erscheinen, so:<br/>
    <ul>
      <li>beginnen Sie diese Seite der Checkliste von Neuem und</li>
      <li>löschen Sie dazu ihre bisherigen Angaben.</li>
    </ul>
            </ion-col>
          </ion-row>
        </ion-grid>

   <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>