<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sexuelle Gewalt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Sexuelle Gewalt bezeichnet alle sexuellen Handlungen, die an oder vor Kindern oder Jugendlichen gegen ihren Willen und/oder ohne deren Zustimmung vorgenommen werden. Dazu gehören u.a. auch Sprache sowie das Zeigen von Bildern oder Videos. Oft beinhaltet die Ausübung sexueller Gewalt ein Machtgefälle sowie das Aufbauen psychischen Drucks gegenüber dem Opfer.
    <br/><br/>
  Zu beachten ist hierbei, dass Täter*innen:<br/>
  <ul>
    <li>häufiger aus dem sozialen Nahraum kommen und der*dem Betroffenen bekannt sind, </li>
    <li>nicht selten umfangreiche Täter*innen-Strategien entwickeln und</li>
    <li>über einen längeren Zeitraum agieren.</li>
  </ul>
<br/>
  Täter*innen können somit sehr komplexe und stark konflikthafte Situationen schaffen.
  <br/><br/>
  Wenden Sie sich im Zweifelsfall an eine der spezialisierten Beratungsstellen im Land.
  
  
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

