<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gespräche mit Kindern</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Vermeiden Sie unbedingt Suggestivfragen. Geben Sie dem Kind ausreichend Zeit und Raum auf Fragen zu antworten.
  <br/>
  <br/>
  Ist es in Einzelfällen ratsamer eine*n Kolleg*in, zu der das Kind mehr Vertrauen oder einen offeneren Zugang hat,  hinzuziehen oder diese zu beauftragen? Dann nutzen Sie diese Gelegenheit.
  
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>