<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Körperliche Gewalt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Unter anderem durch Schläge oder Tritte, aber auch durch Unterlassung (z.B. fehlende Versorgung von Verletzungen) werden Kinder und Jugendliche körperlich geschädigt.
</ion-content>
