<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Erkennen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Verletzungen, Konflikte und schwierige Zeiten gehören zum Leben jedes Menschen und sind fester Bestandteil unserer Entwicklung.
    Gleichzeitig hat jeder das Recht, frei zu bestimmen, wie er oder sie leben will. Dies gilt insbesondere für die Wahl von Lebens- und Erziehungsstilen.
    <br/><br/>
    Ganz natürlich auftretende Probleme und Risiken von Kindeswohlgefährdungen zu unterscheiden ist daher nicht immer ganz einfach.
    <br/><br/>
    Stellen Sie sich immer folgende Fragen:<br/>
  Bei Verletzungen:<br/>
  <ol>
    <li>Ist diese Verletzung unfallbedingt?</li>
    <li>Ist die Erklärung für die Verletzung plausibel?</li>
    <li>Treten die Verletzungen häufig auf, obwohl dies eher untypisch ist?</li>
  </ol>
  <br/><br/>
  Bei Verhaltensweisen und Beziehungsmustern<br/>
  <ol>
    <li>Welche Verhaltensweisen oder Beziehungsmuster fallen mir genau auf?</li>
    <li>Ist das gezeigt Verhalten oder die Beziehung in einem für mich hinnehmbaren Rahmen? </li>
    <li>Welchen störenden/gefährdenden Einfluss haben diese Verhaltensweisen oder Beziehungsmuster auf die Entwicklung oder das Wohl  des Kindes.</li>
  </ol>
  <br/><br/>
  Vertrauen Sie immer Ihrem Bauchgefühl und prüfen Sie hierzu kritisch ihre eigenen Werte und Toleranzen.<br/>
  
  Warten Sie nicht auf den „Beweis“, sondern gehen Sie allen Anhaltspunkten nach und lassen Sie sich lieber einmal zu viel als einmal zu wenig von Ihrer insoweit erfahrenen Fachkraft beraten.
  
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>