<!--
  Generated template for the Advice0122Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Gelingende Gespräche zum Thema Kinderschutz sind immer auch eine Frage der Haltung. Es sollte dabei deutlich gemacht werden, worum Sie sich als Fachkräfte Sorgen machen und welches Ziel Sie verfolgen.
  <br/><br/>
    Wichtig ist, zu vermitteln, dass Sie sich um das Kind/den*die Jugendliche*n sorgen und es Ihnen nicht darum geht, Schuld zu suchen oder zuzuweisen.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
