<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Je nach interner Verfahrensvorgabe kann es notwendig und/oder sinnvoll sein, Ihre Schulleitung zu informieren.<br/><br/>

    Folgende Fragen sind u.a. zu beantworten:<br/><br/>
 
    <ul>
      <li>Was ist Ihr Anliegen an die Schulleitung?</li>
      <li>Was sollte Ihre Schulleitung dringend wissen (insbesonder zur eigenen Absicherung)? </li>
      <li>Was kann die Schulleitung zur Einschätzung beitragen?
        </li>
      <li> Ist es möglich, die Daten für die Beratung zu pseudonymisieren?
        </li>
    </ul>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/97DEFF.svg"/>
        </ion-col>
        <ion-col col-9>
          Gehen Sie möglichst systematisch in das Gespräch, geben Sie die Ergebnisse Ihrer vorherigen kollegialen Beratung weiter und dokumentieren Sie auch das Gespräch mit Ihrer Leitung.  
        </ion-col>
      </ion-row>
    </ion-grid> 
    <br/>
    Sollte es innerhalb des Gespräches zu einer Übergabe der Fallverantwortung an Ihre Leitungskraft kommen, müssen Sie diese Entscheidung genau dokumentieren. Ihre Verantwortung endet dann.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>