<ion-header>

    <ion-navbar hideBackButton="true">
        <ion-title>3/4 Hilfen anbieten</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 09 -->
    <ion-list>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja09()" checked="{{checked09a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein09()" checked="{{checked09b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Die Eltern sind bereit und in der Lage, ihr Kind selbst zu schützen 
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0209')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(113)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>    
    <!--Frage 09b -->
    <ion-list [hidden]=hideMe09b>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja09b()" checked="{{checked09ba}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein09b()" checked="{{checked09bb}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Eltern Hilfen anzubieten erhöht das Risiko der Gefährdung für das Kind/den*die Jugendliche*n 
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0209b')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(114)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>        
    <!--Frage 10 -->
    <ion-list [hidden]=hideMe10>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja10()" checked="{{checked10a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein10()" checked="{{checked10b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Dem Kind/der*dem Jugendlichen Hilfen anzubieten erhöht das Risiko der Gefährdung 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0210')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(115)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!--Frage 12-->
    <ion-list [hidden]=hideMe12>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja12()" checked="{{checked12a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein12()" checked="{{checked12b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich als Verantwortliche*r kann der Familie Hilfen aus meinem System anbieten
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02112')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(117)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 12b -->
        <ion-list [hidden]=hideMe12b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja12b()" checked="{{checked12ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein12b()" checked="{{checked12bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern oder das Kind/der*die Jugendliche nehmen Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0211')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(116)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 13-->
    <ion-list [hidden]=hideMe13>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja13()" checked="{{checked13a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein13()" checked="{{checked13b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die angebotenen Hilfen sind ausreichend und wirksam
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02113')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(118)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 14-->
    <ion-list [hidden]=hideMe14>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja14()" checked="{{checked14a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein14()" checked="{{checked14b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich bleibe mit den Beteiligten in Kontakt und beobachte ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02114')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(119)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 15-->
    <ion-list [hidden]=hideMe15>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja15()" checked="{{checked15a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein15()" checked="{{checked15b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich als Verantwortliche*r kann der Familie Hilfen anderer aufzeigen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02115')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(120)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
                <!--
                <button ion-button color="thirdSlide">
                    <ion-icon name="ai-icon-Beratung_schwarzxxhdpi"></ion-icon>
                    Anrufen
                </button>
                -->
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 15b-->
        <ion-list [hidden]=hideMe15b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja15b()" checked="{{checked15ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein15b()" checked="{{checked15bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern oder das Kind/der*die Jugendliche nehmen Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0215b')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(136)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                        <!--
                        <button ion-button color="thirdSlide">
                            <ion-icon name="ai-icon-Beratung_schwarzxxhdpi"></ion-icon>
                            Anrufen
                        </button>
                        -->
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 16-->
    <ion-list [hidden]=hideMe16>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja16()" checked="{{checked16a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein16()" checked="{{checked16b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die angebotenen Hilfen sind ausreichend und wirksam
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02116')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(121)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 17-->
    <ion-list [hidden]=hideMe17>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja17()" checked="{{checked17a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein17()" checked="{{checked17b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich bleibe mit den Beteiligten in Kontakt und beobachte ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02117')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(122)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 18-->
    <ion-list [hidden]=hideMe18>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja18()" checked="{{checked18a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein18()" checked="{{checked18b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich lasse mir ggf. von den Eltern eine Schweigepflichtsentbindung geben, um mir Rückmeldungen von den Partnern einzuholen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02118')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(123)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 19-->
    <ion-list [hidden]=hideMe19>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja19()" checked="{{checked19a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein19()" checked="{{checked19b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich kann alternative Hilfen anbieten oder darauf verweisen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('02119')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(124)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 19b-->
        <ion-list [hidden]=hideMe19b>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja19b()" checked="{{checked19ba}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein19b()" checked="{{checked19bb}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Die Eltern oder das Kind/der*die Jugendliche nehmen Hilfen in Anspruch
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0219b')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(137)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                        <!--
                        <button ion-button color="thirdSlide">
                            <ion-icon name="ai-icon-Beratung_schwarzxxhdpi"></ion-icon>
                            Anrufen
                        </button>
                        -->
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 20-->
    <ion-list [hidden]=hideMe20>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja20()" checked="{{checked20a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein20()" checked="{{checked20b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die angebotenen Hilfen sind ausreichend und wirksam
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0220')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(125)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 21-->
    <ion-list [hidden]=hideMe21>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja21()" checked="{{checked21a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein21()" checked="{{checked21b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich bleibe mit den Beteiligten in Kontakt und beobachte ob sich Änderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0221')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(126)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 22-->
    <ion-list [hidden]=hideMe22>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja22()" checked="{{checked22a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein22()" checked="{{checked22b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich lasse mir ggf. von den Eltern eine Schweigepflichtsentbindung geben, um mir Rückmeldungen von den Partnern einzuholen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0222')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(127)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
        <!--Frage 22a-->
        <ion-list [hidden]=hideMe22a>
                <div>
                    <ion-grid style="color:black">
                        <ion-row>
                            <ion-col col-1.2>
                                ja
                            </ion-col>
                            <ion-col col-1.2>
                                nein
                            </ion-col>
                            <ion-col col-9>
        
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="ja22a()" checked="{{checked22aa}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-1.2>
                                <ion-checkbox (click)="nein22a()" checked="{{checked22ab}}"></ion-checkbox>
                            </ion-col>
                            <ion-col col-9>
                                    Meiner Einschätzung nach ist die Kindeswohlgefährdung damit abgewendet
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-item-sliding>
                    <ion-item>
                        <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                    </ion-item>
        
                    <ion-item-options side="left">
                        <button ion-button color="primarySlide" (click)="Advice('0222a')">
                            <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                            Hinweise
                        </button>
                        <button ion-button color="secondarySlide" (click)="Notizen(138)">
                            <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                            Notizen
                        </button>
                        <!--
                        <button ion-button color="thirdSlide">
                            <ion-icon name="ai-icon-Beratung_schwarzxxhdpi"></ion-icon>
                            Anrufen
                        </button>
                        -->
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
    <!--Frage 23-->
    <ion-list [hidden]=hideMe23>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja23()" checked="{{checked23a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein23()" checked="{{checked23b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich kann auf keine wirkungsvollen Hilfen verweisen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0223')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(128)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 24-->
    <ion-list [hidden]=hideMe24>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja24()" checked="{{checked24a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein24()" checked="{{checked24b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Eltern sind nicht bereit oder nicht in der Lage Hilfen, die ich anbiete oder auf die ich verweisen kann, anzunehmen oder umzusetzen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0224')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(129)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>