<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>5/5 Meldung an das Jugendamt</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 34 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja34()" checked="{{checked34a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein34()" checked="{{checked34b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich mache von meiner Meldebefugnis an das  Jugendamt  (gem. § 4 KKG) Gebrauch und schicke eine Kopie meiner Dokumentation 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0334')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(236)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 35 -->
    <ion-list [hidden]=hideMe35>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja35()" checked="{{checked35a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein35()" checked="{{checked35b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich informiere die Betroffenen vorab über meine Meldung 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0335')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(237)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 36 -->
    <ion-list [hidden]=hideMe36>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja36()" checked="{{checked36a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein36()" checked="{{checked36b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich füge der Meldung an das Jugendamt die entsprechenden Formblätter und Anlagen bei 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0336')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(238)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 37 -->
    <ion-list [hidden]=hideMe37>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja37()" checked="{{checked37a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein37()" checked="{{checked37b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich nehme eine Empfangsbestätigung entgegen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0337')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(239)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 38 -->
    <ion-list [hidden]=hideMe38>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja38()" checked="{{checked38a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein38()" checked="{{checked38b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich hole die Entgegennahme einer Empfangsbestätigung nach und bleibe solange in der Fallverantwortung
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0338')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(240)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 39 -->
    <ion-list [hidden]=hideMe39>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja39()" checked="{{checked39a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein39()" checked="{{checked39b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe weiter achtsam und beobachte ob sich Veränderungen ergeben oder die Gefährdung bestehen bleibt
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0339')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(241)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>    
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="ff"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>