<!--
  Generated template for the Advice0146Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Je nach Bedarf sollten Angebote anderer Einrichtungen, Dienste und Professionen genutzt werden, um eine Kindeswohlgefährdung abzuwenden.<br/><br/>
    
    Denkbar sind unter anderem:
    
    <ul>
      <li>Haben die Eltern Möglichkeiten ihr Kind selbst zu schützen?</li>
        <li>die Angebote anderer Träger,</li>
        <li>Angebote des Jugendamtes</li>
        <li>Angebote anderer Professionen (z.B. medizinische Behandlung)</li>
      </ul>
      <br/>
      Besprechen Sie mit den Eltern, welche Hilfsangebote sie annehmen würden und welche notwendig sein können.<br/><br/>

Versuchen Sie die Eltern dahingehend zu motivieren diese Hilfen anzunehmen oder mit anderen Einrichtungen in Kontakt zu treten.


  <ion-grid>
    <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png"/>
  </ion-col>
  <ion-col col-9>
      Lassen Sie sich zu hierzu von der insoweit erfahrenen Fachkraft beraten.

    </ion-col>
</ion-row>
</ion-grid>

          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
