<!--
  Generated template for the ContentsChecklist02Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ärztinnen/ Berufsgeheimnisträger</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p>Bitte wählen Sie nun aus, an welcher Stelle in Ihrem Kinderschutz-Verfahren Sie sich befinden bzw. welchen Bereich des Verfahrens Sie durchlaufen möchten.</p><br/>
  <p>Ich möchte...</p><br/>
  <button ion-button class="bottons" (click)="Start()">Anhaltspunkten nachgehen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start2()">die Situation erörtern</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start3()">Hilfen anbieten</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Start4()">eine Meldung machen</button>
  <br/><br/>


  <button ion-button class="bottons" (click)="closeAdvice()">Abbrechen</button>
</ion-content>
