<!--
  Generated template for the Finish04Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p><b>ACHTUNG</b><br/><br/>
    Bleiben Sie achtsam!</p>
  <div align="center">
      <br/><br/>
    <img src="assets/imgs/Auge.svg" width="40%"/>
  </div>
  <br/><br/><br/>
    <button ion-button class="bottons" (click)="closeFinish()">beenden</button>
    <button ion-button class="bottons" (click)="goBack()">zurück</button>
</ion-content>
