<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrieren</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Nutzungsbedingungen</h1>
<br/><br/>
Ich bestätige hiermit, die Kinderschutz-App nur unter folgenden Bedingungen einzusetzen.<br/>
<ol>
  <li>Die Kinderschutz-App dient ausschließlich der Orientierung und Hilfestellung im Kinderschutz-Verfahren.</li>
  <li>Die aufgezeigten Handlungsschritte und Empfehlungen sind Vorschläge, die keinen Anspruch auf Vollständigkeit haben und immer am Einzelfall zu überprüfen sind.</li>
  <li>Die Kinderschutz-App dient nicht als Dokumentations- oder Diagnoseinstrument.</li>
  <li>Die Kinderschutz-App wird niemals zur Speicherung personenbezogener oder inhaltlicher Daten eines Einzelfalls eingesetzt.</li>
  <li>Die Nutzung erfolgt eigenverantwortlich und weder rechtswidrig noch zweckentfremdet.
</li>
</ol>

<br/><br/>	
Hinweis: Lassen Sie ihr Smartphone nicht unbeaufsichtigt. Vermeiden Sie Zugriffe Dritter auf ihr Smartphone und nutzen Sie aktuelle Antivirenprogramme.
<br/>
<ion-item>
    <ion-label>akzeptiert</ion-label>
      <ion-checkbox value="test" (click)="ja01()" checked="{{checked}}" ng-model="jes"></ion-checkbox>
  </ion-item>
<br/>
<button ion-button class="bottons" (click)="goRegistration02()">Fortfahren</button>
<br/><br/>
<button ion-button class="bottons" (click)="exitApp()">Abbrechen</button>
</ion-content>
