<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Andere Hilfen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Auch andere Fachbereiche bieten Hilfs- und Unterstützungsangebote für Eltern und Kinder. Erörtern Sie mit den Eltern, welche Unterstützung notwendig ist und lassen Sie sich darauf aufbauend von der insoweit erfahrenen Fachkraft beraten.
  <br/>
  <br/>
  In besonderen Fällen können Sie sich natürlich auch an das Familiengericht oder, bei Gefahr im Verzug, an die Polizei wenden.
  
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>