<ion-header>

    <ion-navbar hideBackButton="true">
            <ion-title>4/4 Meldung an das Jugendamt</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content padding>
        <!--Frage 25 -->
        <ion-list>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja25()" checked="{{checked25a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein25()" checked="{{checked25b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich mache von meiner Meldebefugnis an das Jugendamt (gem. § 4 KKG) Gebrauch und schicke eine Kopie meiner Dokumentation 
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0225')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(130)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <!--Frage 26 -->
        <ion-list [hidden]=hideMe26>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja26()" checked="{{checked26a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein26()" checked="{{checked26b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Aufgrund akuter Gefährdung informiere ich die Polizei
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0226')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(131)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <!--Frage 27 -->
        <ion-list [hidden]=hideMe27>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja27()" checked="{{checked27a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein27()" checked="{{checked27b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich informiere das Familiengericht, da die Eltern nicht bereit oder nicht in der Lage sind, meine Hilfen anzunehmen und die akute Gefährdung auch mit externer Unterstützung nicht abzuwenden ist
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0227')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(132)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <!--Frage 28 -->
        <ion-list [hidden]=hideMe28>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja28()" checked="{{checked28a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein28()" checked="{{checked28b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich informiere vorab die Eltern über meine Schritte, wenn der wirksame Schutz des Kindes dadurch nicht in Frage gestellt wird
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0228')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(133)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <!--Frage 29 -->
        <ion-list [hidden]=hideMe29>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja29()" checked="{{checked29a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein29()" checked="{{checked29b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich informiere vorab das Kind/den*die Jugendliche*n über meine Schritte, wenn der wirksame Schutz des Kindes dadurch nicht in Frage gestellt wird
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0229')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(134)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <!--Frage 30 -->
        <ion-list [hidden]=hideMe30>
            <div>
                <ion-grid style="color:black">
                    <ion-row>
                        <ion-col col-1.2>
                            ja
                        </ion-col>
                        <ion-col col-1.2>
                            nein
                        </ion-col>
                        <ion-col col-9>
    
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="ja30()" checked="{{checked30a}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-1.2>
                            <ion-checkbox (click)="nein30()" checked="{{checked30b}}"></ion-checkbox>
                        </ion-col>
                        <ion-col col-9>
                                Ich bleibe weiter achtsam, ob sich Veränderungen ergeben
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-item-sliding>
                <ion-item>
                    <ion-icon name="fastforward" style="color:grey;"></ion-icon>
                </ion-item>
    
                <ion-item-options side="left">
                    <button ion-button color="primarySlide" (click)="Advice('0230')">
                        <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                        Hinweise
                    </button>
                    <button ion-button color="secondarySlide" (click)="Notizen(135)">
                        <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                        Notizen
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>    
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="ff"></ion-icon>
                    </ion-col>
                    <ion-col>
                            <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-footer>