<!--
  Generated template for the Advice0116Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    

    
    Nicht jede Fachkraft fühlt sich subjektiv in der Lage, Elterngespräche im Kinderschutz zu führen.<br/><br/>

    Dies kann mehrere Ursachen haben – angefangen bei der Ausbildung oder Qualifizierung bis hin zu den persönlichen Stärken oder Schwächen.
    
    <br/><br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/telefon.png"/>
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich ggf. von ihrer insoweit erfahren Fachkraft beraten oder ziehen Sie weitere Fachkräfte hinzu. Besprechen Sie dies möglichst vorab mit den Eltern.
          </ion-col>
      </ion-row>
      </ion-grid>
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
