<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die Fragen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  Die Fragen innerhalb der Checklisten führen Sie kleinschrittig durch das gesamte Verfahren im Kinderschutz.<br/><br/>

  Die Fragen betreffen verschiedene Bereiche und sind entsprechend unterteilt in:<br/>
  <ul>
  <li>Das Erkennen und Besprechen von Kindeswohlgefährdungen</li>
  <li>Das Ansprechen der Eltern und Kinder</li>
  <li>Das Anbieten von Hilfen</li>
  <li>Das Überprüfen angebotener Hilfen</li>
  <li>Die Meldung an das Jugendamt</li>
  </ul>
  Manche Fragen werden nur aktiviert, wenn Sie zuvor andere Fragen bestätigt oder verneint haben. Dies dient Ihrer Unterstützung im Verfahren.
  -->
  Sie können die Fragen somit zur eigenen 
  <ul>
    <li>Vorbereitung (Was ist gegenwärtig zu tun?)</li>
    <li>Reflektion ihrer bisherigen Arbeitsschritte  (Was habe ich bisher getan?) sowie </li>
    <li>Analyse des Verfahrensstandes (An welcher Stelle im Verfahren bin ich?) heranziehen.</li>
  </ul>
  
  
  
  <br/>
  Die Fragen betreffen verschiedene Bereiche und sind entsprechend unterteilt in:
  <ul>
    <li>Das Erkennen und Besprechen von Kindeswohlgefährdungen</li>
    <li>Das Ansprechen der Eltern und Kinder</li>
    <li>Das Anbieten von Hilfen</li>
    <li>Das Überprüfen angebotener Hilfen</li>
    <li>Die Meldung an das Jugendamt</li>
  </ul>
  <br/>
  Manche Fragen werden nur aktiviert, wenn Sie zuvor andere Fragen bestätigt oder verneint haben. Dies dient Ihrer Unterstützung im Verfahren.
  <br/><br/>
  <b>Bitte beachten Sie: </b>Jeder Fall ist einzigartig und bedarf immer einer individuellen Einschätzung und Planung. Die Fragen haben keinen Anspruch auf Vollständigkeit und dienen lediglich der allgemeinen Orientierung. Die Fallverantwortung bleibt bei der verantwortlichen Fachkraft. 
</ion-content>
