page-home {

  .masters {
    background-color: #ffe400;
  }
  .botton {
    //background:url(.imgs/Button-Rahmen.svg);
    background-color: #ffe400;
    color: #000000;
    width: 100%;
    align: center;
  }
  .menubotton {
    display: block !important;
  }
  .universe {
    background-color: #000000;
  }
//neue Farbcodes beachten!!! (22.04.18)

}
