<ion-header primary>
  <ion-navbar hideBackButton="true">
    <!--
    <button ion-button menuToggle right class="menubotton">
      <ion-icon name="menu"></ion-icon>
    </button>
    -->
    <ion-title>Profession wählen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">
  <br/>
  <div allign="center">
    <!--
    <img src="assets/imgs/Logo-sie-sind.svg" width="15%" />
    -->
    Bitte wählen Sie die Profession aus,<br/> zu der Sie gehören.<br/><br/>
    Ich bin:<br/>
  </div>
  <br/>
  <br/>

  <br/>
  <button ion-button class="botton" (click)="Checklist(01)">Fachkraft der Jugendhilfe</button>
  <button ion-button class="botton" (click)="Checklist(03)">Lehrkraft</button>
  <button ion-button class="botton" (click)="Checklist(02)">Ärzt*in</button>
  <button ion-button class="botton" (click)="Checklist(02)">Berufsgeheimnisträger*in</button>
  <button ion-button class="botton" (click)="goNavy()">Menü</button>
 
  <br/>
  <br/>
  <!--
    <button ion-button full outline (click)="itemChcklist01($event, item)">Fachkraft der Jugendhilfe</button>
    <button ion-button full outline (click)="itemChcklist02($event, item)">Ärzt*innen</button>
    <button ion-button full outline (click)="itemChcklist02($event, item)">Berufsgeheimnisträger*in</button>
    <button ion-button full outline (click)="itemChcklist03($event, item)">Lehrkraft</button>
    <br/><br/>

    <button ion-button full outline (click)="itemChcklist03($event, item)">Abbrechen</button>
    -->
  <button ion-button class="botton" (click)="goLogin()">beenden und ausloggen</button>
  <!--
    <button ion-button full outline (click)="openNote()">Notest</button>
    -->
  <br/>
  <br/>
  <br/>
  <img src="assets/imgs/tip.png" />
  <!--
    <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Checklisten" tabIcon="ai-icon-checklist_schwarzxxhdpi"></ion-tab> 
        <ion-tab [root]="tab2Root" tabTitle="zurück" tabIcon="ai-icon-Beratung_schwarzxxhdpi"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="weiter" tabIcon="arrow-dropright"></ion-tab>
        <ion-tab [root]="tab4Root" tabTitle="Senden" tabIcon="cloud-upload"></ion-tab>
        <ion-tab [root]="tab5Root" tabTitle="Speichern" tabIcon="recording"></ion-tab>
      </ion-tabs>
    -->
</ion-content>
<!--
<ion-footer>
    <ion-toolbar>
    -->
<!--
        <ion-segment-button value="tabButtonOne" (click)="itemChcklist01($event, item)">
            <ion-icon name="ai-icon-checklist_schwarzxxhdpi"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="tabButtonOne" (click)="itemChcklist01($event, item)">
            <ion-icon name="ai-icon-checklist_schwarzxxhdpi"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tabButtonOne" (click)="itemChcklist01($event, item)">
            <ion-icon name="ai-icon-checklist_schwarzxxhdpi"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tabButtonOne" (click)="itemChcklist01($event, item)">
            <ion-icon name="ai-icon-checklist_schwarzxxhdpi"></ion-icon>
        </ion-segment-button>
      -->
<!--
      <table width="100%">
        <tr><td width="20%">
      <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemChcklist01($event, item)"></ion-icon>
    </td><td width="20%">
      <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemChcklist01($event, item)"></ion-icon>
    </td><td width="20%">
      <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemChcklist01($event, item)"></ion-icon>
    </td><td width="20%">
      <ion-icon name="ai-icon-checkliste-als-pdf-versenden_schwarzxxhdpi" (click)="itemChcklist01($event, item)"></ion-icon>
    </td><td width="20%">
      <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="itemChcklist01($event, item)"></ion-icon>
    </td>
        </tr>
    </table>
  -->
<!--
      <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Checklisten" tabIcon="ai-icon-checklist_schwarzxxhdpi"></ion-tab> 
        <ion-tab [root]="tab2Root" tabTitle="zurück" tabIcon="ai-icon-Beratung_schwarzxxhdpi"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="weiter" tabIcon="arrow-dropright"></ion-tab>
        <ion-tab [root]="tab4Root" tabTitle="Senden" tabIcon="cloud-upload"></ion-tab>
        <ion-tab [root]="tab5Root" tabTitle="Speichern" tabIcon="recording"></ion-tab>
      </ion-tabs>
    -->
<!--
    </ion-toolbar>
  </ion-footer>
-->