<!--
  Generated template for the Advice0118Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
      <img src="assets/imgs/telefon.png"/>
      </ion-col>
      <ion-col col-9>
          Falls auch Ihre Kolleg*innen / Leitungskräfte nicht ausreichend zu Ihrer Sicherheit in der Vorbereitung beitragen können oder eine Beratung nicht möglich ist, so können Sie sich durch Ihre insoweit erfahrene Fachkraft beraten lassen.
        </ion-col>
    </ion-row>
    </ion-grid>
    Diese kann Ihren wichtige Ratschläge geben und Sie in der Vorbereitung unterstützen. 

            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>