<!--
  Generated template for the Advice0111Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
      <img src="assets/imgs/F9A42D.svg"/>
      </ion-col>
      <ion-col col-9>
          In manchen Einzelfällen oder in besonderen Fallkonstellationen ist es unter Umständen nicht ratsam, die Eltern direkt anzusprechen.
        </ion-col>
    </ion-row>
    </ion-grid><br/><br/>
    Dies gilt beispielsweise für Fälle, in denen:<br/>
      <ul>
        <li>Verschleierungstendenzen wahrscheinlich sind (d.h. dass die Gewalt aktiv verschleiert werden könnte) oder</li>                          
        <li>Kinder/Jugendliche unter Druck gesetzt werden oder zusätzliche Gewalt erfahren könnten.</li>
      </ul><br/><br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/telefon.png"/>
        </ion-col>
        <ion-col col-9>
            Besprechen Sie Ihren Verdacht mit der insoweit erfahrenen Fachkraft.
          </ion-col>
      </ion-row>
      </ion-grid><br/><br/>
      In Fällen sexueller Gewalt ist es ratsam, auf spezialisierte insoweit erfahrene Fachkräfte (z.B. aus Fachberatungsstellen) zurückzugreifen.<br/><br/>
Sollten Sie zu dem Schluss kommen, dass ein Gespräch mit den Eltern die Gefährdung für das Kind noch erhöhen oder den Schutz in Frage stellen könnte, sollten Sie diesen Schritt nicht ausführen. Suchen Sie dann in der Beratung nach Alternativen.
<br/><br/>
Hinweis: In manchen Fällen sind die Eltern nicht die Erziehungs- oder Personensorgenerechtigten. Informieren Sie sich im Zweifelsfall im Vorfeld intern über die Personensorge.
      <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
