<!--
  Generated template for the Advice0117Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    Falls Sie sich nicht gut vorbereitet fühlen, können Ihnen Kolleg*innen oder Leitungskräfte unter Umständen wichtige Ratschläge geben oder Hilfestellung leisten.
    <br/><br/>
    Fragen Sie gezielt bei Ihren Kolleg*innen oder Leitungskräften nach.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
