<!--
  Generated template for the Advice0130Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
          Die insoweit erfahrene Fachkraft kann Sie zu Fragen der Gesprächsführung mit Kindern/Jugendlichen gezielt beraten.

          

      </ion-col>
    </ion-row>
  </ion-grid>
  <br/> Beurteilen Sie gemeinsam Ihre Ausgangssituation, Rahmenbedingungen und Ziele für das Gespräch.

  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>