<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Das Ziel der App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
<p>
    Die Kinderschutz-App ist als Hilfe und Unterstützung für Fachkräfte gedacht.<br/><br/>

    Sie spiegelt das Verfahren und die gesetzlichen Mindeststandards nach § 8a Abs. 4 SGB VIII und § 4 KKG wider.<br/><br/>
    Die Kinderschutz-App führt Sie durch Ihr Verfahren und unterstützt Sie in der Vor- und Nachbearbeitung Ihrer Handlungsschritte bei Verdacht auf eine Kindeswohlgefährdung.<br/><br/>

    Die Kinderschutz-App ersetzt nicht:<br/>
    <ul>
      <li>die fachliche Entscheidung oder persönliche Einschätzung, oder</li>
      <li>ihr reguläres, internes Verfahren, noch</li>
      <li></li>
    </ul>
    
     
    dient sie der Dokumentation von Einzelfällen.
    
    Die Nutzung der App erfolgt ausschließlich in eigener Verantwortung. Für Rechtsverstöße oder eine missbräuchliche Nutzung wird keine Haftung übernommen. Die Fallverantwortung bleibt bei der verantwortlichen Fachkraft.
    
    Weitere Informationen rund um das Thema Kindeswohlgefährdung finden Sie auf www.bündnis-kinderschutz-mv.de.

</p>

leer!!!!
-->

</ion-content>
