<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Nicht immer sind hochschwellige Hilfen oder Hilfen Dritter notwendig.<br/><br/>

      Können Sie selbst in Ihrem eigenen Handlungsfeld und im Rahmen ihrer Tätigkeit Möglichkeiten zur Unterstützung der Familie oder des betroffenen Kindes / der*des Jugendlichen anbieten?<br/><br/>
      
      Testen Sie an, auf welche Unterstützung sich die Betroffenen einlassen könnten und ob ihre Möglichkeiten dafür ausreichen.<br/><br/>
      
      Beachten Sie hierbei Ihre internen Vorgaben (z.B. Vereinbarungen mit dem Jugendamt oder Schutzpläne).<br/><br/>
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>