.erstinfo-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
    .bottons {
      //background:url(.imgs/Button-Rahmen.svg);
      background-color: #ffffff;
      color: #000000;
      width: 100%;
      height: 7%;
      align: center;
      border: 2px solid #000000;
    }
  
  }