<ion-header>
  <ion-navbar>
    <ion-title>Hinweise zur ersten Nutzung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="erstinfo-page">

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <!--
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
    -->
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <img [src]="slide.image" class="slide-image"/>
      <p [innerHTML]="slide.description"></p>
      <!--
      <br/><br/>
      -->
      <button class="bottons" (click)="startApp()">
        Jetzt loslegen
      </button>
    </ion-slide>
    <!--
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      -->
      <!--
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      -->
      <!--
      <h2 class="slide-title">App starten</h2>
      <button ion-button large clear icon-end color="primary" (click)="startApp()">
        Start
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
    -->
  </ion-slides>
</ion-content>