<!--
  Generated template for the FinishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="universe">

    <ion-navbar>
      <ion-title>Ende</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
    <p>Sie haben Ihren Fall an das Jugendamt gemeldet.<br/><br/>
      Ihr aktuelles, internes Kinderschutz-Verfahren endet mit der Übermittlung der Informationen.</p>
    <div align="center">
      <img src="assets/imgs/Haken.svg" width="40%"/>
    </div>
    <br/><br/><br/>
      <button ion-button class="bottons" (click)="goNext()">weiter</button>
      <button ion-button class="bottons" (click)="closeFinish()">zurück zur Checkliste</button>
  </ion-content>
  