page-finishjamt {

    .masters {
        background-color: #cbeeff;
      }
      .universe {
        background-color: #000000;
      }

      .bottons {
        background-color: #cbeeff;
      }

}
