<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1>Einstellungen</h1>
<br/>

    <ion-item>
      <ion-label>{{updateStatus}}</ion-label>
      <!--
      <ion-toggle (ionChange)="notify()" [checked]="autoUpdate"></ion-toggle>
      -->
    </ion-item>




  <!--Animatest
  <img src="assets/imgs/KWG-App-Logo-Intro360x640.gif"/>
  -->
  <button ion-button class="bottons" (click)="showStatus()">Update-Status anzeigen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="changeStatus()">Status ändern</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>
