<!--
  Generated template for the Finish03Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p><b>ACHTUNG</b><br/><br/>
    Achten Sie darauf, dass Ihre Dokumentation vor dem Zugriff und der Einsicht Dritter geschützt ist!</p>
    <br/><br/>
  <div align="center">
    <img src="assets/imgs/Schloss.svg" width="20%"/>
  </div>
  <br/><br/><br/>
    <button ion-button class="bottons" (click)="goNext()">nächster Schritt</button>
    <button ion-button class="bottons" (click)="closeFinish()">zurück</button>
</ion-content>
