<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vernachlässigung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Die Grundbedürfnisse eines Kindes oder Jugendlichen (u.a. nach Versorgung, Nähe, Schutz, Kleidung, Förderung) werden bewusst oder aus Unkenntnis durch die Eltern oder durch andere Personensorgeberechtigte bzw. Betreuer*innen nicht oder nicht ausreichend befriedigt.
</ion-content>
