<!--
  Generated template for the Advice0132Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  Kinder/Jugendliche sind besonders anfällig für Suggestivfragen.<br/><br/> Sie sollten daher unbedingt Fragen vermeiden, die:

  <ul>
    <li>eine bestimmte Antwort nahe legen, oder</li>
    <li>sozial-erwünschte Antworten fördern.</li>
  </ul>
  Stellen Sie nach Möglichkeit offene Fragen.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>