<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Wenn Sie den Weg über das Jugendamt nicht gehen wollen/können oder nach einer Meldung die Aktivitäten des Jugendamtes für nicht ausreichend halten, um das Kindeswohl zu sichern, können Sie sich auch direkt an das Familiengericht wenden.
<br/><br/>
      Stellen Sie sich bitte die Frage, ob die Anrufung des Familiengerichts tatsächlich geeignet ist, um das Kindeswohl zu sichern?
      <br/><br/>
      Sollten Sie unsicher sein, können Sie sich durch die insoweit erfahrene Fachkraft oder die Kinderschutzhotline beraten lassen.
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>