<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>KiSchuApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-button full outline (click)="itemNutzg01($event, item)">Die Fragen</button>
    <button ion-button full outline (click)="itemNutzg02($event, item)">Legende</button>
    <button ion-button full outline (click)="itemNutzg03($event, item)">Foto-Funktion</button>
    <button ion-button full outline (click)="itemNutzg04($event, item)">Ihre Notizen</button>
    <button ion-button full outline (click)="itemNutzg09($event, item)">Hinweise</button>
    <button ion-button full outline (click)="itemNutzg05($event, item)">Anruf-Funktion</button>
    <button ion-button full outline (click)="itemNutzg06($event, item)"> An- und Abmelden</button>
    <button ion-button full outline (click)="itemNutzg07($event, item)">Speichern und Laden</button>
    <!--
    <button ion-button full outline (click)="itemNutzg08($event, item)">Druck-Funktion</button>
    -->
  </ion-list>
</ion-content>
