<!--
  Generated template for the Advice0139Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Hilfen zum Schutz eines Kindes / eines*einer Jugendlichen sind keine Selbstläufer, sondern verlangen in der Regel eine aktive Beteiligung der Eltern.<br/><br/>
      Daher müssen Sie überprüfen, ob die Eltern bereit (Wille) und in der Lage (Möglichkeit und Fähigkeit) sind, diese Hilfen auch anzunehmen.<br/>
      Sollte eine dieser Bedingungen nicht erfüllt sein, ist eine wirkungsvolle Hilfe und Unterstützung zur nachhaltigen Sicherung des Kindeswohls unwahrscheinlich.<br/><br/>
   
      Überlegen Sie im Vorfeld: <br/>
      <ul>
        <li>Welche Maßnahmen können Sie ergreifen, um Eltern in die Lage zu versetzen, Hilfen anzunehmen und die Bereitschaft zur Hilfeannahme zu erhöhen (z.B. respektvolle GEsprächsführung, Akzeptanz o.ä.)?</li>
        <li>Was sollte unterlassen werden, um einen negativen Einfluss auf die Möglichkeiten und Einstellung der Eltern zu vermeiden (z.B. Vorhaltungen, Intransparenz o.ä.)?</li>
      </ul>


              <br/><br/>
          <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
    </ion-content>
  
  
  