<!--
  Generated template for the Advice0115Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    Gespräche im Kinderschutz müssen stets mit Bedacht geführt werden.<br/>
    Daher ist eine gute Gesprächsvorbereitung wichtig.<br/><br/>
    <ol>
      <li>Erstellen Sie sich einen groben Ablauf und machen Sie sich schriftliche Stichpunkte. Bei einem "schwierigen" Elterngespräch können Sie sich so anhand Ihres Leitfadens orientieren, ohne ggf. etwas zu vergessen.</li><br/>
      <li>Klären Sie für sich selbst, welches Ziel Sie mit dem Gespräch in Hinblick auf die Problemlösung anstreben bzw. welche möglichen oder notwendigen (kurz- und/oder langfristigen) Veränderungen Sie erreichen möchten. </li><br/>
      <li>Vergewissern Sie sich für Ihre Vorbereitung immer im Rahmen einer kollegialen Teamberatung: <br/>
        
        <ul>
          <li>Was sind Ihre Beobachtungen und Erkenntnisse, was die der Kolleg*innen.</li>
          <li>Was empfehlen Ihre Kolleg*innen für ein Vorgehen?</li>
        </ul><br/>
      </li>
      <li>Beschreiben Sie Ihre Wahrnehmung bzw. das Problem aus Ihrer eigenen Sicht als pädagogische Fachkraft. Klären Sie dafür den Sachverhalt im Vorfeld, so weit es geht,  aus Ihrer Sicht und Einschätzung ab. Überlegen Sie sich auch bereits im Vorfeld "gute" Formulierungen, die möglichst nicht eskalierend wirken.</li><br/>
      <li>Versetzen Sie sich in die Lage der Eltern des Kindes. Wie stellt sich deren subjektive
    »Realität« vermutlich dar? Welche Ziele bzw. Motivationen vermuten Sie bei den
    Eltern? Wechseln Sie bewusst die Perspektive!</li><br/>
      <li>Prüfen Sie, wann und wo, ggf. mit wem (eine*r zweite*n Kolleg*in) Sie das Gespräch durchführen wollen.</li><br/>
      <li>Entwickeln Sie nach Möglichkeit vorsorglich eigene Ideen für die Problemlösung für den Fall, dass die Eltern nicht bereit oder in der Lage sind, sich damit auseinanderzusetzen.</li>
    </ol>
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
