<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>2/5 Betroffene ansprechen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 10 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja10()" checked="{{checked10a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein10()" checked="{{checked10b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Es haben bereits ungeplante Gespräche mit den Eltern(teilen) stattgefunden
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0310')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(209)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 11 -->
    <ion-list [hidden]=hideMe11>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja11()" checked="{{checked11a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein11()" checked="{{checked11b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Ansprache der Eltern erhöht das Risiko einer Gefährdung für das Kind/den*die Jugendliche*n
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0311')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(210)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 12-->
    <ion-list [hidden]=hideMe12>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja12()" checked="{{checked12a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein12()" checked="{{checked12b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich werde die Eltern ansprechen <br/>
                            (bitte beachten Sie die Hinweise zur Personensorge)
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0312')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(211)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 13-->
    <ion-list [hidden]=hideMe13>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja13()" checked="{{checked13a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein13()" checked="{{checked13b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Es haben bereits ungeplante Gespräche mit dem Kind/dem*der Jugendlichen stattgefunden
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0313')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(212)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 14-->
    <ion-list [hidden]=hideMe14>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja14()" checked="{{checked14a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein14()" checked="{{checked14b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Die Ansprache des Kindes / der*des Jugendlichen erhöht das Risiko einer Gefährdung
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0314')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(213)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 15-->
    <ion-list [hidden]=hideMe15>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja15()" checked="{{checked15a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein15()" checked="{{checked15b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich spreche das Kind / den*die Jugendliche*n an
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0315')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(214)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
                <!--
                <button ion-button color="thirdSlide">
                    <ion-icon name="ai-icon-Beratung_schwarzxxhdpi"></ion-icon>
                    Anrufen
                </button>
                -->
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>