@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}
//FW icons hier musste ran!
@include makeIcon(icon-Beratung_schwarzxxhdpi,'\e900');
@include makeIcon(icon-checklist_schwarzxxhdpi,'\e901');
@include makeIcon(icon-checkliste_grauxxhdpi,'\e902');
@include makeIcon(icon-checkliste-als-pdf-versenden_grauxxhdpi,'\e903');
@include makeIcon(icon-checkliste-als-pdf-versenden_schwarzxxhdpi,'\e904');
@include makeIcon(icon-checkliste-mit-ordner_grauxxhdpi,'\e905');
@include makeIcon(icon-checkliste-mit-ordner_schwarzxxhdpi,'\e906');
@include makeIcon(icon-checklisten_grauxxhdpi,'\e907');
@include makeIcon(icon-checklisten_schwarzxxhdpi,'\e908');
@include makeIcon(icon-checkliste-speichern_grauxxhdpi,'\e909');
@include makeIcon(icon-checkliste-speichern_schwarzxxhdpi,'\e90a');
@include makeIcon(icon-checkliste-weiter_grauxxhdpi,'\e90b');
@include makeIcon(icon-checkliste-zurück_grauxxhdpi,'\e914');
@include makeIcon(icon-fotos_grauxxhdpi,'\e91d');
@include makeIcon(icon-fotos_schwarzxxhdpi,'\e91e');
@include makeIcon(icon-großer-papierkorb_grauxxhdpi,'\e91f');
@include makeIcon(icon-kamera_grauxxhdpi,'\e926');
@include makeIcon(icon-kamera_schwarzxxhdpi,'\e927');
@include makeIcon(icon-kamera_weissxxhdpi,'\e928');
@include makeIcon(icon-kleiner-papierkorb_grauxxhdpi,'\e92f');
@include makeIcon(icon-Kontakt-bearbeiten-schwarz_schwarzxxhdpi,'\e930');
@include makeIcon(icon-Kontakt-speichern_schwarzxxhdpi,'\e936');
@include makeIcon(icon-kontaktperson_grauxxhdpi,'\e937');
@include makeIcon(icon-Kontaktperson_schwarzxxhdpi,'\e938');
@include makeIcon(icon-liste-mit-ordner_weissxxhdpi,'\e939');
@include makeIcon(icon-menue_grauxxhdpi,'\e93a');
@include makeIcon(icon-menue_schwarzxxhdpi,'\e93b');
@include makeIcon(icon-menue_weissxxhdpi,'\e93c');
@include makeIcon(icon-Notizen-speichern_schwarzxxhdpi,'\e93d');
@include makeIcon(icon-notizen_grauxxhdpi,'\e93e');
@include makeIcon(icon-notizen_schwarzxxhdpi,'\e93f');
@include makeIcon(icon-Notizen-Aufzähling_Schwarz,'\e940');
@include makeIcon(icon-Notizen-Fett_schwarzxxhdpi,'\e941');
@include makeIcon(icon-Notizen-Marker_schwarzxxhdpi,'\e942');
@include makeIcon(icon-Notizen-Textfarbe_schwarzxxhdpi,'\e943');
@include makeIcon(icon-ordner_grauxxhdpi,'\e944');
@include makeIcon(icon-ordner_schwarzxxhdpi,'\e945');
@include makeIcon(icon-ordner_weissxxhdpi,'\e946');
@include makeIcon(icon-Schließen_weissxxhdpi,'\e947');
@include makeIcon(icon-warnhinweis_grauxxhdpi,'\e948');
@include makeIcon(icon-warnhinweis_schwarzxxhdpi,'\e949');
@include makeIcon(icon-warnhinweis_weissxxhdpi,'\e94a');
@include makeIcon(icon-zurück_weissxxhdpi,'\e94b');



@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?wztyux');
  src:  url('../assets/fonts/icomoon.eot?wztyux#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?wztyux') format('truetype'),
    url('../assets/fonts/icomoon.woff?wztyux') format('woff'),
    url('../assets/fonts/icomoon.svg?wztyux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
// see https://yannbraga.com/2017/06/28/how-to-use-custom-icons-on-ionic-3/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Beratung_schwarzxxhdpi:before {
  content: "\e900";
}
.icon-checklist_schwarzxxhdpi:before {
  content: "\e901";
}
.icon-checkliste_grauxxhdpi:before {
  content: "\e902";
  color: #9c9e9f;
}
.icon-checkliste-als-pdf-versenden_grauxxhdpi:before {
  content: "\e903";
  color: #9c9e9f;
}
.icon-checkliste-als-pdf-versenden_schwarzxxhdpi:before {
  content: "\e904";
}
.icon-checkliste-mit-ordner_grauxxhdpi:before {
  content: "\e905";
  color: #9c9e9f;
}
.icon-checkliste-mit-ordner_schwarzxxhdpi:before {
  content: "\e906";
}
.icon-checklisten_grauxxhdpi:before {
  content: "\e907";
  color: #9c9e9f;
}
.icon-checklisten_schwarzxxhdpi:before {
  content: "\e908";
}
.icon-checkliste-speichern_grauxxhdpi:before {
  content: "\e909";
  color: #9c9e9f;
}
.icon-checkliste-speichern_schwarzxxhdpi:before {
  content: "\e90a";
}
.icon-checkliste-weiter_grauxxhdpi:before {
  content: "\e90b";
  color: #9c9e9f;
}
.icon-checkliste-weiter_schwarzxxhdpi .path1:before {
  content: "\e90c";
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path2:before {
  content: "\e90d";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path3:before {
  content: "\e90e";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path4:before {
  content: "\e90f";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path5:before {
  content: "\e910";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path6:before {
  content: "\e911";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path7:before {
  content: "\e912";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-weiter_schwarzxxhdpi .path8:before {
  content: "\e913";
  margin-left: -1.37109375em;
  color: rgb(0, 0, 0);
}
.icon-checkliste-zurück_grauxxhdpi:before {
  content: "\e914";
  color: #9c9e9f;
}
.icon-checkliste-zurück_schwarzxxhdpi .path1:before {
  content: "\e915";
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path2:before {
  content: "\e916";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path3:before {
  content: "\e917";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path4:before {
  content: "\e918";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path5:before {
  content: "\e919";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path6:before {
  content: "\e91a";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path7:before {
  content: "\e91b";
  margin-left: -1.37109375em;
  color: rgb(26, 23, 27);
}
.icon-checkliste-zurück_schwarzxxhdpi .path8:before {
  content: "\e91c";
  margin-left: -1.37109375em;
  color: rgb(0, 0, 0);
}
.icon-fotos_grauxxhdpi:before {
  content: "\e91d";
  color: #9c9e9f;
}
.icon-fotos_schwarzxxhdpi:before {
  content: "\e91e";
}
.icon-großer-papierkorb_grauxxhdpi:before {
  content: "\e91f";
  color: #9c9e9f;
}
.icon-großer-papierkorb_schwarzxxhdpi .path1:before {
  content: "\e920";
  color: rgb(0, 0, 0);
}
.icon-großer-papierkorb_schwarzxxhdpi .path2:before {
  content: "\e921";
  margin-left: -0.849609375em;
  color: rgb(0, 0, 0);
}
.icon-großer-papierkorb_schwarzxxhdpi .path3:before {
  content: "\e922";
  margin-left: -0.849609375em;
  color: rgb(0, 0, 0);
}
.icon-großer-papierkorb_schwarzxxhdpi .path4:before {
  content: "\e923";
  margin-left: -0.849609375em;
  color: rgb(0, 0, 0);
}
.icon-großer-papierkorb_schwarzxxhdpi .path5:before {
  content: "\e924";
  margin-left: -0.849609375em;
  color: rgb(0, 0, 0);
}
.icon-großer-papierkorb_schwarzxxhdpi .path6:before {
  content: "\e925";
  margin-left: -0.849609375em;
  color: rgb(26, 23, 27);
}
.icon-kamera_grauxxhdpi:before {
  content: "\e926";
  color: #9c9e9f;
}
.icon-kamera_schwarzxxhdpi:before {
  content: "\e927";
}
.icon-kamera_weissxxhdpi:before {
  content: "\e928";
  color: #fff;
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path1:before {
  content: "\e929";
  color: rgb(0, 0, 0);
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path2:before {
  content: "\e92a";
  margin-left: -0.9677734375em;
  color: rgb(0, 0, 0);
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path3:before {
  content: "\e92b";
  margin-left: -0.9677734375em;
  color: rgb(0, 0, 0);
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path4:before {
  content: "\e92c";
  margin-left: -0.9677734375em;
  color: rgb(0, 0, 0);
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path5:before {
  content: "\e92d";
  margin-left: -0.9677734375em;
  color: rgb(0, 0, 0);
}
.icon-kleiner-kleiner-papierkorb_schwarzxxhdpi .path6:before {
  content: "\e92e";
  margin-left: -0.9677734375em;
  color: rgb(26, 23, 27);
}
.icon-kleiner-papierkorb_grauxxhdpi:before {
  content: "\e92f";
  color: #9c9e9f;
}
.icon-Kontakt-bearbeiten-schwarz_schwarzxxhdpi:before {
  content: "\e930";
}
.icon-Kontakt-hinzufügen_schwarzxxhdpi .path1:before {
  content: "\e931";
  color: rgb(26, 23, 27);
}
.icon-Kontakt-hinzufügen_schwarzxxhdpi .path2:before {
  content: "\e932";
  margin-left: -1.6396484375em;
  color: rgb(26, 23, 27);
}
.icon-Kontakt-hinzufügen_schwarzxxhdpi .path3:before {
  content: "\e933";
  margin-left: -1.6396484375em;
  color: rgb(0, 0, 0);
}
.icon-Kontakt-hinzufügen_schwarzxxhdpi .path4:before {
  content: "\e934";
  margin-left: -1.6396484375em;
  color: rgb(0, 0, 0);
}
.icon-Kontakt-hinzufügen_schwarzxxhdpi .path5:before {
  content: "\e935";
  margin-left: -1.6396484375em;
  color: rgb(26, 23, 27);
}
.icon-Kontakt-speichern_schwarzxxhdpi:before {
  content: "\e936";
}
.icon-kontaktperson_grauxxhdpi:before {
  content: "\e937";
  color: #9c9e9f;
}
.icon-Kontaktperson_schwarzxxhdpi:before {
  content: "\e938";
}
.icon-liste-mit-ordner_weissxxhdpi:before {
  content: "\e939";
  color: #fff;
}
.icon-menue_grauxxhdpi:before {
  content: "\e93a";
  color: #9c9e9f;
}
.icon-menue_schwarzxxhdpi:before {
  content: "\e93b";
}
.icon-menue_weissxxhdpi:before {
  content: "\e93c";
  color: #fff;
}
.icon-Notizen-speichern_schwarzxxhdpi:before {
  content: "\e93d";
}
.icon-notizen_grauxxhdpi:before {
  content: "\e93e";
  color: #9c9e9f;
}
.icon-notizen_schwarzxxhdpi:before {
  content: "\e93f";
}
.icon-Notizen-Aufzähling_Schwarz:before {
  content: "\e940";
}
.icon-Notizen-Fett_schwarzxxhdpi:before {
  content: "\e941";
}
.icon-Notizen-Marker_schwarzxxhdpi:before {
  content: "\e942";
}
.icon-Notizen-Textfarbe_schwarzxxhdpi:before {
  content: "\e943";
}
.icon-ordner_grauxxhdpi:before {
  content: "\e944";
  color: #9c9e9f;
}
.icon-ordner_schwarzxxhdpi:before {
  content: "\e945";
}
.icon-ordner_weissxxhdpi:before {
  content: "\e946";
  color: #fff;
}
.icon-Schließen_weissxxhdpi:before {
  content: "\e947";
  color: #fff;
}
.icon-warnhinweis_grauxxhdpi:before {
  content: "\e948";
  color: #9c9e9f;
}
.icon-warnhinweis_schwarzxxhdpi:before {
  content: "\e949";
}
.icon-warnhinweis_weissxxhdpi:before {
  content: "\e94a";
  color: #fff;
}
.icon-zurück_weissxxhdpi:before {
  content: "\e94b";
  color: #fff;
}
