// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //primary:    #488aff,
  primary:    #000000,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffe400,
  dark:       #222,
  start-bg:   #ffe400,
  
  //for Slide
  primarySlide:    #c6c7c8,
  secondarySlide:  #97deff,
  thirdSlide:      #fff18f,
  fourthSlide:     #ffe400

  /*origie
  start-bg:   #ffe400,
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
  */
);
//$header-background: map-get($colors, primary);
$toolbar-background: map-get($colors, start-bg); //FW yellowing the toolbar
//$navbar-background: map-get($colors, dark);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can  here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

//@import "ionic.ionicons"; FW nach Iconimport
@import "ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
ion-label{
  font-size: 24em;
}