<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sexuelle Gewalt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Alle sexuellen Handlungen die an oder vor Kindern und Jugendlichen, gegen ihren Willen und/oder ohne das sie zustimmen (können), vorgenommen werden. Dazu gehören u.a. auch Sprache sowie das Zeigen von Bildern oder Videos. Oft beinhaltet dies Machtgefälle und Gewaltausübung sowie die Ausübung psychischen Drucks.


</ion-content>
