<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Trotz Beratung und Hilfeangeboten lehnt die Familie die angebotenen Hilfen ab? 
<br/><br/>
      Vielleicht gibt es bei den Betroffenen keine Problemwahrnehmung? 
    <br/><br/>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png" />
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten und prüfen Sie die Möglichkeit mit den Betroffenen erneut ins Gespräch zu gehen, um das Risiko abzuschätzen und/oder andere Hilfen anzubieten.

        </ion-col>
      </ion-row>
    </ion-grid>
       <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>