page-mnu-nb-content-e {

    .masters {
        background-color: #ffffff;
      }
      .botton {
        //background:url(.imgs/Button-Rahmen.svg);
        background-color: #ffe400;
        color: #000000;
        width: 100%;
        align: center;
      }
      .universe {
        background-color: #000000;
      }
      .eingabe {
        background-color: #ffffff;
      }
    //neue Farbcodes beachten!!! (22.04.18)
    
    }
