<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Speichern und Laden</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Sie können in der Kinderschutz-App insgesamt drei Datensätze speichern, wenn Sie als Nutzer*in registriert sind.<br/><br/>

      Um auf Ihre eingegebenen Daten zurückgreifen zu können, müssen Sie diese nach der Beendigung Ihrer Eingaben speichern bzw. vor dem Gebrauch der Checkliste „Laden“.<br/><br/>
      
      Berühren Sie hierzu die Buttons „Speichern“, um ihre Eingaben zu sichern. <br/><br/>
      
      Um eine Checkliste zu laden, gehen Sie bitte im Menü auf „Speicher“ und wählen den jeweiligen Datensatz aus.<br/><br/>
      
      Im Sinne des Datenschutzes ist jedoch folgender Hinweis wichtig: Speichern Sie niemals inhaltliche Daten oder personenbezogene Daten zum Einzelfall in der Kinderschutz-App.
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>