<!--
  Generated template for the NavigationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Navigation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <!--
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
    -->

    <button menuClose ion-item (click)="GoHome()">
      Home
    </button>
    <button menuClose ion-item (click)="GoSpeicher()">
      Speicher
    </button>
    <button menuClose ion-item (click)="GoKontakte()">
      Kontakte
    </button>
    <button menuClose ion-item (click)="GoEinstellungen()">
      Kontakt hinzufügen
    </button>
    <button menuClose ion-item (click)="GoErstInfo()">
      Tutorial
    </button>
  <button menuClose ion-item (click)="Go('MnuNutzung')">
      Nutzung der App
    </button>
    <button menuClose ion-item (click)="Go('MnuFachinfos')">
        Fachinformationen
      </button>
      
      <button menuClose ion-item (click)="Go('Settings')">
        Einstellungen
      </button>
      

      <button menuClose ion-item (click)="Go('Datenschutzhinweise')">
        Datenschutzhinweise 
      </button>
      <button menuClose ion-item (click)="Go('Nutzungsbedingungen')">
        Nutzungsbedingungen 
      </button>
  </ion-list>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>
