<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Elterngespräche</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Die allermeisten Eltern lieben ihre Kinder und sind stets bemüht ihr Möglichstes zu geben. Kindererziehung ist jedoch keine leichte Aufgabe und Fehler sind sehr wahrscheinlich.
  <br/>
  <br/>
  Hören Sie den Eltern daher aufmerksam zu, lassen Sie sie reden und begegnen Sie ihnen respektvoll und neutral. 
  <br/>
  <br/>
  Verurteilen Sie die Eltern nicht voreilig oder unbewusst.
  
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>