<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kindeswohlgefährdung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-button full outline (click)="itemNutzg01($event, item)">Formen</button>
    <button ion-button full outline (click)="itemNutzg00($event, item)">Definition</button> <!--FW to add -->
    <button ion-button full outline (click)="itemNutzg03($event, item)">Anhaltspunkte</button>
    <button ion-button full outline (click)="itemNutzg04($event, item)">insoweit erfahrene Fachkraft</button>
    <button ion-button full outline (click)="itemNutzg05($event, item)">Erkennen von Kindeswohlgefährungen</button>
  </ion-list>
</ion-content>
