<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Das Ziel der App</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
          Die Kinderschutz-App ist als Hilfe und Unterstützung für Fachkräfte gedacht.<br/><br/>
      
          Sie spiegelt das Verfahren und die gesetzlichen Mindeststandards nach § 8a Abs. 4 SGB VIII und § 4 KKG wider.<br/><br/>
          Die Kinderschutz-App führt Sie durch Ihr Verfahren und unterstützt Sie in der Vor- und Nachbearbeitung Ihrer Handlungsschritte bei Verdacht auf eine Kindeswohlgefährdung.<br/><br/>
      
          Die Kinderschutz-App ersetzt nicht:<br/>
          <ul>
            <li>die fachliche Entscheidung oder persönliche Einschätzung, oder</li>
            <li>ihr reguläres, internes Verfahren, noch</li>
            <li>dient sie der Dokumentation von Einzelfällen.</li>
          </ul>
          
           
          
          
          Die Nutzung der App erfolgt ausschließlich in eigener Verantwortung. Für Rechtsverstöße oder eine missbräuchliche Nutzung wird keine Haftung übernommen. Die Fallverantwortung bleibt bei der verantwortlichen Fachkraft.
          <br/><br/>
          Weitere Informationen rund um das Thema Kindeswohlgefährdung finden Sie auf <a href="http://www.buendnis-kinderschutz-mv.de">www.buendnis-kinderschutz-mv.de.</a>
          <br/><br/>
          <br/><br/>
          <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>
  