<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die Legende</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Zur Checkliste</h3><br/><br/>
  <b>Symbol Telefon</b><br/>   Sie können sich dazu durch eine insoweit
    erfahrene Fachkraft beraten lassen.<br/><br/>
    <b>Symbol Achtung</b><br/>  Achtung: Diesen Schritt nur machen, wenn Sie
      Gefahren für das Kind ausschließen können.<br/><br/>
      <b>Symbol Kreuz</b><br/>       Achtung: Wenn ja, dann endet ihr Verfahren
        hier. Melden Sie es dem Jugendamt.
  <b>Schreiben</b><br/> Dokumentieren Sie es so genau wie möglich in
    Ihren eigenen Unterlagen.

    <h3>Zur App</h3><br/><br/>
    <b>Symbol Speichern</b><br/>      Einen Datensatz speichern
      <b>Symbol Laden</b><br/>              Einen Datensatz laden
        <b>Symbol registrieren</b><br/>  Als Nutzer*in registrieren
          <b>Symbol anmelden</b><br/>    Als Nutzer*in anmelden
            <b>Symbol Haus</b><br/>             Zum Hauptmenü
              <b>Symbol Hinweis</b><br/>        Zusatzmenü mit Anregungen und Hinweisen




</ion-content>
