<ion-menu [content]="content" side="right" persistent="true" id="menu">  <!--FW Seitenmenü rechts, persistent um Menu überall zu sehen -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!--
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      -->

      <button menuClose ion-item (click)="GoHome()">
        Home
      </button>
      <button menuClose ion-item (click)="GoSpeicher()">
        Speicher
      </button>
      <button menuClose ion-item (click)="GoKontakte()">
        Kontakte
      </button>
      <button menuClose ion-item (click)="GoEinstellungen()">
        Kontakt hinzufügen
      </button>
      <button menuClose ion-item (click)="GoErstInfo()">
        Tutorial
      </button>
    <button menuClose ion-item (click)="Go('MnuNutzung')">
        Nutzung der App
      </button>
      <button menuClose ion-item (click)="Go('MnuFachinfos')">
          Fachinformationen
        </button>
        <button menuClose ion-item (click)="Go('Settings')">
          Einstellungen
        </button>
        <button menuClose ion-item (click)="GoImpressum()">
          Impressum
        </button>
        <button menuClose ion-item (click)="Go('Datenschutzhinweise')">
          Datenschutzhinweise 
        </button>
        <button menuClose ion-item (click)="Go('Nutzungsbedingungen')">
          Nutzungsbedingungen 
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>  -->
<ion-nav #content [root]="rootPage"></ion-nav>
