<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Anhaltspunkte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Unter Anhaltspunkten versteht man Hinweise oder Indizien. Sie sind die Erstinformationen, die auf eine mögliche Kindeswohlgefährdung schließen lassen. 
<br/><br/>
    Beachten Sie hierbei, dass Anhaltspunkte und Hinweise keine Beweise sein müssen.<br/>
    Stattdessen gilt es, in der Risikoabschätzung – im besten Fall gemeinsam mit den Betroffenen — zu überprüfen, ob tatsächlich eine Kindeswohlgefährdung vorliegt.
    <br/><br/>
    Vertrauen Sie Ihrem Bauchgefühl. 
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>