<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Häusliche Gewalt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Häusliche Gewalt ist jegliche Art körperlicher, seelischer oder sexueller Gewalt zwischen Erwachsenen in einer (zum Teil auch ehemaligen) Paarbeziehung, die von den im Haushalt lebenden Kindern oder Jugendlichen unmittelbar oder indirekt wahrgenommen wird.


</ion-content>
