<!--
  Generated template for the Advice0126Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Kinder anzusprechen ist eine wichtige und gute Möglichkeit um:<br/>
  <ul>
    <li>Informationen einzuholen, die zur Gefährdungseinschätzung benötigt werden.</li>
    <li>einen Überblick über die Situation und Lebensumstände des Kindes / der*des Jugendlichen zu gewinnen. </li>
    <li>einschätzen zu können, ob das Kind /der*die Jugendliche einen Leidensdruck oder eine Problemwahrnehmung hat?</li>
    
  </ul>
  <br/><br/>
  Beziehen Sie die Betroffenen ein, solange der wirksame Schutz des Kindes dadurch nicht in Frage gestellt wird.
          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
