<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>4/5 Hilfen kontrollieren</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Frage 26 -->
    <ion-list>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja26()" checked="{{checked26a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein26()" checked="{{checked26b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Die Eltern oder das Kind/der*die Jugendliche nehmen Hilfen in Anspruch
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0326')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(228)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 26b -->
    <ion-list [hidden]=hideMe26b>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja26b()" checked="{{checked26ba}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein26b()" checked="{{checked26bb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Angebotene Hilfen werden von den Eltern oder dem Kind/dem*der Jugendlichen abgelehnt

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0326b')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(2281)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 26c -->
    <ion-list [hidden]=hideMe26c>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja26c()" checked="{{checked26ca}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein26c()" checked="{{checked26cb}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich kann die Inanspruchnahme der Hilfen überprüfen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0326c')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(2282)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 26d -->
    <ion-list [hidden]=hideMe26d>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja26d()" checked="{{checked26da}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein26d()" checked="{{checked26db}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Mein Verdacht bleibt bestehen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0326d')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(2283)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 27 -->
    <ion-list [hidden]=hideMe27>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja27()" checked="{{checked27a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein27()" checked="{{checked27b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Ich beobachte danach weiter, ob sich Veränderungen ergeben
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0327')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(229)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 28-->
    <ion-list [hidden]=hideMe28>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja28()" checked="{{checked28a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein28()" checked="{{checked28b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Bei externer Hilfe: Ich lasse mir ggf. von den Eltern eine Schweigepflichtsentbindung geben, um mir eine Rückmeldung einzuholen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0328')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(230)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 29-->
    <ion-list [hidden]=hideMe29>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja29()" checked="{{checked29a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein29()" checked="{{checked29b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe weiterhin in Kontakt mit dem Kind/dem*der Jugendlichen
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0329')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(231)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 30-->
    <ion-list [hidden]=hideMe30>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja30()" checked="{{checked30a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein30()" checked="{{checked30b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe weiterhin in Kontakt mit den Eltern
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0330')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(232)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 31-->
    <ion-list [hidden]=hideMe31>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja31()" checked="{{checked31a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein31()" checked="{{checked31b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich habe weitere Gesprächstermine mit den Eltern vereinbart
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0331')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(233)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 32-->
    <ion-list [hidden]=hideMe32>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja32()" checked="{{checked32a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein32()" checked="{{checked32b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                        Ich bleibe zu dem Fall mit meine*r Kolleg*in / meiner Schulleitung in Kontakt
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0332')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(234)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Frage 33-->
    <ion-list [hidden]=hideMe33>
        <div>
            <ion-grid style="color:black">
                <ion-row>
                    <ion-col col-1.2>
                        ja
                    </ion-col>
                    <ion-col col-1.2>
                        nein
                    </ion-col>
                    <ion-col col-9>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="ja33()" checked="{{checked33a}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-1.2>
                        <ion-checkbox (click)="nein33()" checked="{{checked33b}}"></ion-checkbox>
                    </ion-col>
                    <ion-col col-9>
                            Durch die Hilfen, die ich anbieten oder auf die ich verweisen konnte, ist die Kindeswohlgefährdung abgewendet
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-sliding>
            <ion-item>
                <ion-icon name="fastforward" style="color:grey;"></ion-icon>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="primarySlide" (click)="Advice('0333')">
                    <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon>
                    Hinweise
                </button>
                <button ion-button color="secondarySlide" (click)="Notizen(235)">
                    <ion-icon name="ai-icon-notizen_schwarzxxhdpi"></ion-icon>
                    Notizen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="ai-icon-checklisten_schwarzxxhdpi" (click)="itemHome($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi" (click)="itemPrev($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi" (click)="itemNext($event, item)"></ion-icon>
                </ion-col>
                <ion-col>
                        <img src="assets/imgs/Reboot.svg" (click)="reset()" width="40%"/>
                </ion-col>
                <ion-col>
                    <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi" (click)="saveList()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>