<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>KiSchuApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-button full outline (click)="itemDieApp($event, item)">Das Ziel der App</button>
    <button ion-button full outline (click)="itemBedienung($event, item)">Bedienung der App</button>
    <button ion-button full outline (click)="itemBedienung($event, item)">Datensicherheit</button>  <!--FW add!!!-->
    <button ion-button full outline (click)="itemBedienung($event, item)">FAQ</button> <!--FW add!!!-->
  </ion-list>
</ion-content>
