<!--
  Generated template for the Advice0107bPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    Die Entscheidung darüber, ob der Verdacht einer Gefährdung bestehen bleibt, obliegt Ihnen.<br/><br/>

    Die insoweit erfahrene Fachkraft hat eine reine Beratungsfunktion.<br/><br/>
    
    Sollten Sie zu unterschiedlichen Einschätzungen kommen, ist es sinnvoll, den Beratungsprozess erneut zu durchlaufen oder anzupassen.
    <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>
  
