<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Bei den regelmäßigen Terminen mit den Eltern ist es wichtig, zunächst auf die bisherigen positiven Veränderungen einzugehen. 

  <br/><br/>
  Erst danach sollten verbleibende Probleme besprochen werden. <br/>
  Welche Perspektive haben die Eltern, das betroffene Kind/Jugendl. und Sie selbst? <br/>
  Gibt es Übereinstimmungen und/oder Differenzen? <br/>
  Ist es wichtig, weitere Vereinbarungen zu treffen? Wenn ja, welche? 
  <br/>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Auch hier dokumentieren Sie die wesentlichen Ergebnisse und Verabredungen.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>