<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Psychische Gewalt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Dies beinhaltet alle Handlungen oder Unterlassungen, die Kinder und Jugendliche beispielsweise dauerhaft verängstigen, überfordern oder ihnen das Gefühl vermitteln, wertlos zu sein und damit ihre psychische (aber teilweise aber auch körperliche) Entwicklung beeinträchtigen oder schädigen.
</ion-content>
