<!--
  Generated template for the Registration02Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrieren</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
    <br/>
    <div align="center">
    <img src="assets/imgs/Logo-Kind-klein.png" width="15%"/>
  </div>
      <br/><br/>
      <ion-input placeholder="Benutzername" class="eingabe" [(ngModel)]="username"></ion-input><br/><br/>
      <ion-input type="password" placeholder="Passwort" class="eingabe" [(ngModel)]="pw1"></ion-input>
      <br/><br/>
      <ion-input type="password" placeholder="Passwort erneut eingeben" class="eingabe" [(ngModel)]="pw2"></ion-input>
      <br/><br/><br/><br/>
      <p>{{errormessage}}</p>
      <button ion-button class="bottons" (click)="register()">Registrieren</button>
      <br/>
      <button ion-button class="bottons" (click)="goHome()">Abbrechen</button>

</ion-content>
