<!--
  Generated template for the Advice0154Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Wenn die Eltern Hilfen annehmen oder selbst Maßnahmen ergreifen, die die Gefährdung des Kindeswohls wirkungsvoll abwenden, so endet ihr Verfahren hier.
    <br/><br/>
    
Bitte bleiben Sie jedoch auch weiterhin aufmerksam, denn Gefährdungen können manchmal auch in Phasen oder veränderten Konstellationen erneut eintreten.
    
      <br/>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/telefon.png"/>
    </ion-col>
    <ion-col col-9>
      Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten.

      </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/97DEFF.svg"/>
  </ion-col>
  <ion-col col-9>
    Dokumentieren Sie Ihre Entscheidungen und Informationen und archivieren Sie diese (geschützt vor dem Zugriff Dritter), wenn Sie sich dazu entscheiden, den Fall zu beenden.
    </ion-col>
</ion-row>
</ion-grid><br/><br/>
Falls andere Hilfen denkbar sind oder Ihnen weitere Möglichkeiten der Hilfe und Unterstützung sinnvoll erscheinen, so:<br/>
<ul>
  <li>beginnen Sie diese Seite der Checkliste von Neuem und</li>
  <li>löschen Sie dazu ihre bisherigen Angaben.</li>
</ul>
<br/>
<ion-grid>
  <ion-row>
<ion-col col-3>
  <img src="assets/imgs/F93B2D.svg" />
</ion-col>
<ion-col col-9>
  Kommen Sie zu dem Schluss, dass Sie keine Hilfen anbieten können, der Verdacht bestehen bleibt und ein weiteres Beobachten des Falls nicht ratsam ist, dann endet ihr Verfahren hier.
</ion-col>
</ion-row>
</ion-grid>
<br/>
Melden Sie es dem Jugendamt.
          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
