<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>KiSchuApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!--
    <button ion-button full outline (click)="itemChcklist01($event, item)">Die App</button>
    <button ion-button full outline (click)="itemChcklist02($event, item)">Bedienung der App</button>
    <button ion-button full outline (click)="itemChcklist02($event, item)">Datensicherheit</button>
    <button ion-button full outline (click)="itemChcklist03($event, item)">FAQ</button>
    -->
  </ion-list>
</ion-content>
