<!--
  Generated template for the Advice0119Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    Falls Sie nach wie vor unsicher sind, sollten Sie die Möglichkeit nutzen, das Gespräch zu üben.
    <br/><br/>
    Haben Sie Kolleg*innen die Sie unterstützen können?<br/>
    Besprechen Sie Ihre Unsicherheiten, verteilen Sie Rollen und proben Sie die Gesprächssituationen.<br/>
    Überlegen Sie gemeinsam, wie die Formulierungen gewählt werden könnten, so dass diese durch die Eltern oder das Kind möglichst nicht als Angriff oder Einmischung erlebt werden.<br/><br/>
    
    Reflektieren Sie danach gemeinsam mit Ihren Kolleg*innen das geübte Gespräch.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
