<!--
  Generated template for the Advice0157Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    Durch das Jugendamt sollte eine Empfangsbestätigung zur übermittelten Kinderschutzmeldung an Ihren Träger versandt werden. <br/><br/>

    Falls Sie diese nicht erhalten, fragen Sie bitte beim Jugendamt nach, um sicher zu gehen, dass Ihre Meldung an der richtigen Stelle eingegangen ist. <br/><br/>
    
    Bis zur Entgegennahme der Empfangsbestätigung bleiben Sie in der Fallverantwortung.

  <br/>
  <br/>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Legen Sie die Empfangsbestätigung zu Ihrer Dokumentation.
      </ion-col>
    </ion-row>
  </ion-grid>

  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>