<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speichern und Laden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Um auf Ihre eingegebenen Daten zurückgreifen zu können müssen Sie diese nach der Beendigung Ihrer Eingaben speichern  bzw. vor dem Gebrauch der Checklisten Laden.
  <br/><br/>
  Berühren Sie hierzu die Buttons "Speichern" um ihre Eingaben zu sichern oder "Laden" um ihre Eingaben aus dem vorherigen Gebrauch wieder aufzurufen. Beide Buttons finden Sie in der oberen Menüzeile.
  <br/><br/>

  Aus Gründen des Datenschutzes und der Datensicherheit ist es Ihnen möglich je Fall-Bezeichnung einen Datensatz/Fall zu speichern.
  <br/><br/>

  Melden Sie sich ggf. mit einem zweiten Benutzernamen an, wenn Sie einen weiteren Fall bearbeiten wollen.


</ion-content>
