<!--
  Generated template for the Finish02Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p><b>ACHTUNG</b><br/><br/>
  Dokumentieren Sie Ihre bisherigen Informationen und Arbeitsschritte so genau wie möglich!</p>
  <div align="center">
      <br/><br/>
    <img src="assets/imgs/Dokumentieren.svg" width="40%"/>
  </div>
  <br/><br/><br/>
    <button ion-button class="bottons" (click)="goNext()">nächster Schritt</button>
    <button ion-button class="bottons" (click)="closeFinish()">zurück</button>
</ion-content>
