<!--
  Generated template for the Advice0120Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    Falls Sie Unzulänglichkeiten in der Gesprächsführung oder Eskalationen im Gespräch befürchten, können Sie eine*n Kolleg*in zum Gespräch dazu bitten.
  <br/><br/>
    Besprechen Sie dies im Vorfeld mit den Eltern.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
