<!--
  Generated template for the Advice0134bPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/97DEFF.svg"/>
    </ion-col>
    <ion-col col-9>
        Falls der Verdacht nicht ausgeräumt werden kann und Sie auch weiterhin eine Kindeswohlgefährdung vermuten oder als gegeben ansehen, sollten Sie:

      </ion-col>
  </ion-row>
  </ion-grid>
  <ul>
    <li>Ihre Entscheidungen und Informationen gut dokumentieren</li>
    <li>Ihre weiteren Handlungsschritte planen.</li>
  </ul>
  <br/>
  <ion-grid>
    <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png"/>
  </ion-col>
  <ion-col col-9>
      Lassen Sie sich hierzu von der insoweit erfahrenen Fachkraft beraten.

    </ion-col>
</ion-row>
</ion-grid>
          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>