<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/97DEFF.svg" />
          </ion-col>
          <ion-col col-9>
              Wenn Sie weiterhin eine Gefährdung des Kindeswohles vermuten, holen Sie den Rat einer insoweit erfahrenen Fachkraft ein.
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/F93B2D.svg" />
          </ion-col>
          <ion-col col-9>
              Sollte der Verdacht bestehen bleiben und die Eltern auch weiterhin keine Hilfen annehmen, die angenommene Hilfe keine Wirkung entfalten oder Unsicherheit darüber bestehen, ob die angenommenen Hilfen wirksam sind, so endet ihr Verfahren hier.
            </ion-col>
        </ion-row>
      </ion-grid>
      Gehen Sie zur nächsten Seite der Checkliste.<br/><br/>
  
      <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/97DEFF.svg" />
            </ion-col>
            <ion-col col-9>
                Dokumentieren Sie alle Fakten, Beobachtungen und Entscheidungen.
            </ion-col>
          </ion-row>
        </ion-grid>
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>