<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Die Fragen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--
    Die Fragen innerhalb der Checklisten führen Sie kleinschrittig durch das gesamte Verfahren im Kinderschutz.<br/><br/>

    Die Fragen betreffen verschiedene Bereiche und sind entsprechend unterteilt in:<br/><br/>
    <ul>
      <li>Das Erkennen und Besprechen von Kindeswohlgefährdungen</li>
      <li>Das Ansprechen der Eltern und Kinder</li>
      <li>Das Anbieten von Hilfen</li>
      <li>Das Überprüfen angebotener Hilfen</li>
      <li>Die Meldung an das Jugendamt</li>
    </ul>

    Manche Fragen werden nur aktiviert, wenn Sie zuvor andere Fragen bestätigt oder verneint haben. Dies dient Ihrer Unterstützung im Verfahren.
    Die Fragen innerhalb der Checklisten führen Sie kleinschrittig durch das gesamte Verfahren im Kinderschutz. <b>Die Fragen betreffen entweder die aktuell zu beantwortende Fragestellung, oder den als nächstes anstehenden Arbeitsschritt.</b>
    <br/><br/>
      Sie können die Fragen somit zur eigenen Vorbereitung nutzen (Was ist gegenwärtig zu tun?), oder zur Reflektion ihrer bisherigen Arbeitsschritte einsetzen (Was habe ich bisher getan?) sowie zur Analyse des Verfahrensstandes heranziehen (An welcher Stelle im Verfahren bin ich?).
      <br/><br/>
      -->
      Die Fragen innerhalb der Checklisten führen Sie kleinschrittig durch das gesamte Verfahren im Kinderschutz. <b>Die Fragen betreffen entweder die aktuell zu beantwortende Fragestellung oder den als nächstes anstehenden Arbeitsschritt.</b>
      <br/><br/>
        Sie können die Fragen somit zur eigenen Vorbereitung nutzen (Was ist gegenwärtig zu tun?), oder zur Reflektion ihrer bisherigen Arbeitsschritte einsetzen (Was habe ich bisher getan?) sowie zur Analyse des Verfahrensstandes heranziehen (An welcher Stelle im Verfahren bin ich?).
        <br/><br/>
        Die Fragen betreffen verschiedene Bereiche und sind entsprechend unterteilt in:
        <ul>
            <li>Das Erkennen und Besprechen von Kindeswohlgefährdungen</li>
            <li>Das Ansprechen der Eltern und Kinder</li>
            <li>Das Anbieten von Hilfen</li>
            <li>Das Überprüfen angebotener Hilfen</li>
            <li>Die Meldung an das Jugendamt</li>
            </ul>
            <br/><br/>
        Manche Fragen werden nur aktiviert, wenn Sie zuvor andere Fragen bestätigt oder verneint haben. Dies dient Ihrer Unterstützung im Verfahren.
        <br/><br/>
        <b>Bitte beachten Sie:</b> Jeder Fall ist einzigartig und bedarf immer einer individuellen Einschätzung und Planung. Die Fragen haben keinen Anspruch auf Vollständigkeit und dienen lediglich der allgemeinen Orientierung. Die Fallverantwortung bleibt bei der verantwortlichen Fachkraft. 
        


  <br/><br/>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

