<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Die einzelnen Arbeitsschritte im Kinderschutz können Fachkräfte vor verschiedene Herausforderungen stellen.<br/><br/>

      Um Sie in Ihrer Arbeit zu unterstützen, haben wir jeder Frage in der Checkliste Hinweise in Form von Fachinformationen, Ratschlägen oder weiterführenden Fragestellungen zugeordnet.
      <br/><br/>
      <ion-icon name="fastforward" style="color:grey;"></ion-icon> <br/>Wischen Sie unterhalb der einzelnen Frage von links nach rechts über das Symbol und tippen Sie dann auf „Hinweise“, um sich zu den einzelnen Fragen zu informieren.
      <br/><br/>
      Weitere Informationen zum Thema Kindeswohlgefährdung finden Sie auf <a href="http://www.buendnis-kinderschutz-mv.de">www.buendnis-kinderschutz-mv.de</a>
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>