<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    Wichtig ist es, weiterhin kontinuierlich mit den betroffenen Eltern in Kontakt zu bleiben, um wahrnehmen zu können, ob sich die Situation entspannt und die Gefahr gebannt ist.  
<br/><br/>
Bieten Sie sich als Kontaktperson an und verweisen Sie darauf, dass sich die Betroffenen auch von sich aus an Sie wenden können.
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>