<!--
  Generated template for the AdvicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-icon name="ai-icon-warnhinweis_schwarzxxhdpi"></ion-icon><br/>
  <p>Dokumentieren Sie die Informationen so genau wie möglich. Dazu gehört auch: <br/><br/><br/>
    - Was genau haben Sie beobachtet? <br/><br/>
    - Wie lange oder über welchen Zeitraum haben Sie es beobachtet?<br/><br/>
    - Wer kann Ihre Beobachtungen bestätigen?<br/>
  </p>
  <button ion-button full outline (click)="closeAdvice()">Ok</button>
</ion-content>
