<!--
  Generated template for the Advice0124Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/97DEFF.svg"/>
    </ion-col>
    <ion-col col-9>
      Falls es im Vorfeld eines angedachten Gespräches bereits zu ungeplanten Gesprächen kam, sollten Sie diese nachträglich so genau wie möglich dokumentieren.
      </ion-col>
      <br/><br/>
  </ion-row>
  </ion-grid>
  Geben Sie dazu insbesondere<br/>
  <ul>
    <li>die Inhalte,
    </li>
    <li>die Beteiligten,</li>
    <li>etwaige Vereinbarungen sowie</li>
    <li>Zeit und Ort</li>
  </ul>
  <br/>
genau an.   

          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>