<!--
  Generated template for the Advice0112Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Die Beteiligung der Eltern an der Risiko- und Gefährdungseinschätzung stellt zugleich eine rechtliche Anforderung (siehe  § 8a Abs. 4 SGB VIII) aber auch einen fachlichen Standard und eine Möglichkeit der Beteiligung dar.
    <br/><br/>
      Das Gespräch dient dazu:<br/>
      <ul>
        <li>Informationen einzuholen, die für eine Gefährdungseinschätzung relevant sind.</li>
        <li>die Sichtweise der Eltern auf die Situation zu erfahren.</li>
        <li>einen Überblick über die Situation, das Lebensumfeld, die Ressourcen und Defizite  der Eltern und Familie zu erhalten.</li>
        <li>die Eltern in die gemeinsame Gefährdungsabschätzung einzubeziehen.</li>
        <li>die Motivation zur Annahme von Hilfen oder Veränderungen im eigenen Verhalten der Eltern zu erhöhen.</li>
  </ul>
  <br/>
      Grundvoraussetzung für ein solches Gespräch ist, dass die Eltern bereit (=Wille) und in der Lage (=Befähigung) sind, ein solches Gespräch zu führen. Ist eine dieser Bedingungen nicht erfüllt oder können beide Bedingungen nicht hergestellt werden, ist ein zielführendes Gespräch nicht möglich.
          <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>
  
  