<!--
  Generated template for the NutzungsbedingungenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nutzungsbedingungen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
    <h3>ALLGEMEINE NUTZUNGSBEDINUNGEN</h3>
    <b>1.	Vertragsgegenstand, Änderungen</b><br/><br/>
    <b>1.1.</b>Das <b>Ministerium für Soziales, Integration und Gleichstellung Mecklen¬burg-Vorpommern</b>, Werderstraße 124, 19055 Schwerin, (nachfolgend „An¬bieter“) bietet auf der Domain <a href src="www.sozial-mv.de">www.sozial-mv.de</a> die mobile Kinderschutz-App kostenlos zum Download und zur Nutzung an. Als ein zusätzliches Angebot des Landes bietet die mobile Kinderschutz-App den Nutzern (nachfolgend „Nutzer“) fachtechnische Unterstützung im Verfahren von Kindeswohlgefähr-dungen. Dabei stehen die Mindeststandards gemäß § 8a SGB VIII und § 4 KKG im Mittelpunkt. Durch eine übersichtliche grafische Darstellung, differen¬zierte Hinweise und intuitive Führung durch das Menü wird eine einfache Handhabung gewährleistet. So können einschlägige Fachinformationen und Verfahrensschritte leicht abgerufen und gespeichert werden.
    <br/><br/>
    <b>1.2.</b> Die nachfolgenden Nutzungsbedingungen regeln die Zurverfügungstellung der Kinderschutz-App durch den Anbieter und die Nutzung durch Sie als Nutzer.
    <br/><br/>
    <b>1.3.</b> Entgegenstehenden Vertragsbedingungen des Nutzers werden ausdrücklich widersprochen.
    <br/><br/>
    <b>1.4.</b> Der Anbieter behält sich das Recht vor, die Nutzungsbedingungen und die Software zu modifizieren und sie an technische oder rechtliche Entwicklungen sowie neue Service-Angebote anzupassen. Geänderte Nutzungsbedingungen werden dem Nutzer auf der Homepage des Anbieters oder in anderer geeig¬neter Form spätestens vier Wochen vor ihrem Inkrafttreten zur Kenntnis ge¬bracht. Widerspricht der Nutzungsberechtigte der Geltung der neuen Nut¬zungsbedingungen nicht innerhalb von vier Wochen ab Mitteilung und setzt die Nutzung der App auch nach Ablauf der Widerspruchsfrist fort, so gelten die Änderungen ab Fristablauf als wirksam vereinbart. Der Anbieter wird bei der Vorankündigung der geänderten Nutzungsbedingungen auf die Bedeutung dieser Vierwochenfrist gesondert hinweisen.
    <br/><br/><br/>
    <b>2.	Registrierung und Verwaltung des Benutzerkontos</b><br/><br/>
    <b>2.1.</b> Die Nutzung der vollständigen Funktionalitäten der Kinderschutz-App (Spei-chern von Informationen) setzt Ihre Anmeldung als Nutzer voraus. Es besteht die Möglichkeit, die App ohne Registrierung zu testen. Bei der Testnutzung gehen die gespeicherten Daten jedoch bei Beendigung der Anwendung verlo¬ren.
    <br/><br/>
    <b>2.2.</b> Ein Anspruch auf Nutzung der App besteht nicht.
    <br/><br/>
    <b>2.3.</b> Der Nutzungsvertrag zwischen dem Anbieter und dem Nutzer kommt wie folgt zustande: Nachdem der Nutzer die App heruntergeladen und auf seinem Smartphone gestartet hat, muss er diesen Nutzungsbedingungen sowie der Datenschutzerklärung zustimmen. Mit Zustimmung ist der Nutzungsvertrag zustande gekommen.
    Anschließend startet die App und der Nutzer kann die App entweder ohne Registrierung mit eingeschränktem Funktionsumfang testen oder sich regist-rieren. Bei der Registrierung wird nach Eingabe eines frei wählbaren Benut-zernamens und eines Passworts ein Benutzerkonto erstellt. Auf dieses Be-nutzerkonto kann nur mit den entsprechenden Zugangsdaten (Benutzername und Passwort) zugegriffen werden.
    <br/><br/>
    <b>2.4.</b> Der Nutzer ist allein verantwortlich für sämtliche Aktivitäten auf seinem Be-nutzerkonto. Die Zugangsdaten sind vom Nutzer geheim zu halten und unbe¬fugten Dritten nicht zugänglich zu machen. Es liegt in Ihrer Verantwortung si¬cherzustellen, dass unbefugte Dritte keinen Zugriff auf Ihr Endgerät, auf die App und/oder auf etwaige darin gespeicherte Informationen oder personen¬bezogene Daten haben.
    <br/><br/>
    <b>2.5.</b> Sämtliche im Rahmen der Registrierung abgefragten Daten sind wahrheits-gemäß anzugeben. Einzelheiten zur Erhebung und Verarbeitung personen-bezogener Daten sind der Datenschutzerklärung zu entnehmen.
    <br/><br/><br/>
    <b>3.	Leistungen des Anbieters</b><br/><br/>
    <b>3.1.</b> Der Anbieter stellt die Kinderschutz-App unentgeltlich zur Nutzung bereit. Die Anwendung soll fachtechnische Unterstützung im Verfahren von Kindeswohl-gefährdungen geben. <b>Es wird ausdrücklich darauf hingewiesen, dass die App keine Fachkenntnisse bzw. keine fachkundige Beratung ersetzen kann. Die App enthält allgemeine Informationen und kann daher eine Entscheidungsfindung lediglich unterstützen. Sie kann indes die erfor¬derliche fachkundige und rechtskonforme Entscheidung und Abwägung des Nutzers über das weitere Vorgehen in einem konkreten Einzelfall nicht ersetzen.</b>
    <br/><br/>
    <b>3.2.</b> Ein Anspruch auf eine bestimmte Verfügbarkeit der Kinderschutz-App als sol-ches oder in Bezug auf einzelne Funktionalitäten besteht nicht. Aufgrund der Beschaffenheit des Internets und von Mobilfunkgeräten übernimmt der Anbie¬ter keine Gewähr für die ununterbrochene Verfügbarkeit der Software.
    <br/><br/>
    <b>3.3.</b> Der Anbieter behält sich das Recht vor, die angebotenen Dienste der App ganz oder teilweise, vorübergehend oder dauerhaft zu ändern oder einzustel¬len oder den Zugang aus Wartungs-, Sicherheits- oder Kapazitätsgründen teilweise zu beschränken. Der Anbieter ist bestrebt, aber nicht verpflichtet, solche Maßnahmen im Voraus anzukündigen.
    <br/><br/>
    <b>3.4.</b> Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann keine Ge¬währ übernommen werden.
    <br/><br/><br/>
    <b>4.	Rechte und Pflichten der Nutzer</b><br/><br/>
    <b>4.1.</b> Der Nutzer ist für alle Aktivitäten, die mit oder über sein Benutzerkonto ausge¬übt werden, allein verantwortlich.
    <br/><br/>   
    <b>4.2.</b>	Es obliegt dem Nutzer zu prüfen, ob und welche personenbezogenen Daten er in der App speichert. <b>Wir empfehlen dringend, keine personenbezogenen Daten über Dritte, wie z.B. Namen, E-Mail-Adressen, Kontaktdaten, Bank¬verbindungen, Fotos sowie Inhalte privater Nachrichten in der App zu speichern oder diese Daten ohne Zustimmung des Dritten zugänglich zu machen.</b>
    <br/><br/>
    <b>4.3.</b> Im Rahmen der Nutzung der Kinderschutz-App verpflichtet sich der Nutzer:<br/><br/>
    <ul>
    <li>Die Kinderschutz-App nicht missbräuchlich zu verwenden.</li>
    <li>Keine Inhalte einzustellen und Aktivitäten zu unternehmen, die gegen gel-tendes Recht, die guten Sitten, Rechte Dritter oder diese Nutzungsbedin-gungen verstoßen. Dies gilt insbesondere in Bezug auf das SGB VIII, das KKG oder das Datenschutzgesetz.</li>
    <li>Keine Inhalte einzustellen und Aktivitäten zu unternehmen, die beleidi-gend, bedrohend, missbräuchlich, rufschädigend, gewaltverherrlichend, schockierend, diskriminierend, volksverhetzend, rassistisch, pornogra-phisch, menschenverachtend, sittenwidrig, anstößig, obszön, extremis-tisch oder jugendgefährdend sind, zu solchen Aktivitäten aufzurufen sowie entsprechende Inhalte zu bewerben.</li>
    <li>Keine Sicherheitsmechanismen zu umgehen, um Daten jeglicher Art elekt¬ronisch oder manuell zu Missbrauchszwecken oder sonstige Hacking-Versuche vorzunehmen.</li>
    <li>Keine Roboter, Crawler, Spider, Scraper oder andere Methoden zu nut¬zen, um auf der Kinderschutz-App massenhaft und/oder automatisiert Da¬ten zu sammeln, egal zu welchem Zweck.</li>
    <li>Keine Inhalte einzustellen oder Aktivitäten zu unternehmen, die Viren, Tro¬janische Pferde, Würmer oder ähnliche Mechanismen verbreiten, die den operativen Betrieb der App oder der Endgeräte der Nutzungsberechtigten stören, schädigen oder weniger effizient machen.</li>
  </ul>
    <br/><br/>
    <b>4.4.</b> Der Nutzer wird den Anbieter unverzüglich unterrichten, sobald ihm eine ille-gale, missbräuchliche, vertragswidrige oder sonstige unberechtigte Nutzung seines Benutzerkontos, der App oder eine Sicherheitslücke auf der App be-kannt werden sollte.
    <br/><br/><br/>
    <b>5.	Kosten</b><br/><br/>
    Die Registrierung und Anwendung der Kinderschutz-App werden derzeit unentgelt-lich bereitgestellt.
    <br/><br/><br/>
    <b>6.	Nutzungsrechte</b><br/><br/>
    <b>6.1.</b> Die Kinderschutz-App ist urheberrechtlich geschützt. Dies gilt nicht für denje-nigen Inhalt, der unmittelbar aus Gesetzestexten übernommen worden ist.
    <br/><br/>
    <b>6.2.</b> Mit Abschluss des Nutzungsvertrages erwirbt der Nutzer für die Dauer dieses Vertrages das nicht ausschließliche, nicht übertragbare und nicht unterlizen-zierbare Recht, die App gemäß dem Vertragszweck zu nutzen.
    <br/><br/>
    <b>6.3.</b> Über die vertragsgemäße Nutzung hinaus ist dem Nutzer untersagt, den Code der Software ganz oder teilweise zu vervielfältigen, zu verbreiten und / oder öf¬fentlich zugänglich zu machen, diesen zu bearbeiten, zu verändern und/ oder zu übersetzen. Ferner untersagt ist die Aufnahme in elektronische Datenbank¬systeme. Sofern gesetzlich nicht ausdrücklich gestattet, ist es ferner untersagt, den Code der Software zu dekompilieren.
    <br/><br/>
    <b>6.4.</b> Der Nutzer ist nicht berechtigt, an bzw. in der App angebrachte Urheberver-merke, Logos und Kennzeichen oder sonstige Schutzvermerke zu entfernen oder zu verändern.
    <br/><br/><br/>
    <b>7.	Haftung</b><br/><br/>
    <b>7.1.</b> Die Vertragsparteien haften einander bei Vorsatz oder grober Fahrlässigkeit für alle von ihm sowie von seinen gesetzlichen Vertretern oder Erfüllungsgehil-fen verursachten Schäden unbeschränkt.
    <br/><br/>
    <b>7.2.</b> Bei leichter Fahrlässigkeit haften die Parteien im Falle der Verletzung des Le-bens, des Körpers oder der Gesundheit unbeschränkt. Im Übrigen haften die Parteien nur, soweit sie eine wesentliche Vertragspflicht verletzt haben. We-sentliche Vertragspflichten sind solche Pflichten, die für die Erreichung des Vertragsziels von besonderer Bedeutung sind, ebenso alle diejenigen Pflich-ten, die im Falle einer schuldhaften Verletzung dazu führen können, dass die Erreichung des Vertragszwecks gefährdet wird. In diesen Fällen ist die Haf-tung auf den Ersatz des vorhersehbaren, typischerweise eintretenden Scha-dens beschränkt. Eine Haftung für entgangenen Gewinn ist ausgeschlossen.
    <br/><br/>
    <b>7.3.</b> Der Anbieter übernimmt keine Haftung für Schäden oder Verlust von Daten an den Endgeräten der Nutzung.
    <br/><br/><br/>
    <b>8.	Datenschutz</b><br/><br/>
    Die App ist so konzipiert, dass der Anbieter möglichst wenige personenbezogene Daten des Nutzers erhebt und verarbeitet. Die Nutzung der App erfolgt lokal auf Ih-rem Endgerät. Vom Nutzer genierte Daten werden passwortgeschützt und verschlüs¬selt in der App gespeichert. Der Anbieter hat keinen Zugriff auf Daten, die sich auf ein konkretes Kinderschutz-Verfahren beziehen.
    Weitere Informationen über den Umfang, den Zweck und die Rechtsgrundlage der Verarbeitung sowie zu Ihren Rechten als Betroffener finden Sie in den Datenschutz-hinweisen für die Kinderschutz-App unter: [LINK zur Datenschutzerklärung].
    <br/><br/><br/>
    <b>9.	Vertragslaufzeit, Kündigung</b><br/><br/>
    Der Nutzungsvertrag wird auf unbestimmte Zeit geschlossen. Beide Vertragsparteien können den Vertrag jederzeit ohne Angabe von Gründen und ohne Einhaltung einer Frist kündigen. Der Nutzer kann den Nutzungsvertrag zudem durch Deinstallation der App auf seinem Endgerät beenden.
    <br/><br/><br/>
    <b>10.	Schlussbestimmungen</b><br/><br/>
    <b>10.1.</b> Weitere Nebenabreden bestehen nicht. Änderungen oder Ergänzungen die-ses Vertrages bedürfen zu ihrer Rechtswirksamkeit der Schriftform. Das gilt auch für diese Schriftformklausel.
    <br/><br/>
    <b>10.2.</b> Die Unwirksamkeit einzelner Regelungen dieses Vertrages lässt die Wirk-samkeit des Vertrages im Übrigen unberührt.
    <br/><br/>
    <b>10.3.</b> Soweit gesetzlich zulässig, ist der Gerichtsstand für alle sich aus diesem Ver-trag ergebenden Streitigkeiten Schwerin. Der Anbieter ist berechtigt auch an einem anderen Gerichtsort Klage zu erheben.
    <br/><br/>
    <b>10.4.</b> Dieser Vertrag unterliegt deutschem Recht unter Ausschluss des UN-Kaufrechts.
     
    



    <br/><br/>
    <br/><br/>
    <button ion-button class="bottons" (click)="Back()">Zurück</button>
  </ion-content>
