<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Speicher</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p><b>Hinweis</b><br/><i>Nach erfolgreichem Laden gelangen Sie über die Hauptauswahl der Checkliste zu Ihren jeweils gespeicherten Punkten.</i></p>
  <ion-list>
    <ion-item (click)="loadList1()">
      <ion-icon name="ai-icon-ordner_schwarzxxhdpi"></ion-icon>
      <h2>Fallakte Nummer 1</h2>
      <p>Name:{{filename1}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="loadList2()">
      <ion-icon name="ai-icon-ordner_schwarzxxhdpi"></ion-icon>
      <h2>Fallakte Nummer 2</h2>
      <p>Name:{{filename2}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="loadList3()">
      <ion-icon name="ai-icon-ordner_schwarzxxhdpi"></ion-icon>
      <h2>Fallakte Nummer 3</h2>
      <p>Name:{{filename3}}</p>
    </ion-item>
  </ion-list>

    <button ion-button class="bottons" (click)="GoBack()">Abbrechen</button>
</ion-content>