<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Wenn Sie darauf hinwirken konnten, dass Eltern angebotene Hilfen in Anspruch nehmen, so sollten Sie dies in Ihren eigenen Unterlagen gut dokumentieren. <br/><br/>

      Insbesondere:<br/>
      <ul>
          <li>Welche Hilfe wurde konkret angenommen?</li>
          <li>Gibt es vereinbarte Terminketten (z.B. weitere Elterngespräche)?</li>
          <li>Was passiert, wenn  – wider Erwarten – doch nichts passiert?</li>
        <li>Wie können Sie sichergehen, dass die Hilfen wirken?</li>
      </ul>

    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>