<!--
  Generated template for the Advice0129Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Nicht jede Fachkraft fühlt sich in der Lage, Gespräche im Kinderschutz mit Kindern zu führen.<br/><br/> Dies kann mehrere
  Ursachen haben – angefangen bei der Ausbildung oder Qualifizierung bis hin zu den persönlichen Stärken oder Schwächen.<br/><br/>  Falls
  Sie sich nicht gut vorbereitet fühlen, können Ihnen Kolleg*innen oder Leitungskräfte unter Umständen wichtige Ratschläge
  geben oder Hilfestellung leisten.<br/><br/> Fragen Sie gezielt bei Ihren Kolleg*innen oder Leitungskräften nach.
  <br/><br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>