<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Wie beschreibt das betroffene Kind / der*die Jugendliche die Situation? <br/><br/>

    Entspricht dies Ihrer eigenen Wahrnehmung? Gibt es einen Leidensdruck / Problemwahrnehmung? <br/><br/>
    
    Wünscht sich das Kind / der*die Jugendliche Unterstützung? 
    <br/><br/>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/97DEFF.svg"/>
        </ion-col>
        <ion-col col-9>
            Dokumentieren Sie die Gesprächsinhalte möglichst genau.
        </ion-col>
      </ion-row>
    </ion-grid> 
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>