<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mischformen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Häufig treffen Gewaltformen nicht einzeln, sondern in Kombination auf. So können z.B. seelische Misshandlungen mit körperlicher Gewalt einhergehen.
<br/>
  Dies kann das Erkennen von Gewalt gegen Kinder und Jugendliche erschweren.
<br/>
  Lassen Sie sich hierzu beraten.

</ion-content>
