<!--
  Generated template for the Advice0134aPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Unter Umständen ist die fallzuständige Fachkraft nicht diejenige Person, zu der das Kind/der*die Jugendliche das größere Vertrauen oder den besseren Zugang hat.<br/><br/>

    Beraten Sie sich mit Ihren Kolleg*innen, um heraus zu finden, ob andere Personen eher geeignet sind, das Gespräch mit dem Kind zu führen.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
