<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Nicht immer ist es möglich, die Inanspruchnahme oder Wirksamkeit von Hilfen zeitnah zu überprüfen. In manchen Fällen ist die Nachvollziehbarkeit ganz grundsätzlich nicht möglich.
<br/><br/>
Dies kann an der Art der Hilfe, aber auch an der Zusammenarbeit der Beteiligten liegen.
    <br/><br/>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png" />
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten und prüfen Sie die Möglichkeit, mit den Betroffenen erneut ins Gespräch zu gehen, um Ihre Bedenken auszuräumen.
        </ion-col>
      </ion-row>
    </ion-grid>
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>