<!--
  Generated template for the NutzungsbedingungenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Datenschutzhinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
      <b>Datenschutzhinweise<br/>
        für die Nutzung der Kinderschutz-App 
        (Stand 30.01.2019)
        </b>
      <br/><br/><br/>
      
      <b>1. Allgemeiner Hinweis zum Datenschutz</b> <br/><br/>
      Diese Datenschutzerklärung informiert Sie über die Verarbeitung personenbezogener Daten bei der Nutzung unserer mobilen Kinderschutz-App. Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z.B. Name, Adresse, E-Mail-Adresse, Telefonnummer, Gerätekennungen oder Nutzerverhalten.   
      <br/><br/>
      Die von Ihnen erhobenen persönlichen Daten werden nur zu dem nachfolgend mitgeteilten Zweck verarbeitet. Sie werden gelöscht, sobald die Speicherung nicht mehr für den von Ihnen verfolgten Zweck erforderlich ist.
      <br/><br/>
      Nach dem Download ist die Kinderschutz-App lokal auf Ihrem mobilen Endgerät gespeichert und kann ohne Zugriff auf das Internet verwendet werden. Bei der Nutzung werden keine personenbezogenen Daten erhoben. Der Verantwortliche hat keinen Zugriff auf Daten oder Informationen, die sich auf einen konkreten Einzelfall eines Kinderschutz-Verfahrens beziehen. 
      <br/><br/>
      <b>2. Datenschutzrechtlich Verantwortlicher</b>
      <br/><br/>
      Verantwortlicher im Sinne des Datenschutzrechts ist das<br/><br/>
      Ministerium für Soziales, Integration und Gleichstellung Mecklenburg-Vorpommern, <br/>
      vertreten durch: Staatssekretär Nikolaus Johannes Voss<br/>
      Werderstr. 124<br/>
      19055 Schwerin<br/>
      Telefon: 0385 - 588 0<br/>
      E-Mail: poststelle@sm.mv-regierung.de <br/><br/>
      (nachfolgend „Verantwortlicher“ oder „wir“).<br/><br/>
      <b>3. Behördlicher Datenschutzbeauftragter</b><br/><br/>
      Den behördlichen Datenschutzbeauftragten des Ministeriums für Soziales, Integration und Gleichstellung des Landes Mecklenburg-Vorpommern erreichen Sie wie folgt: 
      <br/><br/>
      Andreas Goes<br/>
      Werderstr. 124, 18055 Schwerin<br/>
      Telefon: 0385 588 – 91 40<br/>
      E-Mail: Andreas.Goes@sm.mv-regierung.de<br/><br/>
      
      <b>4. Datenverarbeitung beim Download der App</b> <br/><br/>
      
      Bei Herunterladen und Aktualisieren der mobilen App von unserer Webseite werden folgende Informationen an den Server gesendet (sog. Zugriffsdaten / Server-Logfiles) auf dem die App gespeichert ist und bis zur automatisierten Löschung auf unserem Server gespeichert:
      <br/><br/>
      <ul>
      <li>die IP-Adresse des anfragenden Endgerätes, </li>
      <li>die Gerätekennzeichnung, eindeutige Nummer des anfragenden Endgerätes (IMEI = International Mobile Equipment Identity),</li>
      <li>den Namen des anfragenden mobilen Endgerätes,</li>
      <li>Datum und Uhrzeit der Anfrage,</li>
      <li>ggf. die MAC-Adresse für WLAN-Nutzung,</li>
      <li>Webseite von der die Anfrage kommt (Referer URL), </li>
      <li>Betriebssystem, Browserversion des anfragenden Endgerätes.</li>
    </ul><br/><br/>
    Ob die App automatische Aktualisierung vornehmen soll, und damit eine Datenverarbeitung erfolgt, wird beim ersten Start der App erfragt und durch die aktive Zustimmung oder Ablehnung bestätigt. NutzerInnen der App können, während des Gebrauchs der App, die Zustimmung oder Ablehnung eines automatischen Updates jederzeit verändern. Die entsprechende Einstellung findet sich im Menü der App. 
    <br/><br/>
    Ist die Zustimmung erteilt, führt die App selbstständig Updates durch, sobald neuere Versionen auf dem Server hinterlegt sind.
    <br/><br/>
    Wir das automatische Update deaktiviert, erfolgt außer bei dem ersten Herunterladen der App, keine weitere Sendung und Speicherung der Daten.
    <br/><br/>
    Diese Datenverarbeitung ist technisch erforderlich, um Ihnen die Funktionen unserer App anzubieten sowie die Stabilität und Sicherheit der Nutzung zu gewährleisten:<br/><br/>
    Rechtsgrundlagen für die Datenverarbeitung sind Art. 6 Abs. 1 S. 1 b und f DSGVO. Unser berechtigtes Interesse folgt aus oben aufgelisteten Zwecken zur Datenerhebung. Eine Zusammenführung mit anderen bei uns vorhandenen Daten erfolgt nicht.
    Weitere Informationen über den Umfang, den Zweck und die Rechtsgrundlage der Verarbeitung sowie zu Ihren Rechten als Betroffener finden Sie in den Datenschutzhinweisen auf unserer Webseite unter: <a href="https://www.regierung-mv.de/Datenschutz/">https://www.regierung-mv.de/Datenschutz/</a>.
    <br/><br/>
      <b>5. Zugriffsberechtigungen auf Ihrem Endgerät </b>
      <br/><br/>
      Die App benötigt folgende Zugriffsrechte auf Ihrem Endgerät, die bei Installation der App bestätigt oder abgelehnt werden können: 
      <br/><br/>
      <ul>
      <li>Lese- und Schreibrechte, um beispielsweise vom Nutzer erstellte Notizen etc. auf dem Endgerät abzulegen bzw. innerhalb der App lesen zu können,</li>
      <li>Zugriff auf das Adressbuch, um die vom Nutzer in der App erfassten Kontakte auf dem Gerät abzulegen bzw. innerhalb der App zu lesen. Die in der App erfassten Kontakte werden unabhängig und separat von den sonstigen Kontakten im Adressbuch des Endgeräts gespeichert und können nur innerhalb der App gelesen und bearbeitet werden.</li>
      <li>Gegebenenfalls versionsbedingte bzw. betriebssystembedingte weitere Zugriffsrechte, die vor Installation angezeigt und vom Nutzer bestätigt bzw. abgelehnt werden können.</li>
    </ul>
      <b>6. Datenverarbeitung bei der Nutzung der App</b> 
      <br/><br/>
      Die Kinderschutz-App wird auf Ihr mobiles Endgerät geladen und kann ohne Zugriff auf das Internet verwendet werden. Bei ihrer Nutzung werden keine personenbezogenen Daten erhoben.
      <br/><br/>
      <b>7. Verwendung von Cookies </b>
      <br/><br/>
      Beim Download der App und auch beim Besuch von Internetseiten über Links in der App werden sogenannte „Cookies“ in dem genutzten Browser gespeichert. 
      <br/>
      Bei Cookies handelt es sich um kleine Textdateien, die im Gerätespeicher Ihres mobilen Endgerätes abgelegt und dem von Ihnen verwendeten Smartphone zugeordnet und gespeichert werden. Durch Cookies können der Stelle, die den Cookie setzt (also z.B. wir), bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf Ihr mobiles Endgerät übertragen. 
      <br/><br/>
      Sie können die Installation der Cookies verhindern, indem Sie in Ihrem Browser-Menü unter dem Menüpunkt „Einstellungen“ und dort unter „Persönliche Daten“, „Datenschutz“ oder „Privatsphäre“ (je nach Browsertyp) einstellen, das Cookies generell abgelehnt werden sollen, beispielsweise indem Sie die Funktion „Do not Track“ aktivieren. Dort können Sie auch bereits gesetzte Cookies löschen. 
      <br/><br/>
      Darüber hinaus werden beim Besuch von Webseiten (z.B. über Links) ggf. folgende Informationen an die entsprechenden Server gesendet (sog. Zugriffsdaten / Server-Logfiles):
            <br/><br/>
            <ul>
              <li>die IP-Adresse des anfragenden Endgerätes, </li>
              <li>die Telefonnummer des anfragenden Endgerätes und</li>
              <li>die Gerätekennzeichnung, eindeutige Nummer des anfragenden Endgerätes (IMEI = International Mobile Equipment Identity),</li>
              <li>die eindeutige Nummer des Netzteilnehmers (IMSI = International Mobile Subscriber Identity),</li>
              <li>den Namen des anfragenden mobilen Endgerätes,</li>
              <li>Datum und Uhrzeit der Anfrage,</li>
              <li>ggf. die MAC-Adresse für WLAN-Nutzung,</li>
              <li>Webseite von der die Anfrage kommt (Referer URL),</li>
              <li>Betriebssystem, Browserversion des anfragenden Endgerätes.</li>
            </ul>
            <br/><br/>
            Bei dem Besuch von Internetseiten über Links in der App werden jedoch keine inhaltlichen Daten (z.B. Notizen oder Eingaben in den Checklisten) übermittelt.
            <br/><br/>
      <b>8. Datenspeicherung und Datenerhaltung in der App</b>
      <br/><br/>
      Sämtliche vom Nutzer bei der Verwendung der App erstellten Daten (wie z.B. Notizen) werden innerhalb der Kinderschutz-App auf dem Endgerät gespeichert. Zugriff auf diese Daten besteht grundsätzlich nur innerhalb der App und nur auf dem jeweiligen Endgerät. 
      <br/><br/>
      Der Nutzer kann den Zugriff auf die App mit einem Passwort sichern. 
      <br/><br/>
      Wird die App deinstalliert, werden automatisch sämtliche Daten und Informationen auf dem Endgerät gelöscht, die im Zusammenhang mit der Nutzung der App erstellt worden sind.
      <br/><br/>
      <b>9. Kontaktaufnahme </b>
      <br/><br/>
      Nehmen Sie Kontakt zu uns auf bspw. per E-Mail werden die dabei von Ihnen übermittelten personenbezogenen Daten von uns gespeichert. Hierzu gehören insbesondere Ihre E-Mail-Adresse, Ihr Anliegen und, sofern angegeben, Ihr Name. Diese Daten benötigen wir, um Ihre Anfrage bearbeiten und mit Ihnen kommunizieren zu können. Die von Ihnen übermittelten Daten werden wir ausschließlich für die Bearbeitung Ihrer Anfrage verarbeiten. Rechtsgrundlagen dieser Datenverarbeitung sind Art. 6 Abs. 1 S. 1 lit b DSGVO, sofern es für die Erfüllung des Nutzungsvertrages erforderlich ist, sowie Art. 6 Abs. 1 lit. a DSGVO aufgrund Ihrer Einwilligung. Die hierbei erhobenen personenbezogenen Daten werden gelöscht, sofern diese nicht mehr erforderlich sind und einer Löschung keine gesetzlichen Aufbewahrungspflichten entgegenstehen. 
      <br/><br/>
      <b>10. Weitergabe personenbezogener Daten</b>
      <br/><br/>
      Wir geben grundsätzlich keine personenbezogenen Daten an Dritte weiter, es sei denn, <br/><br/>
      <ul>
      <li>Sie haben nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrücklich eine Einwilligung erteilt,</li>
      <li>dies ist gesetzlich zulässig und nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung des Vertragsverhältnisses mit Ihnen erforderlich, </li>
      <li>es besteht ein berechtigtes Interesse an der Weitergabe nach Art. 6 Abs. 1 S. 1 lit. f DSGVO und es besteht kein Grund zur Annahme, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben, sowie</li>
      <li>für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO besteht eine gesetzliche Verpflichtung.</li>
    </ul><br/>
      <b>11. Speicherdauer und Löschung von Daten</b><br/><br/>
      Die vom Verantwortlichen erhobenen personenbezogenen Daten werden gelöscht oder gesperrt, sobald diese zur Erfüllung des Vertrages nicht mehr erforderlich sind oder sonst der vereinbarte Verwendungszweck wegfällt. Eine darüberhinausgehende Speicherung kann aufgrund gesetzlicher Aufbewahrungsfristen oder zum Nachweis der korrekten Vertragserfüllung und bis zum Ablauf etwaiger Haftungsfristen erfolgen. Anschließend werden die Daten gelöscht. 
      <br/><br/>
      <b>12. Rechte der betroffenen Personen</b><br/><br/>
      
      Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie „Betroffener“ im Sinne der DSGVO und Ihnen stehen hinsichtlich Ihrer personenbezogenen Daten folgende Rechte zu:
      <br/><br/>
      (1)	<b>Widerruf Ihrer Einwilligung:</b> Beruht die Datenverarbeitung auf Ihrer Einwilligung, können Sie diese Einwilligung  gegenüber dem Verantwortlichen jederzeit mit Wirkung für die Zukunft widerrufen, Art. 7 Abs. 3 DSGVO. Der Widerruf ist in Schriftform oder per E-Mail an den Verantwortlichen möglich.
      <br/><br/>
      (2)	<b>Auskunft:</b> Sie können Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten verlangen, Art. 15 DSGVO.
      <br/><br/>
      (3)	<b>Berichtigung oder Vervollständigung:</b> Sie können die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten verlangen, Art. 16 DSGVO.
      <br/><br/>
      (4)	<b>Löschung:</b> Sie können die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten nach Maßgabe des Art. 17 DSGVO verlangen.
      <br/><br/>
      (5)	<b>Einschränkung der Verarbeitung:</b> Sie können die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten verlangen, Art. 18 DSGVO.
      <br/><br/>
      (6)	<b>Recht auf Datenübertragbarkeit:</b> Sie können gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format erhalten oder die Übermittlung dieser Daten an einen anderen Verantwortlichen verlangen.
      <br/><br/>
      (7)	<b>Widerspruchsrecht:</b> Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e DSGVO (Datenverarbeitung im öffentlichen Interesse) oder Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgen, Widerspruch einzulegen, Art. 21 DSGVO. Legen Sie Widerspruch ein, werden wir die Sie betreffenden personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. Der Widerspruch ist in Schriftform oder per E-Mail an den Verantwortlichen möglich. 
      <br/><br/>
      (8)	<b>Recht auf Beschwerde bei einer Aufsichtsbehörde:</b> Darüber hinaus haben Sie das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren, Art. 77 DSGVO 
      <br/><br/>
      <b>13. Datensicherheit</b>
      <br/><br/>
      Wir nutzen aus Sicherheitsgründen und zum Schutz der Übertragung personenbezogener Daten und anderer vertraulicher Inhalte eine SSL- bzw. TLS-Verschlüsselung. Die verschlüsselte Verbindung können Sie an dem "s" in der Zeichenfolge "https://" und dem Schloss-Symbol in Ihrer Browserzeile erkennen.
      <br/><br/>
      <b>14. Minderjährigenschutz</b> <br/><br/>
      Kinder und Personen unter 18 Jahren sollen ohne Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns übermitteln. Wir fordern keine personenbezogenen Daten von Kindern und Jugendlichen an, sammeln diese nicht und geben Sie nicht an Dritte weiter.
      <br/><br/>
      <b>15. Änderungsvorbehalt</b><br/><br/>
      
      Durch die Weiterentwicklung unserer Webseite oder aufgrund geänderter rechtlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu ändern. Der Verantwortliche wird die Nutzer über Änderungen der Datenschutzbestimmungen in angemessener Art und Weise informieren. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf dieser Webseite von Ihnen abgerufen und ausgedruckt werden.
      <br/><br/>
      Stand: September 2018
      


      <br/><br/>
      <br/><br/>
      <button ion-button class="bottons" (click)="Back()">Zurück</button>
    </ion-content>