<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Eltern anzusprechen ist eine wichtige und gute Möglichkeit um:
  <br/>
  <ul>
    <li>Informationen einzuholen, die zur Gefährdungseinschätzung benötigt werden,</li>
    <li>die Sichtweise der Eltern auf die Situation zu erfahren,</li>
    <li>einen Überblick über die Situation, das Lebensumfeld, die Ressourcen und Defizite der Eltern und Familie zu erhalten,</li>
    <li>die Eltern in die gemeinsame Gefährdungsabschätzung einzubeziehen und</li>
    <li>die Motivation der Eltern zur Annahme von Hilfen oder Veränderungen im eigenen Verhalten zu erhöhen.
      </li>
  </ul>
  <br/>
  Beziehen Sie die Betroffenen ein, solange der wirksame Schutz des Kindes dadurch nicht in Frage gestellt wird.
<br/><br/>
Hinweis: In manchen Fällen sind die Eltern nicht die Erziehungs- oder Personensorgenerechtigten. Informieren Sie sich im Zweifelsfall im Vorfeld intern über die Personensorge.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>