<!--
  Generated template for the NotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notizen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    Hinterlegen Sie hier Notizen zur Qualifizierung dieses Handlungsschrittes.<br/><br/>
    Achtung! Speichern Sie <b>niemals</b> inhaltliche Daten zum Fall oder personenbezogene Daten.<br/><br/><br/><br/>
  </p>
    <ion-textarea placeholder="Geben Sie hier Ihre Notizen ein." rows="14" [(ngModel)]="text"></ion-textarea>
    <button ion-button class="botton" (click)="save()">Speichern</button>
    <button ion-button class="botton" (click)="closeNote()">Abbrechen</button>
</ion-content>
