<!--
  Generated template for the Advice0138Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/F9A42D.svg"/>
      </ion-col>
      <ion-col col-9>
          In bestimmten Fällen oder in besonderen Fallkonstellationen ist es unter Umständen nicht ratsam, die Eltern direkt anzusprechen oder Hilfen anzubieten.
        </ion-col>
    </ion-row>
    </ion-grid>
    <br/><br/>
    Dies gilt beispielsweise für Fälle, in denen:
    <ul>
      <li>Verschleierungstendenzen wahrscheinlich sind (d.h. die Gewalt aktiv verschleiert werden könnte) oder
        </li>
      <li>Kinder/Jugendliche unter Druck gesetzt werden oder zusätzliche Gewakt erfahren könnten.</li>
    </ul>
    
    <br/><br/>
    
    <ion-grid>
        <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/telefon.png"/>
      </ion-col>
      <ion-col col-9>
           Besprechen Sie Ihren Verdacht mit der insoweit erfahrenen Fachkraft.
        </ion-col>
    </ion-row>
    </ion-grid>
    <br/>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
              <img src="assets/imgs/F9A42D.svg"/>
      </ion-col>
      <ion-col col-9>
          Sollten Sie zu dem Schluss kommen, dass ein Gespräch das Risiko der Gefährdung erhöht oder den Schutz in Frage stellt, sollten Sie diesen Schritt nicht ausführen und überlegen, wie Sie stattdessen vorgehen könnten.
        </ion-col>
    </ion-row>
    </ion-grid>
  
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>
