<!--
  Generated template for the Advice0142Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    In manchen Fällen sind die eigenen Möglichkeiten begrenzt. Darüber hinaus kann es in manchen Fällen hilfreich sein, nicht so nah in Kontakt mit den Familie zu sein (Abhängigkeitsverhältnis vs. Vertrauensverhältnis).
    <br/><br/>
    Überlegen und diskutieren Sie, ob vielleicht Kolleg*innen Unterstützung anbieten können. 
  
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>
