<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Körperliche Gewalt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Körperliche Gewalt kann verschiedene Formen annehmen und ist nicht immer leicht zu erkennen.
<br/><br/>
    Möglich Verletzungsursachen sind u.a. stumpfe oder schürfende Gewalt (z.B. Schläge), thermische Einwirkungen (Hitze oder Kälte), scharfe/spitze Gewalt (z.B. Stichverletzungen) oder auch Strangulationen.
    <br/><br/>
    Wichtig ist es, dabei zwischen unfallbedingten Verletzungen und Gewalt zu unterscheiden.
    Fragen Sie sich also immer, ob die Symptome von einem Unfall stammen können (z.B. blaue Flecken an der Handinnenfläche) oder ob dies eher unwahrscheinlich bzw. nicht möglich ist (z.B. Abwehrverletzungen an den Unterarmen).
  <br/><br/>
  Darüber hinaus können Sie sich im Einzelfall folgende Fragen stellen.<br/>
  -	Gibt es untypische Verletzungen oder Verletzungshäufungen?<br/>
  -	Gibt es plausible Erklärungen für die Verletzungen?<br/>
  -	Werden die Verletzungen angemessen schnell und wirkungsvoll behandelt oder kommt es zu Verzögerungen?<br/>
  
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

