<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Ob und inwieweit Betroffene Hilfen annehmen, kann einerseits von ihrer Bereitschaft und/oder Fähigkeit zur Abwendung der vorhandenen Gefährdung, andererseits aber auch von der Umsetzbarkeit der Hilfe abhängig sein. 
<br/><br/>
<ul>
  <li>Haben die Betroffenen ein Verständnis für das Vorhandensein der Kindeswohlgefährdung sowie für den Handlungsbedarf? </li>
  <li>Sind die Eltern in der Lage, den Anforderungen der Hilfen nachzukommen (z.B. Reisewege, Selbstkritik, Ausdauer im Prozess)?</li>
  <li>Welche Widerstände gibt es gegen die Hilfemaßnahme (z.B. Eingeständnis von Fehlern, mögliche Stigmatisierungen)?</li>
</ul>
<br/><br/>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png" />
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich im Zweifel von Ihrer insoweit erfahrenen Fachkraft beraten und prüfen Sie die Möglichkeit, mit den Betroffenen erneut ins Gespräch zu gehen, um Unterstützung zur Annahme der Hilfe zu geben und/oder andere Hilfen anzubieten.
        </ion-col>
      </ion-row>

    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>