<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Falls die Eltern nicht bereit und in der Lage sind, ihr Kind selbst zu schützen, sollten Sie darauf hinwirken, dass die Betroffenen wirkungsvolle Hilfen annehmen. 
  <br/>
  <br/> Bitte überlegen Sie, welche Angebote aus Ihrem eigenen Handlungsfeld die Familie unterstützen könnten? Oder gibt es in Ihrem Sozialraum noch andere Angebote oder Netzwerke, auf die Sie zurückgreifen können? 
  <br/>
  <br>Gibt es eine sozialräumliche Netzwerkrunde oder eine AG zum Kinderschutz, in der Sie oder Ihr Träger aktiv sind oder an die Sie sich wenden könnten?

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
          Im Zweifel können Sie sich zu dieser Frage auch durch Ihre insoweit erfahrene Fachkraft beraten lassen.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>