<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Je nach Bedarf sollten Angebote anderer Einrichtungen, Dienste und Professionen genutzt werden, um eine Kindeswohlgefährdung abzuwenden.
  Bitte informieren Sie sich zunächst in der eigenen Schule. Haben Sie einen*eine Schulsozialarbeiter*in, an die*den Sie sich wenden können bzw. an die*den Sie die Familie verweisen können?  
    <br/><br/>
    Gibt es vielleicht Fachkräfte an Ihrer Schule, die einen engeren Kontakt zur Familie haben?
    <br/><br/>
    Darüber hinaus gibt es im Umfeld/Netzwerk Ihrer Schule in der Regel Träger der freien Jugendhilfe, an die Sie sich ebenfalls wenden können.
  <br/>
  <br/> Denkbar sind aber auch:
  <ul>
    <li>Angebote anderer Träger,</li>
    <li>Angebote des Jugendamtes</li>
    <li>Angebote anderer Professionen (z.B. medizinische Behandlung)</li>
  </ul>
  Besprechen Sie mit den Eltern, welche Hilfsangebote notwendig sein könnten und welche sie annehmen würden.<br/><br/>

  Versuchen Sie, die Eltern dahingehend zu motivieren, diese Hilfen anzunehmen oder mit anderen Einrichtungen in Kontakt zu treten.<br/><br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
        Lassen Sie sich zu hierzu von der insoweit erfahrenen Fachkraft beraten.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  Wenn Sie Hilfen Dritter vermitteln, sollten Sie mit den Betroffenen eine Vereinbarung treffen, wie Sie die Inanspruchnahme und Wirksamkeit der Hilfe nachvollziehen können (schriftliche Vereinbarungen, Schutzplanungen o.ä.). Besprechen Sie auch die Möglichkeit einer Schweigepflichtsentbindung.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>