<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nutzung der App</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuNa')">Das Ziel der App</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuNb')">Bedienung der App</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuNcContentA')">Datensicherheit</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuNdContentA')">FAQ</button>
  <br/><br/>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>
