<!--
  Generated template for the Advice0156Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Anlagen sind ein wichtiges Instrument, um eine möglichst hohe Vollständigkeit der Informationen sowie deren Nachvollziehbarkeit zu gewährleisten.<br/><br/>

  Bitte überprüfen Sie die  Kooperationsvereinbarung zwischen Ihrem Träger und dem Jugendamt hinsichtlich der Frage, welche Formblätter oder Verfahrenshinweise vorgesehen sind.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>