<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formen KiWoGe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-button full outline (click)="itemNutzg01($event, item)">Vernachlässigung</button>
    <button ion-button full outline (click)="itemNutzg02($event, item)">Körperliche Gewalt</button>
    <button ion-button full outline (click)="itemNutzg03($event, item)">Psych. Gewalt/ seel. Misshandlung</button>
    <button ion-button full outline (click)="itemNutzg04($event, item)">Sexuelle Gewalt/ sexueller Missbrauch</button>
    <button ion-button full outline (click)="itemNutzg05($event, item)">Häusliche Gewalt</button>
    <button ion-button full outline (click)="itemNutzg06($event, item)">Mischformen</button>
    <button ion-button full outline (click)="itemNutzg07($event, item)">andere Formen</button>
  </ion-list>
</ion-content>
