<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Jugendhilfe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Es gibt in der Jugendhilfe verschiedene<br/>
  <ul>
    <li>niedrigschwellige (z.B. Beratungsstellen, Elternkurse, Begegnungszentren), aber auch</li>
    <li>hochschwellige Hilfsangebote (z.B. Jugendamt, Familienhilfen), die in Anspruch genommen werden.</li>
  </ul>
  <br/><br/>
  Die insoweit erfahrene Fachkraft, kann Sie dazu beraten, herauszufinden, welche Hilfen geeignet erscheinen und wie diese zugänglich gemacht werden können.
  <br/><br/>
  Insbesondere hochschwellige Hilfen benötigen häufig eine Antragstellung und gemeinsame Planung mit dem Jugendamt. Daher ist es häufig ratsam Eltern dazu zu motivieren selbst mit dem Jugendamt Kontakt aufzunehmen.
  
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>