<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Die App</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1>Impressum</h1>
<br/>
    Die Kinderschutz-App wurde im Auftrag des Ministeriums für Soziales, Integration und Gleichstellung Mecklenburg-Vorpommern erstellt. <br/><br/>
    
    <b>Kontakt: </b><br/>
    <u>Hausanschrift</u><br/>
    Ministerium für Soziales, Integration und Gleichstellung Mecklenburg-Vorpommern<br/>
    Vorzimmer der Ministerin<br/>
    Werderstraße 124<br/>
    19055 Schwerin <br/><br/>
    
    <u>Postanschrift</u><br/>
    Ministerium für Soziales, Integration und Gleichstellung Mecklenburg-Vorpommern<br/>
    19048 Schwerin<br/>
    Telefon: 0385-588 0<br/>
    Telefax: 0385-588 9709<br/>
    E-Mail: poststelle@sm.mv-regierung.de <br/><br/>
    
    Die Kinderschutz-App dient der Orientierung in Kinderschutz-Verfahren. Sie wird den Fachkräften in Mecklenburg-Vorpommern kostenlos durch das Land zur Verfügung gestellt. 
    <br/><br/>

    <b>Idee und Umsetzung</b><br/>
    Start gGmbH<br/>
    <a href src="www.start-ggmbh.de">www.start-ggmbh.de</a> <br/><br/>
    
    <b>Layout und Design</b><br/>
    projektbarfus<br/>
    <a href src="www.projektbarfuss.de">www.projektbarfuss.de</a> <br/><br/>
    
    <b>Programmierung</b><br/>
    AppFox.de  <br/>
    <a href src="www.appfox.de">www.appfox.de</a> <br/><br/>
    
    <b>Haftungsausschluss </b><br/>
    <u>Haftung für Inhalte</u><br/>
    Die Inhalte der App wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollstän-digkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Anbieter von Diensten sind wir gemäß § 7 Absatz 1 Telemediengesetz (TMG) für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Anbieter von Diensten jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflich-tungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung mög-lich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir die-se Inhalte umgehend entfernen.
    <br/><br/>
    <u>Haftung für Links</u><br/>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente in-haltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzun-gen werden wir derartige Links umgehend entfernen.
    <br/><br/>
    <u>Urheberrecht</u><br/>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unter-liegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestat-tet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerk-sam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    <br/><br/>
    <u>Datenschutz</u><br/>  
    Die Nutzung unserer App ist auch ohne Angabe personenbezogener Daten mög-lich. Die App bietet dem/ der Nutzer*in die Möglichkeit, personenbezogene Daten (Kontaktdaten) zu speichern. Die Vorschriften des Bundesdatenschutzgesetzes sind dabei durch den/ die Nutzer*in zu berücksichtigen.
    <br/><br/>
    Die Eingabe der Kontaktdaten erfolgt stets auf freiwilliger Basis. Diese Daten wer-den nicht an Dritte weitergegeben.  
    <br/><br/>
    Wir weisen darüber hinaus darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lücken-loser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. 
    <br/><br/>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zu-sendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    
    <br/><br/>

  <!--Animatest
  <img src="assets/imgs/KWG-App-Logo-Intro360x640.gif"/>
  -->
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>
