<!--
  Generated template for the Advice0113Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    Geben Sie sich selbst und den Eltern die Möglichkeit, sich auf das Gespräch vorzubereiten.<br/><br/>
    Spontane Gespräch erhöhen die Wahrscheinlichkeit von Überforderungssituationen, Informationsmängeln und Widerständen.
  <br/><br/>
    Der Umfang und die Dauer der Vorbereitung sind abhängig vom Einzelfall zu bestimmen. 
      <br/><br/>
      <ion-grid>
          <ion-row>
              <ion-col col-3>
        <img src="assets/imgs/telefon.png"/>
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich auch hierzu von Ihrer insoweit erfahrenen Fachkraft beraten.
          </ion-col>
      </ion-row>
      </ion-grid><br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
