<!--
  Generated template for the Advice0127Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Überlegen Sie sich gut, welche Situation für ein Gespräch förderlich ist.<br/><br/>

Braucht das Kind einen geschützten Raum?<br/>
Oder hat das Kind "Wohlfühl-Oasen"?<br/><br/>

Schaffen Sie sich und dem Kind eine angemessene Situation, in der ein gelingendes und wenig belastendes Gespräch möglichst wahrscheinlich ist.
          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
