<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    Dokumentieren Sie dennoch genau, wem Sie wann die Meldung zugesandt haben.<br/><br/>

    Bis zur Entgegennahme der Empfangsbestätigung bleiben Sie in der Fallverantwortung.<br/><br/>
    
    Falls die Empfangsbestätigung weiter ausbleibt, sollten Sie beim Jugendamt nachfragen, um sicher zu gehen, dass Ihre Meldung an der richtigen Stelle eingegangen ist. 
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>