<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>psychische Gewalt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Psychische Gewalt beinhaltet alle Handlungen oder Unterlassungen, die Kinder oder Jugendliche beispielsweise dauerhaft verängstigen, überfordern oder ihnen das Gefühl vermitteln, wertlos zu sein und sie damit in ihrer psychischen (teilweise aber auch ihrer körperlichen) Entwicklung beeinträchtigen oder schädigen.
<br/><br/>
  Mögliche Formen sind unter anderem:<br/>
<ul>
  <li>Ausnutzen,</li>
  <li>Liebesentzug,</li>
  <li>häusliche Gewalt,</li>
  <li>Demütigungen oder</li>
  <li>Isolation.</li>
</ul>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

