<!--
  Generated template for the MnuNcContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>FAQ</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="masters">
      <b>Wie kann ich Verfahren speichern?</b><br/>
      Wenn Sie Eingaben zu einem Verfahren speichern wollen, müssen Sie sich zuvor als Benutzer registrieren. Tippen Sie dazu auf „Registrieren“, wählen Sie einen Benutzernamen aus und das dazugehörige Passwort. Alle Ihre Einträge können nun gespeichert werden.
      <br/><br/>
      <b>Wozu dient die App?</b><br/>
      Die in der Kinderschutz-App enthaltenen Checklisten wurden gemeinsam mit Fachkräften entwickelt. Das Ziel ist es, die Handlungssicherheit von Fachkräften zu erhöhen, sie durch das Verfahren zu führen und auch Familien, Kindern und Jugendlichen gegenüber mehr Transparenz herzustellen.

      <br/><br/>
      <b>Wie werden Updates installiert?</b><br/>
Sie entscheiden, ob Updates automatisch erfolgen. Unter „Einstellungen“ können Sie den von Ihnen gewählten Status (automatische Updates aktiviert oder deaktiviert) einsehen und bei Bedarf ändern. Sind automatische Updates deaktiviert, erfolgt keine Aktualisierung der Kinderschutz-App.
<br/><br/>

Bitte beachten Sie: Datenschutz und Datensicherheit sind für uns von ganz besonderer Bedeutung. Die Daten in der Kinderschutz-App sind daher ganz besonders vor einem Zugriff oder Export geschützt. Dies hat Einfluss auf die Aktualisierung der App.
<br/><br/>

Änderungen an den Fachinformationen und Hinweistexten werden in der bestehenden Kinderschutz-App aktualisiert.
<br/><br/>

Änderungen an der Datenbank und Fragestruktur dagegen haben Einfluss auf Ihre gespeicherten Daten. 
Aus Gründen der Datensicherheit und des Datenschutzes ist ein Export der eingegebenen Daten nicht möglich. Auch nicht zur Übertragung in eine neue Version der Kinderschutz-App. Änderungen an der Struktur der Kinderschutz-App führen daher dazu, dass eine neue Version der Kinderschutz-App auf dem Smartphone hinterlegt wird. Sie können dann bei Bedarf ihre Eingaben manuell übertragen.
<br/><br/>

      <b>Wer sind die Entwickler?</b><br/>
      Die Kinderschutz-App wurde im Auftrag des Ministeriums für Soziales, Integration und Gleichstellung des Landes Mecklenburg-Vorpommern entwickelt.<br/><br/>

      Die Start gGmbH hat die Entwicklung der Kinderschutz-App als Projektträger koordiniert und fachlich begleitet.<br/><br/>
      
      Die Umsetzung der Entwicklung erfolgte durch AppFox.de, ein in Stralsund ansässiger App-Entwickler, sowie projektbarfus (Grafik und Design). 
      
      
      <br/><br/>
      <br/><br/>
      <button ion-button class="bottons" (click)="Back()">Zurück</button>
    </ion-content>
  