<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Grundlagen und Tipps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Das Ansprechen von Eltern und/oder Kindern und Jugendlichen ist in vielen Fällen geboten und fachlich ratsam, außer Sie stellen dadurch den wirksamen Schutz des Kindes in Frage.
  <br/>
  <br/>
  Gespräche können dazu dienen, Verdachtsmomente zu erörtern sowie Informationen einzuholen und geben den Eltern die Möglichkeit, sich zu öffnen. Sie erhöhen aber auch Vertrauen und Beteiligung, schaffen Transparenz und bewirken in der Regel eine höhere Bereitschaft, Hilfen anzunehmen.
  <br/>
  <br/>
  <b>Tipps für Gespräche</b><br/>
  <ol>
    <li>Organisieren Sie einen Raum, verabreden Sie einen Termin und bereiten Sie sich entsprechend vor.</li>
    <li>Lassen Sie sich von eine*r Kolleg*in, Ihrer Leitungskraft oder der insoweit erfahrenen Fachkraft zu dem Gespräch beraten.</li>
    <li>Holen Sie sich eine*n Kolleg*in zum Gespräch dazu, wenn Sie sich unsicher fühlen.</li>
    <li>Passen Sie Ihre Sprache und Rhetorik, im Sinne des gemeinsamen Verständnisses, dem Gegenüber an.</li>
  </ol>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>