<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Grundgesetz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Grundgesetz	Artikel 6<br/><br/><br/>

  (1) Ehe und Familie stehen unter dem besonderen Schutze der staatlichen Ordnung.<br/><br/>
  
  (2) Pflege und Erziehung der Kinder sind das natürliche Recht der Eltern und die zuvörderst ihnen obliegende Pflicht. Über ihre Betätigung wacht die staatliche Gemeinschaft.
  <br/><br/>
  (3) Gegen den Willen der Erziehungsberechtigten dürfen Kinder nur auf Grund eines Gesetzes von der Familie getrennt werden, wenn die Erziehungsberechtigten versagen oder wenn die Kinder aus anderen Gründen zu verwahrlosen drohen.
  …

  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>

