<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kindeswohlgefährdung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuFicContentA1')">Grundlagen und Tipps</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFicContentA2')">Elterngespräche</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFicContentA3')">Gespräche mit Kindern</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>