<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kindeswohlgefährdung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuFibContentA1')">Vernachlässigung</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA2')">Körperliche Gewalt</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA3')">psych. Gewalt/ seelische Gewalt</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA4')">sexuelle Gewalt</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA5')">häusliche Gewalt</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA6')">Mischformen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentA7')">andere Formen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>