<ion-header>
  <ion-navbar>
    <!--
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    -->
    <ion-title>Akte speichern</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-input placeholder="{{displayname1}}" [(ngModel)]="filename1"></ion-input>
      <button ion-button class="bottons"  (click)="save(1)">Speichern</button>
  </ion-list>
  <ion-list>
      <ion-input placeholder="{{displayname2}}" [(ngModel)]="filename2"></ion-input>
      <button ion-button class="bottons"  (click)="save(2)">Speichern</button>
  </ion-list>
  <ion-list>
    <ion-input placeholder="{{displayname3}}" [(ngModel)]="filename3"></ion-input>
    <button ion-button class="bottons"  (click)="save(3)">Speichern</button>
  </ion-list>
    <button ion-button class="bottons" (click)="GoBack()">Abbrechen</button>
</ion-content>
