<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Andere Formen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Es gibt grundsätzlich eine Vielzahl von Gewaltformen oder potentiell Kindeswohlgefährdenden Situationen, die denkbar und möglich sind.
<br/>
  Zu den Sonderformen gehören unter Umständen z.B.:
  <ul>
  <li>hochstrittige Trennungs- und Scheidungssituationen</li>
    <li>unbegleitete Einreise</li>
    <li>Drogen- und Autonomiekonflikte</li>
    <li>Cybermobbing und Cybergrooming</li>
    <li>Suizid</li>
  </ul>
  Lassen Sie sich hierzu bei Verdacht beraten.

</ion-content>
