<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/F9A42D.svg" />
      </ion-col>
      <ion-col col-9>
          In manchen Einzelfällen oder in besonderen Fallkonstellationen ist es unter Umständen nicht ratsam, die Eltern direkt anzusprechen.
      </ion-col>
    </ion-row>
  </ion-grid>

  Dies gilt beispielsweise für Fälle, in denen:
  <br/>
  <ul>
    <li>Verschleierungstendenzen wahrscheinlich sind (d.h. die Gewalt aktiv verschleiert werden könnte) oder</li>
    <li>Kinder / Jugendliche unter Druck gesetzt werden könnten.</li>
  </ul>
  <br/>
  <br/>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
          Besprechen Sie Ihren Verdacht mit der insoweit erfahrenen Fachkraft.
      </ion-col>
    </ion-row>
  </ion-grid>
  In Fällen sexueller Gewalt ist es ratsam, auf spezialisierte insoweit erfahrene Fachkräfte zurück zu greifen (z.B. aus Fachberatungsstellen).
  <br/>
  <br/>
  Sollten Sie zu dem Schluss kommen, dass ein Gespräch mit den Eltern das Risiko der Gefährdung für das Kind noch erhöhen könnte, sollten Sie diesen Schritt nicht ausführen. Suchen Sie dann in der Beratung nach Alternativen.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>