<!--
  Generated template for the Advice0114Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    Führen Sie mit den Eltern nach Möglichkeit kein "Tür und Angel"-Gespräch.<br/><br/>

    Organisieren Sie einen Raum, der für die Gesprächssituation angemessen ist und eine förderliche Arbeitsatmosphäre sowie die nötige Ungestörtheit schafft.
            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>

