<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Gibt es an Ihrer Schule geeignete Angebote, die dem Kind / dem*der Jugendlichen und/oder  seiner*ihrer Familie Unterstützung anbieten können, z.B. Präventions- oder Beratungsangebote? 
<br/><br/>
      Darüber hinaus gibt es möglicherweise auch Angebote von Seiten des Schulamtes, z.B. schulpsychologischer Dienst/schuldiagnostische Dienst. 
      <br/><br/>
      Fragen Sie Ihre Leitung oder wenden Sie sich direkt an das Schulamt.
      <br/><br/>
      Bitte denken Sie daran, sensibel mit personenbezogenen Daten der Familie umzugehen, wenn Sie nach Angeboten suchen!
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>