<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Bitte schätzen Sie ein, woran die Veränderung der Situation scheitert. 
  <ul>
    <li>Haben die Eltern ein Problembewusstsein?</li>
    <li>Sind die Eltern in der Lage, das Hilfeangebot anzunehmen?</li>
    <li>Können Sie Gründe für das ablehnende Verhalten der Eltern erkennen?
      </li>
    <li>Gibt es Zugänge, auf die sich die Eltern vielleicht besser einlassen könnten?</li>
  </ul>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/telefon.png" />
      </ion-col>
      <ion-col col-9>
          Wenn Sie ratlos sind, lassen Sie sich von einer insoweit erfahrenen Fachkraft zur Situation beraten.
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  Falls andere Hilfen denkbar sind oder Ihnen weitere Möglichkeiten der Hilfe und Unterstützung sinnvoll erscheinen, so:
  <ul>
    <li>beginnen Sie diese Seite der Checkliste von Neuem und</li>
    <li>löschen Sie dazu ihre bisherigen Angaben.</li>
  </ul><br/>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/F93B2D.svg" />
      </ion-col>
      <ion-col col-9>
        Sofern:
      </ion-col>
    </ion-row>
  </ion-grid>
  <ul>
    <li>es keine andere Möglichkeit gibt darauf hinzuwirken, dass Eltern wirkungsvolle Hilfen annehmen, oder</li>
    <li>keine anderen Hilfen denkbar sind,</li>
  </ul>
  endet Ihr Verfahren hier. 
  <br/><br/>
  Melden Sie es dem Jugendamt.<br/><br/>

Informieren Sie vorab die Betroffenen über diesen Handlungsschritt, sofern der Schutz des Kindes / des*der Jugendlichen dadurch nicht in Frage gestellt wird.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>