<!--
  Generated template for the AdviceNextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweis</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content padding class="masters">
  <p>Bitte lesen Sie unsere Hinweise zu dieser Frage.</p>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeFinish()">Ok</button>
  </ion-content>