<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Hinweise</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      Um die Inanspruchnahme und Wirksamkeit von Hilfen zu überprüfen, kann es in manchen Fällen notwendig sein, mit den hilfeanbietenden Fachkräften in Kontakt zu treten.
      <br/>
      <br/>
      Aus Gründen des Datenschutzes ist dies nicht immer ohne Weiteres möglich.
      <br/>
      <br/>   
      Ratsam ist es, sich und die hilfeanbietende Fachkraft durch die Betroffenen von der Schweigepflicht entbinden zu lassen.
    <br/>
    <br/>
  
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png" />
        </ion-col>
        <ion-col col-9>
            Lassen Sie sich zum Thema Datenschutz von Ihrer insoweit erfahrenen Fachkraft beraten.
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <br/>
    <br/>
    <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>