<!--
  Generated template for the Advice0128Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Gespräche mit Kindern müssen einfühlsam und mit Bedacht geführt werden.<br/><br/>

  Daher ist eine gute Gesprächsvorbereitung wichtig.<br/><br/>
  
  Erstellen Sie sich einen groben Ablauf und planen Sie ausreichend Zeit und Raum ein.<br/><br/>
  
  Überlegen Sie sich Wege und Mittel, wie Sie das Kind ansprechen können.<br/><br/>
  
  <ion-grid>
    <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/telefon.png"/>
  </ion-col>
  <ion-col col-9>
      Lassen Sie sich hierzu von Ihrer insoweit erfahren Fachkraft beraten oder ziehen Sie ggf. weitere Personen hinzu. Besprechen Sie dies ggf. vorab mit den Eltern.

    </ion-col>
</ion-row>
</ion-grid>
          <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>
