<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Dokumentieren Sie die konkreten Beobachtungen, Fakten und Entscheidungen so genau wie möglich.
      </ion-col>
    </ion-row>
  </ion-grid>
  Dazu gehört auch: 
  <br/>
  <ul>
    <li>Was genau haben Sie beobachtet und worin befürchten Sie die Gefährdung?</li>
    <li>Wie lange oder über welchen Zeitraum haben Sie dies beobachtet?
      </li>
    <li>Wer kann Ihre Beobachtungen ggf. bestätigen?
      </li>
    <li>Sind Sie aufgrund Ihrer Beobachtungen tätig geworden/haben Entscheidungen getroffen?  </li>
  </ul>
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>