<!--
  Generated template for the MnuNutzungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kindeswohlgefährdung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <button ion-button class="bottons" (click)="Go('MnuFibContentA')">Formen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentB')">Definition</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentC')">Anhaltspunkte</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentD')">Insoweit erfahrene Fachkraft</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Go('MnuFibContentE')">Erkennen</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>