<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Symbole</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  In der App wird durch Symbole auf verschiedene Funktionen hingewiesen. Hier die wichtigsten:<br /><br /> <br /><br />

  <table>
    <tr>
      <td><ion-icon name="fastforward" style="color:grey;"></ion-icon></td>
      <td>Öffnen der zusätzlichen Hinweis- und Notizfelder<i>Wischen Sie auf dem Symbol von links nach rechts!</i></td>
    </tr>
    <br /><br />
    <tr>
      <td>
        <ion-icon name="ai-icon-checklisten_schwarzxxhdpi"></ion-icon>
      </td>
      <td> Zurück zum Auswahlmenü</td>
    </tr>
    <br /><br />
    <tr>
      <td>
        <ion-icon name="ai-icon-checkliste-zurück_grauxxhdpi"></ion-icon>
      </td>
      <td> Zurück zur vorherigen Seite</td>
    </tr>
    <br /><br />
    <tr>
      <td>
        <ion-icon name="ai-icon-checkliste-weiter_grauxxhdpi"></ion-icon>
      </td>
      <td> Vor zur nächsten Seite</td>
    </tr>
    <br /><br />
    <tr>
      <td>
          <img src="assets/imgs/Reboot.svg" (click)="reset()" width="30%"/>
      </td>
      <td> Zurücksetzen der bisherigen Eingaben auf dieser Checklistenseite</td>
    </tr>
    <br /><br />
    <tr>
      <td>
        <ion-icon name="ai-icon-checkliste-speichern_schwarzxxhdpi"></ion-icon>
      </td>
      <td> Speichern der bisherigen Eingaben und Notizen</td>
    </tr>
    <br /><br />
    <tr>
      <td>
          <ion-icon name="menu"></ion-icon>
      </td>
      <td> Öffnen des Zusatz-Menüs</td>
    </tr>
    <br /><br />
  </table>

  <br />


  <!--
      <img src="assets/imgs/checkliste-wischen.svg" width="10%"/> <br/>Wischen Sie unterhalb der einzelnen Frage von links nach rechts über das Symbol und tippen Sie dann auf „Hinweise“, um sich zu den einzelnen Fragen zu informieren.
      <br/><br/>
      Weitere Informationen zum Thema Kindeswohlgefährdung finden Sie auf www.bündnis-kinderschutz-mv.de.
      -->
  <br />
  <br />
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>