<!--
  Generated template for the MnuNbContentAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Andere Formen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Es gibt grundsätzlich eine Vielzahl von Gewaltformen oder potentiell kindeswohlgefährdenden Situationen, die denkbar und möglich sind.
  <br/> <br/>
  Zu den Sonderformen gehören unter Umständen z.B.: <br/>
  <ul>
    <li>hochstrittige Trennungs- und Scheidungssituationen</li>
    <li>unbegleitete Einreise</li>
    <li>Drogen- und Autonomiekonflikte</li>
    <li>Cybermobbing und Cybergrooming</li>
    <li>Suizid</li>
  </ul>
  <br/>
  Lassen Sie sich hierzu im Einzelfall gezielt beraten und gehen Sie allen Anhaltspunkten für eine Gefährdung nach.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="Back()">Zurück</button>
</ion-content>