<!--
  Generated template for the Advice0131Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  Gesprächsführung im Kinderschutz, insbesondere mit Kindern/Jugendlichen, ist eine herausfordernde Aufgabe.<br/><br/>

  Falls Sie ungeübt sind oder Unsicherheiten fürchten, sollten Sie das Gespräch zuvor mit Kolleg*innen üben.
  
  <br/>
  <br/>
  <ul>
    <li>Haben Sie Kolleg*innen, die Sie unterstützen können?</li>
    <li>Besprechen Sie Ihre Unsicherheiten, verteilen Sie Rollen und proben Sie die Gesprächssituationen.</li>
  </ul>
  Reflektieren Sie danach gemeinsam das Gespräch.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>

</ion-content>
