<!--
  Generated template for the Advice0160Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    Veränderungen brauchen in der Regel etwas Zeit. Manchmal verändert sich dabei aber auch nichts und die Gefährdungssituation bleibt bestehen bzw. verlagert sich nur. Manchmal vollzieht sich eine Veränderung auch nur zum Schein.      

    <br/><br/>
    
    <ion-grid>
      <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/97DEFF.svg"/>
    </ion-col>
    <ion-col col-9>
        Bitte beobachten Sie die Situation aufmerksam weiter und dokumentieren Sie die Fakten, die auf ein Weiterbestehen der Gefährdung hindeuten.
      </ion-col>
  </ion-row>
  </ion-grid>
  <br/>
  Falls sich keine positiven Veränderung  oder erneute Anhaltspunkte für eine Kindeswohlgefährdung ergeben, sollten Sie ihr Verfahren neu starten.

            <br/><br/>
        <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>