<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Sie sind zur Entscheidung gekommen, sich an das Jugendamt zu wenden und den Fall zu melden. Beachten Sie bitte, dass Sie grundsätzlich die Betroffenen über die bevorstehende Meldung an das Jugendamt informieren sollen, sofern der Wirksame Schutz des Kindes dadurch nicht in Frage gestellt wird.
    <br/>
    <br/>
    Um die Gefährdungssituation klären zu können, wird die Dokumentation Ihrer Beobachtungen für das Jugendamt hilfreich sein. Bitte klären Sie vorab mit den Jugendamt, in welcher Weise die Daten verwendet werden und wie der Datenschutz dabei nicht verletzt wird. 
    <br/>
    <br/>
    Bitte bleiben Sie  auch weiterhin aufmerksam, denn Gefährdungen können manchmal auch in Phasen oder veränderten Konstellationen erneut eintreten.  
    <br/>
    <br/>
    Hinweis: Bei Gefahr im Verzug können Sie neben dem Jugendamt auch die Polizei informieren.
  <br/>
  <br/>
  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>