<!--
  Generated template for the Advice0109aPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    Nichts ist in Stein gemeißelt. <br/><br/>

    Es können immer wieder <br/>
    <ul>
    <li>neue Informationen auftauchen,</li>  
    <li>Fragen entstehen oder</li>
    <li>Umstände eintreten,<br/>
        die relevant für die Einschätzung oder Bearbeitung von Kindeswohlgefährdungen sind.</li>
  </ul><br/><br/>
  In manchen Fällen kann es ratsam sein, die Situation vorerst weiter zu beobachten.<br/><br/>
    
  Nutzen Sie daher die Möglichkeit, weitere Beratungen zu vereinbaren, um anstehende Fragen, Unklarheiten oder Beratungsbedarfe zu besprechen.
    
    <br/><br/>
      <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
  </ion-content>