<!--
  Generated template for the ContentsChecklist01Mldg01Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Meldung an das Jugendamt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
  <p>Sie wollen den Bereich "Meldung an das Jugendamt" durchlaufen.<br/><br/>

    Haben Sie alle vorher notwendigen Verfahrensschritte unternommen?</p><br/>
  <br/><br/>
  <button ion-button class="bottons" (click)="goMeldung()">Ja</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="goCancel()">Nein</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="goCancel()">Ich bin unsicher</button>
  <br/><br/>
  <button ion-button class="bottons" (click)="goCancel()">Abbrechen</button>
  <br/><br/>
</ion-content>