<!--
  Generated template for the Advice0102Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hinweise</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/imgs/97DEFF.svg" />
      </ion-col>
      <ion-col col-9>
          Für das weitere Vorgehen zur Abwendung der Kindeswohlgefährdung ist es hilfreich, ein strukturiertes Protokoll der Beratung anzufertigen.
        </ion-col>
        </ion-row>
  </ion-grid>

<br/>
Dieses sollte Folgendes beinhalten:<br/>
  <ul>
    <li>Was konkret haben Sie beobachtet? </li>
    <li>Wie lange oder über welchen Zeitraum haben Sie dies beobachtet?   </li>
    <li>Wie gravierend ist eine solche Situation für ein Kind / einen*eine Jugendliche*n diesen Alters?</li>
    <li>Sind Handlungsschritte vereinbart worden?</li>
    <li>Welche Verantwortlichkeiten und Terminketten sind bestimmt?</li>
  </ul>

  <br/>
  <br/>

  <button ion-button class="bottons" (click)="closeAdvice()">Ok</button>
</ion-content>